In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\hp\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
land = pd.read_excel('LND01.xls')
land.head()

,Areaname,STCOU,LND010190F,LND010190D,LND010190N1,LND010190N2,LND010200F,LND010200D,LND010200N1,LND010200N2,LND110180F,LND110180D,LND110180N1,LND110180N2,LND110190F,LND110190D,LND110190N1,LND110190N2,LND110200F,LND110200D,LND110200N1,LND110200N2,LND110210F,LND110210D,LND110210N1,LND110210N2,LND210190F,LND210190D,LND210190N1,LND210190N2,LND210200F,LND210200D,LND210200N1,LND210200N2
0,UNITED STATES,0,0,3787425.08,0,0,0,3794083.06,0,0,0,3539289.16,0,0,0,3536341.73,0,0,0,3537438.44,0,0,0,3531905.43,0,0,0,251083.35,0,0,0,256644.62,0,0
1,ALABAMA,1000,0,52422.94,0,0,0,52419.02,0,0,0,50767.18,0,0,0,50750.23,0,0,0,50744.00,0,0,0,50645.33,0,0,0,1672.71,0,0,0,1675.01,0,0
2,"Autauga, AL",1001,0,604.49,0,0,0,604.45,0,0,0,597.04,0,0,0,596.01,0,0,0,595.97,0,0,0,594.44,0,0,0,8.48,0,0,0,8.48,0,0
3,"Baldwin, AL",1003,0,2027.08,0,0,0,2026.93,0,0,0,1589.42,0,0,0,1596.53,0,0,0,1596.35,0,0,0,1589.78,0,0,0,430.55,0,0,0,430.58,0,0
4,"Barbour, AL",1005,0,904.59,0,0,0,904.52,0,0,0,883.89,0,0,0,885.00,0,0,0,884.90,0,0,0,884.88,0,0,0,19.59,0,0,0,19.61,0,0

In [4]:
land[['County','State']]=land.Areaname.str.split(',',expand=True)
land

,Areaname,STCOU,LND010190F,LND010190D,LND010190N1,LND010190N2,LND010200F,LND010200D,LND010200N1,LND010200N2,LND110180F,LND110180D,LND110180N1,LND110180N2,LND110190F,LND110190D,LND110190N1,LND110190N2,LND110200F,LND110200D,LND110200N1,LND110200N2,LND110210F,LND110210D,LND110210N1,LND110210N2,LND210190F,LND210190D,LND210190N1,LND210190N2,LND210200F,LND210200D,LND210200N1,LND210200N2,County,State
0,UNITED STATES,0,0,3787425.08,0,0,0,3794083.06,0,0,0,3539289.16,0,0,0,3536341.73,0,0,0,3537438.44,0,0,0,3531905.43,0,0,0,251083.35,0,0,0,256644.62,0,0,UNITED STATES,None
1,ALABAMA,1000,0,52422.94,0,0,0,52419.02,0,0,0,50767.18,0,0,0,50750.23,0,0,0,50744.00,0,0,0,50645.33,0,0,0,1672.71,0,0,0,1675.01,0,0,ALABAMA,None
2,"Autauga, AL",1001,0,604.49,0,0,0,604.45,0,0,0,597.04,0,0,0,596.01,0,0,0,595.97,0,0,0,594.44,0,0,0,8.48,0,0,0,8.48,0,0,Autauga,AL
3,"Baldwin, AL",1003,0,2027.08,0,0,0,2026.93,0,0,0,1589.42,0,0,0,1596.53,0,0,0,1596.35,0,0,0,1589.78,0,0,0,430.55,0,0,0,430.58,0,0,Baldwin,AL
4,"Barbour, AL",1005,0,904.59,0,0,0,904.52,0,0,0,883.89,0,0,0,885.00,0,0,0,884.90,0,0,0,884.88,0,0,0,19.59,0,0,0,19.61,0,0,Barbour,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,"Sweetwater, WY",56037,0,10491.73,0,0,0,10491.17,0,0,0,10352.07,0,0,0,10425.87,0,0,0,10425.30,0,0,0,10426.65,0,0,0,65.86,0,0,0,65.87,0,0,Sweetwater,WY
3194,"Teton, WY",56039,0,4221.96,0,0,0,4221.80,0,0,0,4011.38,0,0,0,4007.94,0,0,0,4007.76,0,0,0,3995.38,0,0,0,214.02,0,0,0,214.04,0,0,Teton,WY
3195,"Uinta, WY",56041,0,2087.66,0,0,0,2087.56,0,0,0,2085.04,0,0,0,2081.75,0,0,0,2081.66,0,0,0,2081.26,0,0,0,5.91,0,0,0,5.90,0,0,Uinta,WY
3196,"Washakie, WY",56043,0,2242.85,0,0,0,2242.75,0,0,0,2242.69,0,0,0,2240.16,0,0,0,2240.06,0,0,0,2238.55,0,0,0,2.69,0,0,0,2.69,0,0,Washakie,WY
3197,"Weston, WY",56045,0,2400.13,0,0,0,2400.07,0,0,0,2401.92,0,0,0,2397.92,0,0,0,2397.86,0,0,0,2398.09,0,0,0,2.21,0,0,0,2.21,0,0,Weston,WY

In [5]:
counties_area = land[['State', 'County', 'LND010200D']]
counties_area

     State         County  LND010200D
0     None  UNITED STATES  3794083.06
1     None        ALABAMA    52419.02
2       AL        Autauga      604.45
3       AL        Baldwin     2026.93
4       AL        Barbour      904.52
...    ...            ...         ...
3193    WY     Sweetwater    10491.17
3194    WY          Teton     4221.80
3195    WY          Uinta     2087.56
3196    WY       Washakie     2242.75
3197    WY         Weston     2400.07

[3198 rows x 3 columns]

In [6]:
counties_area.rename(columns = {'LND010200D':'sq_miles'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_960\2075600654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_area.rename(columns = {'LND010200D':'sq_miles'}, inplace = True)

In [7]:
sort_counties = counties_area.sort_values(['State','County'])
sort_counties.tail(53)

     State                County    sq_miles
1     None               ALABAMA    52419.02
69    None                ALASKA   663267.26
99    None               ARIZONA   113998.30
115   None              ARKANSAS    53178.62
191   None            CALIFORNIA   163695.57
250   None              COLORADO   104093.57
315   None           CONNECTICUT     5543.33
324   None              DELAWARE     2489.27
328   None  DISTRICT OF COLUMBIA       68.34
329   None  District of Columbia       68.34
330   None               FLORIDA    65754.59
398   None               GEORGIA    59424.77
558   None                HAWAII    10930.98
564   None                 IDAHO    83570.08
609   None              ILLINOIS    57914.38
712   None               INDIANA    36417.73
805   None                  IOWA    56271.55
905   None                KANSAS    82276.84
1011  None              KENTUCKY    40409.02
1132  None             LOUISIANA    51839.70
1197  None                 MAINE    35384.65
1214  None              MARYLAND    12406.68
1239  None         MASSACHUSETTS    10554.57
1254  None              MICHIGAN    96716.11
1338  None             MINNESOTA    86938.87
1426  None           MISSISSIPPI    48430.19
1509  None              MISSOURI    69704.31
1625  None               MONTANA   147042.40
1683  None              NEBRASKA    77353.73
1777  None                NEVADA   110560.71
1795  None         NEW HAMPSHIRE     9349.94
1806  None            NEW JERSEY     8721.30
1828  None            NEW MEXICO   121589.48
1862  None              NEW YORK    54556.00
1925  None        NORTH CAROLINA    53818.51
2026  None          NORTH DAKOTA    70699.79
2080  None                  OHIO    44824.90
2169  None              OKLAHOMA    69898.19
2247  None                OREGON    98380.64
2284  None          PENNSYLVANIA    46055.24
2352  None          RHODE ISLAND     1545.05
2358  None        SOUTH CAROLINA    32020.20
2405  None          SOUTH DAKOTA    77116.49
2472  None             TENNESSEE    42143.27
2568  None                 TEXAS   268580.82
0     None         UNITED STATES  3794083.06
2823  None                  UTAH    84898.83
2853  None               VERMONT     9614.26
2868  None              VIRGINIA    42774.20
3005  None            WASHINGTON    71299.64
3045  None         WEST VIRGINIA    24229.76
3101  None             WISCONSIN    65497.82
3174  None               WYOMING    97813.56

In [8]:
STATES_AREA = sort_counties.tail(55)
STATES_AREA

     State                County    sq_miles
3196    WY              Washakie     2242.75
3197    WY                Weston     2400.07
1     None               ALABAMA    52419.02
69    None                ALASKA   663267.26
99    None               ARIZONA   113998.30
115   None              ARKANSAS    53178.62
191   None            CALIFORNIA   163695.57
250   None              COLORADO   104093.57
315   None           CONNECTICUT     5543.33
324   None              DELAWARE     2489.27
328   None  DISTRICT OF COLUMBIA       68.34
329   None  District of Columbia       68.34
330   None               FLORIDA    65754.59
398   None               GEORGIA    59424.77
558   None                HAWAII    10930.98
564   None                 IDAHO    83570.08
609   None              ILLINOIS    57914.38
712   None               INDIANA    36417.73
805   None                  IOWA    56271.55
905   None                KANSAS    82276.84
1011  None              KENTUCKY    40409.02
1132  None             LOUISIANA    51839.70
1197  None                 MAINE    35384.65
1214  None              MARYLAND    12406.68
1239  None         MASSACHUSETTS    10554.57
1254  None              MICHIGAN    96716.11
1338  None             MINNESOTA    86938.87
1426  None           MISSISSIPPI    48430.19
1509  None              MISSOURI    69704.31
1625  None               MONTANA   147042.40
1683  None              NEBRASKA    77353.73
1777  None                NEVADA   110560.71
1795  None         NEW HAMPSHIRE     9349.94
1806  None            NEW JERSEY     8721.30
1828  None            NEW MEXICO   121589.48
1862  None              NEW YORK    54556.00
1925  None        NORTH CAROLINA    53818.51
2026  None          NORTH DAKOTA    70699.79
2080  None                  OHIO    44824.90
2169  None              OKLAHOMA    69898.19
2247  None                OREGON    98380.64
2284  None          PENNSYLVANIA    46055.24
2352  None          RHODE ISLAND     1545.05
2358  None        SOUTH CAROLINA    32020.20
2405  None          SOUTH DAKOTA    77116.49
2472  None             TENNESSEE    42143.27
2568  None                 TEXAS   268580.82
0     None         UNITED STATES  3794083.06
2823  None                  UTAH    84898.83
2853  None               VERMONT     9614.26
2868  None              VIRGINIA    42774.20
3005  None            WASHINGTON    71299.64
3045  None         WEST VIRGINIA    24229.76
3101  None             WISCONSIN    65497.82
3174  None               WYOMING    97813.56

In [9]:
sort_counties

     State          County  sq_miles
70      AK  Aleutians East  15011.60
71      AK  Aleutians West  14116.51
72      AK       Anchorage   1961.09
73      AK          Bethel  45508.46
74      AK     Bristol Bay    887.68
...    ...             ...       ...
2868  None        VIRGINIA  42774.20
3005  None      WASHINGTON  71299.64
3045  None   WEST VIRGINIA  24229.76
3101  None       WISCONSIN  65497.82
3174  None         WYOMING  97813.56

[3198 rows x 3 columns]

In [10]:
new_indexco = sort_counties.reset_index(drop=True)
new_indexco

     State          County  sq_miles
0       AK  Aleutians East  15011.60
1       AK  Aleutians West  14116.51
2       AK       Anchorage   1961.09
3       AK          Bethel  45508.46
4       AK     Bristol Bay    887.68
...    ...             ...       ...
3193  None        VIRGINIA  42774.20
3194  None      WASHINGTON  71299.64
3195  None   WEST VIRGINIA  24229.76
3196  None       WISCONSIN  65497.82
3197  None         WYOMING  97813.56

[3198 rows x 3 columns]

In [11]:
counties_only = new_indexco.drop([3145, 3146, 3147, 3148, 3149, 3150, 3151, 3152, 3153, 3154, 3155, 3156, 3157, 3158, 3159, 3160, 3161, 3162, 3163, 3164, 3165, 3166, 3167, 3168, 3169, 3170, 3171, 3172, 3173, 3174, 3175, 3176, 3177, 3178, 3179, 3180, 3181, 3182, 3183, 3184, 3185, 3186, 3187, 3188, 3189, 3190, 3190, 3191, 3192, 3193, 3194, 3195, 3196, 3197])
counties_only

     State          County  sq_miles
0       AK  Aleutians East  15011.60
1       AK  Aleutians West  14116.51
2       AK       Anchorage   1961.09
3       AK          Bethel  45508.46
4       AK     Bristol Bay    887.68
...    ...             ...       ...
3140    WY      Sweetwater  10491.17
3141    WY           Teton   4221.80
3142    WY           Uinta   2087.56
3143    WY        Washakie   2242.75
3144    WY          Weston   2400.07

[3145 rows x 3 columns]

In [12]:
##addin where counties area is null, fill the below four categories

In [13]:
counties_only.at[2923,'sq_miles']=13.15
counties_only.at[26,'sq_miles']=3476.61
counties_only.at[22,'sq_miles']=464
counties_only.at[251,'sq_miles']=33.55

In [14]:
counties_sqmi = counties_only.sort_values(['sq_miles'])
counties_sqmi

     State                     County   sq_miles
1653    MT  Yellowstone National Park       0.00
2847    VA               Falls Church       1.99
2877    VA                  Lexington       2.49
2884    VA              Manassas Park       2.49
2834    VA              Clifton Forge       3.10
...    ...                        ...        ...
24      AK             Valdez-Cordova   40199.15
18      AK           Northwest Arctic   40762.00
3       AK                     Bethel   45508.46
17      AK                North Slope   94762.64
28      AK              Yukon-Koyukuk  147842.51

[3145 rows x 3 columns]

In [15]:
counties_contig = pd.read_csv('../data/usa_counties_contiguous.csv')
counties_contig

,Unnamed: 0,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
0,1,1001,Alabama,Autauga,-0.469519,56145,76.585650,67565,60.721736,35.3,62.758608
1,2,1003,Alabama,Baldwin,-0.823064,229287,77.724729,71135,65.532108,29.6,74.507997
2,3,1005,Alabama,Barbour,0.538758,24589,72.867210,38866,38.355755,40.4,49.837928
3,4,1007,Alabama,Bibb,-0.037711,22136,73.609363,50907,37.770409,41.2,10.604408
4,5,1009,Alabama,Blount,-0.367968,57879,74.171463,55203,56.266590,38.7,23.376714
...,...,...,...,...,...,...,...,...,...,...,...
3102,3103,56037,Wyoming,Sweetwater,0.216082,42673,76.454661,70583,61.926416,33.5,83.073095
3103,3104,56039,Wyoming,Teton,-0.814625,23497,86.714291,92488,76.039794,22.2,96.496666
3104,3105,56041,Wyoming,Uinta,0.399957,20215,77.001445,71246,57.703349,29.8,78.880576
3105,3106,56043,Wyoming,Washakie,-0.138308,7760,78.762004,58532,62.403952,28.9,76.292043
3106,3107,56045,Wyoming,Weston,-0.131395,6743,80.669458,58901,58.281829,33.4,28.232519

In [16]:
counties_contig.drop('Unnamed: 0', inplace=True, axis=1)
counties_contig

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
0,1001,Alabama,Autauga,-0.469519,56145,76.585650,67565,60.721736,35.3,62.758608
1,1003,Alabama,Baldwin,-0.823064,229287,77.724729,71135,65.532108,29.6,74.507997
2,1005,Alabama,Barbour,0.538758,24589,72.867210,38866,38.355755,40.4,49.837928
3,1007,Alabama,Bibb,-0.037711,22136,73.609363,50907,37.770409,41.2,10.604408
4,1009,Alabama,Blount,-0.367968,57879,74.171463,55203,56.266590,38.7,23.376714
...,...,...,...,...,...,...,...,...,...,...
3102,56037,Wyoming,Sweetwater,0.216082,42673,76.454661,70583,61.926416,33.5,83.073095
3103,56039,Wyoming,Teton,-0.814625,23497,86.714291,92488,76.039794,22.2,96.496666
3104,56041,Wyoming,Uinta,0.399957,20215,77.001445,71246,57.703349,29.8,78.880576
3105,56043,Wyoming,Washakie,-0.138308,7760,78.762004,58532,62.403952,28.9,76.292043
3106,56045,Wyoming,Weston,-0.131395,6743,80.669458,58901,58.281829,33.4,28.232519

In [17]:
counties_contig.drop('Adult Obesity', inplace=True, axis=1)
counties_contig

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Percent Exercise
0,1001,Alabama,Autauga,-0.469519,56145,76.585650,67565,60.721736,62.758608
1,1003,Alabama,Baldwin,-0.823064,229287,77.724729,71135,65.532108,74.507997
2,1005,Alabama,Barbour,0.538758,24589,72.867210,38866,38.355755,49.837928
3,1007,Alabama,Bibb,-0.037711,22136,73.609363,50907,37.770409,10.604408
4,1009,Alabama,Blount,-0.367968,57879,74.171463,55203,56.266590,23.376714
...,...,...,...,...,...,...,...,...,...
3102,56037,Wyoming,Sweetwater,0.216082,42673,76.454661,70583,61.926416,83.073095
3103,56039,Wyoming,Teton,-0.814625,23497,86.714291,92488,76.039794,96.496666
3104,56041,Wyoming,Uinta,0.399957,20215,77.001445,71246,57.703349,78.880576
3105,56043,Wyoming,Washakie,-0.138308,7760,78.762004,58532,62.403952,76.292043
3106,56045,Wyoming,Weston,-0.131395,6743,80.669458,58901,58.281829,28.232519

In [18]:
pip install lxml

Requirement already satisfied: lxml in c:\users\hp\anaconda3\lib\site-packages (4.9.1)Note: you may need to restart the kernel to use updated packages.

In [19]:
location = 'http://app02.clerk.org/menu/ccis/Help/CCIS%20Codes/'
filename = 'state_codes.html'
states = pd.read_html(location + filename)[0]

state_code_map = dict(zip(states['Description'], 
                          states['Code']))
counties_contig['StAbbr'] = counties_contig['State'].map(state_code_map)

counties_contig

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Percent Exercise,StAbbr
0,1001,Alabama,Autauga,-0.469519,56145,76.585650,67565,60.721736,62.758608,AL
1,1003,Alabama,Baldwin,-0.823064,229287,77.724729,71135,65.532108,74.507997,AL
2,1005,Alabama,Barbour,0.538758,24589,72.867210,38866,38.355755,49.837928,AL
3,1007,Alabama,Bibb,-0.037711,22136,73.609363,50907,37.770409,10.604408,AL
4,1009,Alabama,Blount,-0.367968,57879,74.171463,55203,56.266590,23.376714,AL
...,...,...,...,...,...,...,...,...,...,...
3102,56037,Wyoming,Sweetwater,0.216082,42673,76.454661,70583,61.926416,83.073095,WY
3103,56039,Wyoming,Teton,-0.814625,23497,86.714291,92488,76.039794,96.496666,WY
3104,56041,Wyoming,Uinta,0.399957,20215,77.001445,71246,57.703349,78.880576,WY
3105,56043,Wyoming,Washakie,-0.138308,7760,78.762004,58532,62.403952,76.292043,WY
3106,56045,Wyoming,Weston,-0.131395,6743,80.669458,58901,58.281829,28.232519,WY

In [20]:
nameDict={"State":"StAbbr"}
counties_sqmi=counties_sqmi.rename(columns=nameDict)

In [21]:
counties_sqmi = counties_sqmi[['County', 'StAbbr', 'sq_miles']]
counties_sqmi

                         County StAbbr   sq_miles
1653  Yellowstone National Park     MT       0.00
2847               Falls Church     VA       1.99
2877                  Lexington     VA       2.49
2884              Manassas Park     VA       2.49
2834              Clifton Forge     VA       3.10
...                         ...    ...        ...
24               Valdez-Cordova     AK   40199.15
18             Northwest Arctic     AK   40762.00
3                        Bethel     AK   45508.46
17                  North Slope     AK   94762.64
28                Yukon-Koyukuk     AK  147842.51

[3145 rows x 3 columns]

In [22]:
print(counties_sqmi.columns.values)
print(counties_contig.columns.values)

['County' 'StAbbr' 'sq_miles']
['STCOU' 'State' 'County' 'Quality of Life' 'Population' 'Life Expectancy'
 'Median Household Income' 'Percent Some College' ' Percent Exercise'
 'StAbbr']

In [23]:
counties_contig['StAbbr'] = counties_contig['StAbbr'].str.strip()
counties_sqmi['StAbbr'] = counties_sqmi['StAbbr'].str.strip()

In [24]:
COUNTIES_ALL = pd.merge(counties_sqmi, counties_contig, how = "inner", on = ['County','StAbbr'])
COUNTIES_ALL

,County,StAbbr,sq_miles,STCOU,State,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Percent Exercise
0,Fairfax,VA,6.31,51059,Virginia,-0.800012,1150847,85.186322,132509,81.954164,99.248793
1,Fairfax,VA,406.61,51059,Virginia,-0.800012,1150847,85.186322,132509,81.954164,99.248793
2,Bedford,VA,6.90,51019,Virginia,-0.329727,79811,79.123472,70004,67.585059,44.213464
3,Bedford,VA,769.25,51019,Virginia,-0.329727,79811,79.123472,70004,67.585059,44.213464
4,Franklin,VA,8.40,51067,Virginia,-0.010133,56167,77.637560,61714,57.981177,36.200787
...,...,...,...,...,...,...,...,...,...,...,...
3065,Mohave,AZ,13469.71,4015,Arizona,-0.111565,217206,75.467161,46678,51.304753,53.666091
3066,Elko,NV,17202.94,32007,Nevada,-0.163714,53006,78.483466,73914,52.527397,65.912164
3067,Nye,NV,18158.73,32023,Nevada,0.565727,48054,74.097546,52783,48.216467,16.217631
3068,Coconino,AZ,18661.21,4005,Arizona,-0.086696,142481,77.965251,57146,71.555556,77.272896
3069,San Bernardino,CA,20105.32,6071,California,0.296591,2189183,77.582043,65984,57.106944,82.142973

In [25]:
contig = COUNTIES_ALL.drop_duplicates(subset=['STCOU'], keep='last')
contig

,County,StAbbr,sq_miles,STCOU,State,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Percent Exercise
1,Fairfax,VA,406.61,51059,Virginia,-0.800012,1150847,85.186322,132509,81.954164,99.248793
3,Bedford,VA,769.25,51019,Virginia,-0.329727,79811,79.123472,70004,67.585059,44.213464
5,Franklin,VA,711.56,51067,Virginia,-0.010133,56167,77.637560,61714,57.981177,36.200787
6,Arlington,VA,25.96,51013,Virginia,-0.959013,240119,85.310920,125004,91.243026,100.000000
7,Broomfield,CO,33.55,8014,Colorado,-0.622470,72236,81.800831,106263,85.696476,98.924654
...,...,...,...,...,...,...,...,...,...,...,...
3065,Mohave,AZ,13469.71,4015,Arizona,-0.111565,217206,75.467161,46678,51.304753,53.666091
3066,Elko,NV,17202.94,32007,Nevada,-0.163714,53006,78.483466,73914,52.527397,65.912164
3067,Nye,NV,18158.73,32023,Nevada,0.565727,48054,74.097546,52783,48.216467,16.217631
3068,Coconino,AZ,18661.21,4005,Arizona,-0.086696,142481,77.965251,57146,71.555556,77.272896
3069,San Bernardino,CA,20105.32,6071,California,0.296591,2189183,77.582043,65984,57.106944,82.142973

In [26]:
contig['Density'] =contig['Population'] / contig['sq_miles']
contig

C:\Users\HP\AppData\Local\Temp\ipykernel_960\501544040.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contig['Density'] =contig['Population'] / contig['sq_miles']

,County,StAbbr,sq_miles,STCOU,State,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Percent Exercise,Density
1,Fairfax,VA,406.61,51059,Virginia,-0.800012,1150847,85.186322,132509,81.954164,99.248793,2830.346032
3,Bedford,VA,769.25,51019,Virginia,-0.329727,79811,79.123472,70004,67.585059,44.213464,103.751706
5,Franklin,VA,711.56,51067,Virginia,-0.010133,56167,77.637560,61714,57.981177,36.200787,78.935016
6,Arlington,VA,25.96,51013,Virginia,-0.959013,240119,85.310920,125004,91.243026,100.000000,9249.576271
7,Broomfield,CO,33.55,8014,Colorado,-0.622470,72236,81.800831,106263,85.696476,98.924654,2153.084948
...,...,...,...,...,...,...,...,...,...,...,...,...
3065,Mohave,AZ,13469.71,4015,Arizona,-0.111565,217206,75.467161,46678,51.304753,53.666091,16.125514
3066,Elko,NV,17202.94,32007,Nevada,-0.163714,53006,78.483466,73914,52.527397,65.912164,3.081218
3067,Nye,NV,18158.73,32023,Nevada,0.565727,48054,74.097546,52783,48.216467,16.217631,2.646330
3068,Coconino,AZ,18661.21,4005,Arizona,-0.086696,142481,77.965251,57146,71.555556,77.272896,7.635143
3069,San Bernardino,CA,20105.32,6071,California,0.296591,2189183,77.582043,65984,57.106944,82.142973,108.885758

In [27]:
contig.sort_values(by = 'Density')

,County,StAbbr,sq_miles,STCOU,State,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Percent Exercise,Density
2776,Kenedy,TX,1945.60,48261,Texas,NaN,379,NaN,45980,1.111111,0.000000,0.194799
2943,Esmeralda,NV,3589.00,32009,Nevada,NaN,886,NaN,35395,51.020408,4.980843,0.246865
3004,Garfield,MT,4847.54,30033,Montana,NaN,1268,NaN,45892,73.122530,8.623549,0.261576
1601,Loving,TX,676.85,48301,Texas,NaN,181,NaN,97491,100.000000,NaN,0.267415
2841,Terrell,TX,2357.75,48443,Texas,NaN,702,NaN,42849,66.850829,NaN,0.297741
...,...,...,...,...,...,...,...,...,...,...,...,...
35,Philadelphia,PA,142.64,42101,Pennsylvania,0.916378,1578487,75.290701,55102,65.084797,99.493646,11066.229669
64,Queens,NY,178.28,36081,New York,0.135454,2225821,81.814663,78847,66.931866,95.715513,12484.973076
12,Bronx,NY,57.43,36005,New York,1.298329,1401142,77.995462,44906,52.829416,99.714607,24397.388125
19,Kings,NY,96.90,36047,New York,0.157773,2538934,80.716933,70390,69.596477,99.947618,26201.589267
8,New York,NY,33.77,36061,New York,-0.270941,1611989,83.680026,87745,84.978724,100.000000,47734.350015

In [28]:
contig.corr()

C:\Users\HP\AppData\Local\Temp\ipykernel_960\2321748410.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  contig.corr()

,sq_miles,STCOU,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Percent Exercise,Density
sq_miles,1.000000,0.001347,0.060537,0.129787,0.112252,0.001136,0.021256,0.062474,-0.058734
STCOU,0.001347,1.000000,-0.004503,-0.057473,0.045589,0.053014,0.000473,-0.027296,0.006731
Quality of Life,0.060537,-0.004503,1.000000,-0.126484,-0.514966,-0.614261,-0.509052,-0.275212,-0.039872
Population,0.129787,-0.057473,-0.126484,1.000000,0.182078,0.293420,0.203735,0.344567,0.362676
Life Expectancy,0.112252,0.045589,-0.514966,0.182078,1.000000,0.652448,0.546471,0.333262,0.113224
Median Household Income,0.001136,0.053014,-0.614261,0.293420,0.652448,1.000000,0.574727,0.445933,0.174284
Percent Some College,0.021256,0.000473,-0.509052,0.203735,0.546471,0.574727,1.000000,0.382577,0.135433
Percent Exercise,0.062474,-0.027296,-0.275212,0.344567,0.333262,0.445933,0.382577,1.000000,0.203368
Density,-0.058734,0.006731,-0.039872,0.362676,0.113224,0.174284,0.135433,0.203368,1.000000

In [29]:
capstone=contig.reindex(columns= ['County', 'State', 'StAbbr', 'STCOU', 'Quality of Life', 'Life Expectancy', 'Median Household Income', 'Percent Some College', ' Percent Exercise', 'Population', 'sq_miles','Density'])
capstone

,County,State,StAbbr,STCOU,Quality of Life,Life Expectancy,Median Household Income,Percent Some College,Percent Exercise,Population,sq_miles,Density
1,Fairfax,Virginia,VA,51059,-0.800012,85.186322,132509,81.954164,99.248793,1150847,406.61,2830.346032
3,Bedford,Virginia,VA,51019,-0.329727,79.123472,70004,67.585059,44.213464,79811,769.25,103.751706
5,Franklin,Virginia,VA,51067,-0.010133,77.637560,61714,57.981177,36.200787,56167,711.56,78.935016
6,Arlington,Virginia,VA,51013,-0.959013,85.310920,125004,91.243026,100.000000,240119,25.96,9249.576271
7,Broomfield,Colorado,CO,8014,-0.622470,81.800831,106263,85.696476,98.924654,72236,33.55,2153.084948
...,...,...,...,...,...,...,...,...,...,...,...,...
3065,Mohave,Arizona,AZ,4015,-0.111565,75.467161,46678,51.304753,53.666091,217206,13469.71,16.125514
3066,Elko,Nevada,NV,32007,-0.163714,78.483466,73914,52.527397,65.912164,53006,17202.94,3.081218
3067,Nye,Nevada,NV,32023,0.565727,74.097546,52783,48.216467,16.217631,48054,18158.73,2.646330
3068,Coconino,Arizona,AZ,4005,-0.086696,77.965251,57146,71.555556,77.272896,142481,18661.21,7.635143
3069,San Bernardino,California,CA,6071,0.296591,77.582043,65984,57.106944,82.142973,2189183,20105.32,108.885758

In [30]:
capstone.sort_values(by = 'Quality of Life').head(20)

,County,State,StAbbr,STCOU,Quality of Life,Life Expectancy,Median Household Income,Percent Some College,Percent Exercise,Population,sq_miles,Density
1295,Williamson,Tennessee,TN,47187,-1.676745,81.513946,118257,85.323142,78.936795,245348,583.62,420.389980
519,Hamilton,Indiana,IN,18057,-1.349825,81.565383,96359,87.447642,85.805754,344238,402.73,854.761254
85,Oldham,Kentucky,KY,21185,-1.242710,79.791936,105897,77.378782,89.936335,66999,196.54,340.892439
71,Oconee,Georgia,GA,13219,-1.239619,80.554969,104519,84.428636,71.467325,41124,186.14,220.930482
159,Forsyth,Georgia,GA,13117,-1.205836,82.259084,116690,83.006127,85.639647,250847,247.37,1014.055868
787,Delaware,Ohio,OH,39041,-1.174692,81.718717,114423,85.474454,89.779811,213554,455.97,468.350988
1952,Shelby,Alabama,AL,1117,-1.144617,80.261566,88444,77.700361,79.194197,221428,809.53,273.526614
2869,Leelanau,Michigan,MI,26089,-1.121363,82.314374,77687,73.770921,59.360604,21743,2532.38,8.585994
632,Boone,Indiana,IN,18011,-1.084686,78.232373,92302,80.365960,73.621116,69347,423.28,163.832451
1808,Madison,Mississippi,MS,28089,-1.061426,76.089767,67151,76.242605,73.374789,106871,741.97,144.036821
1840,Chester,Pennsylvania,PA,42029,-1.055733,81.243895,107491,78.185775,81.421006,526759,759.81,693.277267
1437,San Juan,Washington,WA,53055,-1.047957,86.272055,74533,68.533931,80.867525,17492,621.07,28.164297
1335,Dallas,Iowa,IA,19049,-1.033279,81.756679,92025,84.624982,73.504196,96963,591.73,163.863586
864,Johnson,Kansas,KS,20091,-1.029688,81.392640,91799,84.892446,92.076320,607220,480.15,1264.646465
25,Los Alamos,New Mexico,NM,35028,-1.009156,83.868708,111724,85.321101,97.994429,19462,109.35,177.978967
341,DuPage,Illinois,IL,17043,-0.997386,81.925750,92101,79.296059,99.106251,917481,336.55,2726.135790
2081,Benton,Arkansas,AR,5007,-0.976985,79.471534,78678,64.284638,74.319935,288774,880.24,328.062801
556,Hendricks,Indiana,IN,18063,-0.967227,79.216259,86905,75.011218,67.822865,173251,408.88,423.720896
2030,Wake,North Carolina,NC,37183,-0.967108,81.639840,88763,81.206319,87.816886,1132271,857.26,1320.802324
654,Platte,Missouri,MO,29165,-0.961153,80.187309,86924,79.474566,78.437563,106532,427.22,249.360985

In [31]:
capstone['QOL_rank'] = capstone['Quality of Life'].rank(ascending = 1)
capstone['LE_rank'] = capstone['Life Expectancy'].rank(ascending = 0)
capstone['MHI_rank'] = capstone['Median Household Income'].rank(ascending = 0)
capstone['PSC_rank'] = capstone['Percent Some College'].rank(ascending = 0)
capstone['PE_rank'] = capstone[' Percent Exercise'].rank(ascending = 0)
capstone['SQM_rank'] = capstone['sq_miles'].rank(ascending = 0)
capstone['POP_rank'] = capstone['Population'].rank(ascending = 0)
capstone['DEN_rank'] = capstone['Density'].rank(ascending = 0)
capstone

,County,State,StAbbr,STCOU,Quality of Life,Life Expectancy,Median Household Income,Percent Some College,Percent Exercise,Population,sq_miles,Density,QOL_rank,LE_rank,MHI_rank,PSC_rank,PE_rank,SQM_rank,POP_rank,DEN_rank
1,Fairfax,Virginia,VA,51059,-0.800012,85.186322,132509,81.954164,99.248793,1150847,406.61,2830.346032,54.0,24.0,3.0,57.0,34.0,2530.0,39.0,21.0
3,Bedford,Virginia,VA,51019,-0.329727,79.123472,70004,67.585059,44.213464,79811,769.25,103.751706,568.0,669.0,440.0,729.0,2043.0,1203.0,689.0,780.0
5,Franklin,Virginia,VA,51067,-0.010133,77.637560,61714,57.981177,36.200787,56167,711.56,78.935016,1521.0,1220.0,924.0,1616.0,2357.0,1381.0,895.0,970.0
6,Arlington,Virginia,VA,51013,-0.959013,85.310920,125004,91.243026,100.000000,240119,25.96,9249.576271,21.0,21.0,6.0,4.0,10.0,3065.0,279.0,7.0
7,Broomfield,Colorado,CO,8014,-0.622470,81.800831,106263,85.696476,98.924654,72236,33.55,2153.084948,141.0,133.0,34.0,16.0,38.0,3064.0,735.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3065,Mohave,Arizona,AZ,4015,-0.111565,75.467161,46678,51.304753,53.666091,217206,13469.71,16.125514,1169.0,2059.0,2404.0,2229.0,1608.0,5.0,306.0,2302.0
3066,Elko,Nevada,NV,32007,-0.163714,78.483466,73914,52.527397,65.912164,53006,17202.94,3.081218,1022.0,873.0,317.0,2138.0,1001.0,4.0,929.0,2843.0
3067,Nye,Nevada,NV,32023,0.565727,74.097546,52783,48.216467,16.217631,48054,18158.73,2.646330,2795.0,2477.0,1771.0,2478.0,2769.0,3.0,996.0,2867.0
3068,Coconino,Arizona,AZ,4005,-0.086696,77.965251,57146,71.555556,77.272896,142481,18661.21,7.635143,1258.0,1088.0,1305.0,433.0,539.0,2.0,449.0,2601.0
3069,San Bernardino,California,CA,6071,0.296591,77.582043,65984,57.106944,82.142973,2189183,20105.32,108.885758,2391.0,1239.0,629.0,1712.0,372.0,1.0,14.0,758.0

In [32]:
capstone.rename(columns={' Percent Exercise': 'Percent Access to Exercise'}, inplace=True)
capstone.rename(columns={'PE_rank': 'PAE_rank'}, inplace=True)
capstone.rename(columns={'sq_miles': 'Square Miles'}, inplace=True)
capstone

,County,State,StAbbr,STCOU,Quality of Life,Life Expectancy,Median Household Income,Percent Some College,Percent Access to Exercise,Population,Square Miles,Density,QOL_rank,LE_rank,MHI_rank,PSC_rank,PAE_rank,SQM_rank,POP_rank,DEN_rank
1,Fairfax,Virginia,VA,51059,-0.800012,85.186322,132509,81.954164,99.248793,1150847,406.61,2830.346032,54.0,24.0,3.0,57.0,34.0,2530.0,39.0,21.0
3,Bedford,Virginia,VA,51019,-0.329727,79.123472,70004,67.585059,44.213464,79811,769.25,103.751706,568.0,669.0,440.0,729.0,2043.0,1203.0,689.0,780.0
5,Franklin,Virginia,VA,51067,-0.010133,77.637560,61714,57.981177,36.200787,56167,711.56,78.935016,1521.0,1220.0,924.0,1616.0,2357.0,1381.0,895.0,970.0
6,Arlington,Virginia,VA,51013,-0.959013,85.310920,125004,91.243026,100.000000,240119,25.96,9249.576271,21.0,21.0,6.0,4.0,10.0,3065.0,279.0,7.0
7,Broomfield,Colorado,CO,8014,-0.622470,81.800831,106263,85.696476,98.924654,72236,33.55,2153.084948,141.0,133.0,34.0,16.0,38.0,3064.0,735.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3065,Mohave,Arizona,AZ,4015,-0.111565,75.467161,46678,51.304753,53.666091,217206,13469.71,16.125514,1169.0,2059.0,2404.0,2229.0,1608.0,5.0,306.0,2302.0
3066,Elko,Nevada,NV,32007,-0.163714,78.483466,73914,52.527397,65.912164,53006,17202.94,3.081218,1022.0,873.0,317.0,2138.0,1001.0,4.0,929.0,2843.0
3067,Nye,Nevada,NV,32023,0.565727,74.097546,52783,48.216467,16.217631,48054,18158.73,2.646330,2795.0,2477.0,1771.0,2478.0,2769.0,3.0,996.0,2867.0
3068,Coconino,Arizona,AZ,4005,-0.086696,77.965251,57146,71.555556,77.272896,142481,18661.21,7.635143,1258.0,1088.0,1305.0,433.0,539.0,2.0,449.0,2601.0
3069,San Bernardino,California,CA,6071,0.296591,77.582043,65984,57.106944,82.142973,2189183,20105.32,108.885758,2391.0,1239.0,629.0,1712.0,372.0,1.0,14.0,758.0

In [33]:
capstone.reindex(columns= ['County', 'State', 'StAbbr', 'STCOU', 'Quality of Life', 'Life Expectancy', 'Median Household Income', 'Percent Some College', 'Percent Access to Exercise', 'Square Miles', 'Population', 'Density', 'QOL_rank, LE_rank, MHI_rank', 'PSC_rank', 'PAE_rank', 'SQM_rank'])
pd.set_option('display.max_rows', None)
capstone.head()

,County,State,StAbbr,STCOU,Quality of Life,Life Expectancy,Median Household Income,Percent Some College,Percent Access to Exercise,Population,Square Miles,Density,QOL_rank,LE_rank,MHI_rank,PSC_rank,PAE_rank,SQM_rank,POP_rank,DEN_rank
1,Fairfax,Virginia,VA,51059,-0.800012,85.186322,132509,81.954164,99.248793,1150847,406.61,2830.346032,54.0,24.0,3.0,57.0,34.0,2530.0,39.0,21.0
3,Bedford,Virginia,VA,51019,-0.329727,79.123472,70004,67.585059,44.213464,79811,769.25,103.751706,568.0,669.0,440.0,729.0,2043.0,1203.0,689.0,780.0
5,Franklin,Virginia,VA,51067,-0.010133,77.637560,61714,57.981177,36.200787,56167,711.56,78.935016,1521.0,1220.0,924.0,1616.0,2357.0,1381.0,895.0,970.0
6,Arlington,Virginia,VA,51013,-0.959013,85.310920,125004,91.243026,100.000000,240119,25.96,9249.576271,21.0,21.0,6.0,4.0,10.0,3065.0,279.0,7.0
7,Broomfield,Colorado,CO,8014,-0.622470,81.800831,106263,85.696476,98.924654,72236,33.55,2153.084948,141.0,133.0,34.0,16.0,38.0,3064.0,735.0,34.0

In [34]:
capstone.to_csv('../data/capstonefull.csv')

In [35]:
capstone.corr()

C:\Users\HP\AppData\Local\Temp\ipykernel_960\2257190745.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  capstone.corr()

,STCOU,Quality of Life,Life Expectancy,Median Household Income,Percent Some College,Percent Access to Exercise,Population,Square Miles,Density,QOL_rank,LE_rank,MHI_rank,PSC_rank,PAE_rank,SQM_rank,POP_rank,DEN_rank
STCOU,1.000000,-0.004503,0.045589,0.053014,0.000473,-0.027296,-0.057473,0.001347,0.006731,-0.004811,-0.068517,-0.069330,0.006547,0.024301,-0.081106,0.018905,0.044459
Quality of Life,-0.004503,1.000000,-0.514966,-0.614261,-0.509052,-0.275212,-0.126484,0.060537,-0.039872,0.967627,0.506263,0.605973,0.503715,0.280458,-0.039613,0.277759,0.293012
Life Expectancy,0.045589,-0.514966,1.000000,0.652448,0.546471,0.333262,0.182078,0.112252,0.113224,-0.494775,-0.946270,-0.666483,-0.555848,-0.340486,-0.188534,-0.147826,-0.065221
Median Household Income,0.053014,-0.614261,0.652448,1.000000,0.574727,0.445933,0.293420,0.001136,0.174284,-0.589761,-0.659800,-0.913329,-0.574278,-0.449290,0.004392,-0.414800,-0.388997
Percent Some College,0.000473,-0.509052,0.546471,0.574727,1.000000,0.382577,0.203735,0.021256,0.135433,-0.501742,-0.574652,-0.574065,-0.979338,-0.394552,-0.070303,-0.260721,-0.217596
Percent Access to Exercise,-0.027296,-0.275212,0.333262,0.445933,0.382577,1.000000,0.344567,0.062474,0.203368,-0.262913,-0.337654,-0.424971,-0.387453,-0.984684,-0.067777,-0.542466,-0.465037
Population,-0.057473,-0.126484,0.182078,0.293420,0.203735,0.344567,1.000000,0.129787,0.362676,-0.130041,-0.195260,-0.249173,-0.210206,-0.340467,-0.084108,-0.412479,-0.385260
Square Miles,0.001347,0.060537,0.112252,0.001136,0.021256,0.062474,0.129787,1.000000,-0.058734,0.058161,-0.127718,-0.024773,-0.025070,-0.069159,-0.600232,-0.017270,0.302502
Density,0.006731,-0.039872,0.113224,0.174284,0.135433,0.203368,0.362676,-0.058734,1.000000,-0.049495,-0.110672,-0.133603,-0.128404,-0.193584,0.118554,-0.216184,-0.226896
QOL_rank,-0.004811,0.967627,-0.494775,-0.589761,-0.501742,-0.262913,-0.130041,0.058161,-0.049495,1.000000,0.498197,0.599100,0.502952,0.267602,-0.041154,0.262266,0.282522
LE_rank,-0.068517,0.506263,-0.946270,-0.659800,-0.574652,-0.337654,-0.195260,-0.127718,-0.110672,0.498197,1.000000,0.697829,0.591146,0.346769,0.200580,0.156395,0.067225
MHI_rank,-0.069330,0.605973,-0.666483,-0.913329,-0.574065,-0.424971,-0.249173,-0.024773,-0.133603,0.599100,0.697829,1.000000,0.587541,0.430032,0.037125,0.389046,0.348217
PSC_rank,0.006547,0.503715,-0.555848,-0.574278,-0.979338,-0.387453,-0.210206,-0.025070,-0.128404,0.502952,0.591146,0.587541,1.000000,0.401509,0.079164,0.257887,0.212863
PAE_rank,0.024301,0.280458,-0.340486,-0.449290,-0.394552,-0.984684,-0.340467,-0.069159,-0.193584,0.267602,0.346769,0.430032,0.401509,1.000000,0.072946,0.534194,0.458626
SQM_rank,-0.081106,-0.039613,-0.188534,0.004392,-0.070303,-0.067777,-0.084108,-0.600232,0.118554,-0.041154,0.200580,0.037125,0.079164,0.072946,1.000000,-0.005960,-0.407771
POP_rank,0.018905,0.277759,-0.147826,-0.414800,-0.260721,-0.542466,-0.412479,-0.017270,-0.216184,0.262266,0.156395,0.389046,0.257887,0.534194,-0.005960,1.000000,0.884359
DEN_rank,0.044459,0.293012,-0.065221,-0.388997,-0.217596,-0.465037,-0.385260,0.302502,-0.226896,0.282522,0.067225,0.348217,0.212863,0.458626,-0.407771,0.884359,1.000000