In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
alabama_subrank = pd.read_excel('2022 County Health Rankings Alabama Data - v1.xlsx', 2)
alabama_data = pd.read_excel('2022 County Health Rankings Alabama Data - v1.xlsx', 3)
alabama_data2 = pd.read_excel('2022 County Health Rankings Alabama Data - v1.xlsx', 4)

In [3]:
alabama_data2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,COVID-19 age-adjusted mortality,Unnamed: 4,Life expectancy,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Premature age-adjusted mortality,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Child mortality,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Infant mortality,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Frequent physical distress,Unnamed: 81,Unnamed: 82,Frequent mental distress,Unnamed: 84,Unnamed: 85,Diabetes prevalence,Unnamed: 87,Unnamed: 88,HIV prevalence,Unnamed: 90,Food insecurity,Unnamed: 92,Limited access to healthy foods,Unnamed: 94,Drug overdose deaths,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Motor vehicle crash deaths,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Insufficient sleep,Unnamed: 134,Unnamed: 135,Uninsured adults,Unnamed: 137,Unnamed: 138,Unnamed: 139,Uninsured children,Unnamed: 141,Unnamed: 142,Unnamed: 143,Other primary care providers,Unnamed: 145,High school graduation,Unnamed: 147,Disconnected youth,Unnamed: 149,Unnamed: 150,Reading scores,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Math scores,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,School segregation,School funding adequacy,Unnamed: 163,Gender pay gap,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Median household income,Unnamed: 170,Unnamed: 171,Unnamed: 172,Unnamed: 173,Unnamed: 174,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Children eligible for free or reduced price lunch,Residential segregation - Black/white,Residential segregation - non-white/white,Childcare cost burden,Childcare centers,Unnamed: 192,Homicides,Unnamed: 194,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198,Unnamed: 199,Unnamed: 200,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210,Suicides,Unnamed: 212,Unnamed: 213,Unnamed: 214,Unnamed: 215,Unnamed: 216,Unnamed: 217,Unnamed: 218,Unnamed: 219,Unnamed: 220,Unnamed: 221,Unnamed: 222,Unnamed: 223,Unnamed: 224,Unnamed: 225,Unnamed: 226,Unnamed: 227,Unnamed: 228,Unnamed: 229,Unnamed: 230,Firearm fatalities,Unnamed: 232,Unnamed: 233,Unnamed: 234,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Juvenile arrests,Unnamed: 251,Unnamed: 252,Unnamed: 253,Traffic volume,Homeownership,Unnamed: 256,Unnamed: 257,Unnamed: 258,Severe housing cost burden,Unnamed: 260,Unnamed: 261,Unnamed: 262,Broadband access,Unnamed: 264,Unnamed: 265,Unnamed: 266,Population,% below 18 years of age,% 65 and older,% non-Hispanic Black,Unnamed: 271,% American Indian & Alaska Native,Unnamed: 273,% Asian,Unnamed: 275,% Native Hawaiian/Other Pacific Islander,Unnamed: 277,% Hispanic,Unnamed: 279,% non-Hispanic white,Unnamed: 281,% not proficient in English,Unnamed: 283,Unnamed: 284,Unnamed: 285,% female,% rural,Unnamed: 288
0,FIPS,State,County,# deaths due to COVID-19 during 2020,COVID-19 death rate,Life Expectancy,95% CI - Low,95% CI - High,Life Expectancy (AIAN),Life Expectancy (AIAN) 95% CI - Low,Life Expectancy (AIAN) 95% CI - High,Life Expectancy (Asian),Life Expectancy (Asian) 95% CI - Low,Life Expectancy (Asian) 95% CI - High,Life Expectancy (Black),Life Expectancy (Black) 95% CI - Low,Life Expectancy (Black) 95% CI - High,Life Expectancy (Hispanic),Life Expectancy (Hispanic) 95% CI - Low,Life Expectancy (Hispanic) 95% CI - High,Life Expectancy (white),Life Expectancy (white) 95% CI - Low,Life Expectancy (white) 95% CI - High,# Deaths,Age-adjusted Death Rate,95% CI - Low,95% CI - High,Age-Adjusted Mortality (AIAN),Age-Adjusted Mortality (AIAN) 95% CI - Low,Age-Adjusted Mortality (AIAN) 95% CI - High,Age-Adjusted Mortality (Asian),Age-Adjusted Mortality (Asian) 95% CI - Low,Age-Adjusted Mortality (Asian) 95% CI - High,Age-Adjusted Mortality (Black),Age-Adjusted Mortality (Black) 95% CI - Low,Age-Adjusted Mortality (Black) 95% CI - High,Age-Adjusted Mortality (Hispanic),Age-Adjusted Mortality (Hispanic) 95% CI - Low,Age-Adjusted Mortality (Hispanic) 95% CI - High,Age-Adjusted Mortality (white),Age-Adjusted Mortality (white) 95% CI - Low,Age-Adjusted Mortality (white) 95% CI - High,# Deaths,Child Mortality Rate,95% CI - Low,95% CI - High,Child Mortality Rate (AIAN),Child Mortality Rate (AIAN) 95% CI - Low,Child Mortality Rate (AIAN) 95% CI - High,Child Mortality Rate (Asian),Child Mortality Rate (Asian) 95% CI - Low,Child Mortality Rate (Asian) 95% CI - High,Child Mortality Rate (Black),Child Mortality Rate (Black) 95% CI - Low,Child Mortality Rate (Black) 95% CI - High,Child Mortality Rate (Hispanic),Child Mortality Rate (Hispanic) 95% CI - Low,Child Mortality Rate (Hispanic) 95% CI - High,Child Mortality Rate (white),Child Mortality Rate (white) 95% CI - Low,Child Mortality Rate (white) 95% CI - High,# Deaths,Infant Mortality Rate,95% CI - Low,95% CI - High,Infant Mortality Rate (AIAN),Infant Mortality Rate (AIAN) 95% CI - Low,Infant Mortality Rate (AIAN) 95% CI - High,Infant Mortality Rate (Asian),Infant Mortality Rate (Asian) 95% CI - Low,Infant Mortality Rate (Asian) 95% CI - High,Infant Mortality Rate (Black),Infant Mortality Rate (Black) 95% CI - Low,Infant Mortality Rate (Black) 95% CI - High,Infant Mortality Rate (Hispanic),Infant Mortality Rate (Hispanic) 95% CI - Low,Infant Mortality Rate (Hispanic) 95% CI - High,Infant Mortality Rate (white),Infant Mortality Rate (white) 95% CI - Low,Infant Mortality Rate (white) 95% CI - High,% Frequent Physical Distress,95% CI - Low,95% CI - High,% Frequent Mental Distress,95% CI - Low,95% CI - High,% Adults with Diabetes,95% CI - Low,95% CI - High,# HIV Cases,HIV Prevalence Rate,# Food Insecure,% Food Insecure,# Limited Access,% Limited Access to Healthy Foods,# Drug Overdose Deaths,Drug Overdose Mortality Rate,95% CI - Low,95% CI - High,Drug Overdose Mortality Rate (AIAN),Drug Overdose Mortality Rate (AIAN) 95% CI - Low,Drug Overdose Mortality Rate (AIAN) 95% CI - High,Drug Overdose Mortality Rate (Asian),Drug Overdose Mortality Rate (Asian) 95% CI - Low,Drug Overdose Mortality Rate (Asian) 95% CI - ...,Drug Overdose Mortality Rate (Black),Drug Overdose Mortality Rate (Black) 95% CI - Low,Drug Overdose Mortality Rate (Black) 95% CI - ...,Drug Overdose Mortality Rate (Hispanic),Drug Overdose Mortality Rate (Hispanic) 95% CI...,Drug Overdose Mortality Rate (Hispanic) 95% CI...,Drug Overdose Mortality Rate (white),Drug Overdose Mortality Rate (white) 95% CI - Low,Drug Overdose Mortality Rate (white) 95% CI - ...,# Motor Vehicle Deaths,Motor Vehicle Mortality Rate,95% CI - Low,95% CI - High,MV Mortality Rate (AIAN),MV Mortality Rate (AIAN) 95% CI - Low,MV Mortality Rate (AIAN) 95% CI - High,MV Mortality Rate (Asian),MV Mortality Rate (Asian) 95% CI - Low,MV Mortality Rate (Asian) 95% CI - High,MV Mortality Rate (Black),MV Mortality Rate (Black) 95% CI - Low,MV Mortality Rate (Black) 95% CI - High,MV Mortality Rate (Hispanic),MV Mortality Rate (Hispanic) 95% CI - Low,MV Mortality Rate (Hispanic) 95% CI - High,MV Mortality Rate (white),MV Mortality Rate (white) 95% CI - Low,MV Mortality Rate (white) 95% CI - High,% Insufficient Sleep,95% CI - Low,95% CI - High,# Uninsured,% Uninsured,95% CI - Low,95% CI - High,# Uninsured,% Uninsured,95% CI - Low,95% CI - High,Other Primary Care Provider Rate,Other Primary Care Provider Ratio,Cohort Size,High School Graduation Rate,% Disconnected Youth,95% CI - Low,95% CI - High,Average Grade Performance,Average Grade Performance (Asian),Average Grade Performance (Black),Average Grade Performance (Hispanic),Average Grade Performance (white),Average Grade Performance,Average Grade Performance (Asian),Average Grade Performance (Black),Average Grade Performance (Hispanic),Average Grade Performance (white),Segregation index,Spending per-pupil,School funding,Women's Median Earnings,Men's Median Earnings,Gender Pay Gap,95% CI - Low,95% CI - High,Median Household Income,95% CI - Low,95% CI - High,Household Income (AIAN),Household Income (AIAN) 95% CI - Low,Household Income (AIAN) 95% CI - High,Household Income (Asian),Household Income (Asian) 95% CI - Low,Household Income (Asian) 95% CI - High,Household Income (Black),Household Income (Black) 95% CI - Low,Household Income (Black) 95% CI - High,Household Income (Hispanic),Household Income (Hispanic) 95% CI - Low,Household Income (Hispanic) 95% CI - High,Household Income (white),Household Income (white) 95% CI - Low,Household Income (white) 95% CI - High,% Enrolled in Free or Reduced Lunch,Segregation index,Segregation Index,% household income required for childcare expe...,# childcare centers,County Value,Homicide Rate,95% CI - Low,95% CI - High,Homicide Rate (AIAN),Homicide Rate (AIAN) 95% CI - Low,Homicide Rate (AIAN) 95% CI - High,Homicide Rate (Asian),Homicide Rate (Asian) 95% CI - Low,Homicide Rate (Asian) 95% CI - High,Homicide Rate (Black),Homicide Rate (Black) 95% CI - Low,Homicide Rate (Black) 95% CI - High,Homicide Rate (Hispanic),Homicide Rate (Hispanic) 95% CI - Low,Homicide Rate (Hispanic) 95% CI - High,Homicide Rate (white),Homicide Rate (white) 95% CI - Low,Homicide Rate (white) 95% CI - High,# Deaths,Suicide Rate (Age-Adjusted),95% CI - Low,95% CI - High,Crude Rate,Suicide Rate (AIAN),Suicide Rate (AIAN) 95% CI - Low,Suicide Rate (AIAN) 95% CI - High,Suicide Rate (Asian),Suicide Rate (Asian) 95% CI - Low,Suicide Rate (Asian) 95% CI - High,Suicide Rate (Black),Suicide Rate (Black) 95% CI - Low,Suicide Rate (Black) 95% CI - High,Suicide Rate (Hispanic),Suicide Rate (Hispanic) 95% CI - Low,Suicide Rate (Hispanic) 95% CI - High,Suicide Rate (white),Suicide Rate (white) 95% CI - Low,Suicide Rate (white) 95% CI - High,# Firearm Fatalities,Firearm Fatalities Rate,95% CI - Low,95% CI - High,Firearm Fatalities Rate (AIAN),Firearm Fatalities Rate (AIAN) 95% CI - Low,Firearm Fatalities Rate (AIAN) 95% CI - High,Firearm Fatalities Rate (Asian),Firearm Fatalities Rate (Asian) 95% CI - Low,Firearm Fatalities Rate (Asian) 95% CI - High,Firearm Fatalities Rate (Black),Firearm Fatalities Rate (Black) 95% CI - Low,Firearm Fatalities Rate (Black) 95% CI - High,Firearm Fatalities Rate (Hispanic),Firearm Fatalities Rate (Hispanic) 95% CI - Low,Firearm Fatalities Rate (Hispanic) 95% CI - High,Firearm Fatalities Rate (white),Firearm Fatalities Rate (white) 95% CI - Low,Firearm Fatalities Rate (white) 95% CI - High,Non-Petitioned Cases,Petitioned Cases,Denominator,Juvenile Arrest Rate,Traffic Volume,# Homeowners,% Homeowners,95% CI - Low,95% CI - High,# Households with Severe Cost Burden,% Severe Housing Cost Burden,95% CI - Low,95% CI - High,% Broadband Access,Numerator,95% CI - Low,95% CI - High,Population,% Less Than 18 Years of Age,% 65 and Over,# Black,% Black,# American Indian & Alaska Native,% American Indian & Alaska Native,# Asian,% Asian,# Native Hawaiian/Other Pacific Islander,% Native Hawaiian/Other Pacific Islander,# Hispanic,% Hispanic,# Non-Hispanic white,% Non-Hispanic white,# Not Proficient in English,% Not Proficient in English,95% CI - Low,95% CI - High,% female,# rural residents,% rural
1,01000,Alabama,NaN,6544,103.650985,74.835949,74.753991,74.917907,111.782702,99.279703,124.285701,87.316864,85.907723,88.726004,72.417347,72.247605,72.587088,94.571634,91.943218,97.200049,75.400928,75.304086,75.49777,88086,499.86855,496.429863,503.307238,226.764175,196.584936,256.943415,168.810446,152.09388,185.527012,617.786215,610.152481,625.419949,219.102262,204.550977,233.653546,474.759533,470.721344,478.797723,2912,66.775176,64.349821,69.200532,71.000666,40.583015,115.300633,36.898424,24.518735,53.328496,95.721671,90.459153,100.984188,54.018021,46.29627,61.739773,53.621625,50.799619,56.44363,3240,8.061145,7.78357,8.33872,NaN,NaN,NaN,4.777831,3.223582,6.820651,12.35259,11.75346,12.95172,5.763519,4.956627,6.570412,5.938535,5.621513,6.255558,15.278497,14.143055,16.48759,18.284655,16.915991,19.737751,12.2,11.4,13,13875,336.4,788250,16.1,418731.09187,8.760549,2572,17.481629,16.806009,18.157249,11.015764,5.282487,20.258381,4.134777,1.982786,7.604002,12.46975,11.372329,13.56717,4.1978,2.789408,6.06699,20.790286,19.884529,21.696042,6902,20.205515,19.728822,20.682208,11.92731,7.718726,17.607063,6.702176,4.694122,9.278636,20.894359,19.961197,21.827521,15.074958,13.100771,17.049144,20.626599,20.035888,21.217311,39.627463,37.896757,41.384537,425108,14.748532,14.271936,15.225128,36655,3.271234,2.794639,3.74783,101.2896,987:1,52256,91.713181,8.034348,7.504783,8.563914,2.885603,3.348599,2.481436,2.399627,3.205665,2.722188,3.504734,2.26895,2.453291,3.025517,0.289239,10101.9,-4296.271,37425,50823,0.736379,0.72638,0.746378,53958,52832.042553,55083.957447,49162,44198.255319,54125.744681,67083,62274.148936,71891.851064,35239,34648.021277,35829.978723,42568,40291.06383,44844.93617,60213,59639.893617,60786.106383,55.005454,57.388235,50.833805,23.871631,NaN,5.518395,11.106885,10.753458,11.460312,NaN,NaN,NaN,2.42023,1.288671,4.138667,28.032722,26.951848,29.113596,5.787707,4.629418,7.147771,4.852799,4.566278,5.139321,4043,16.20067,15.687356,16.713984,16.535358,NaN,NaN,NaN,7.872722,5.272486,11.306542,6.10317,5.49918,6.707161,6.541517,4.991867,8.420229,20.947634,20.225492,21.669775,5451,22.2939,21.70206,22.885739,7.307708,3.647981,13.075508,5.583586,3.499204,8.453617,32.248472,30.879251,33.617693,7.763982,6.192856,9.612338,19.733459,19.049729,20.417188,1897,6715,496000,NaN,219.909377,1306505,69.182009,68.680386,69.683631,213588,11.899716,11.646239,12.153193,79.915425,1509206,79.52943,80.30142,4921532,22.092369,17.763656,1303754,26.490816,34897,0.709068,75551,1.535111,5393,0.10958,226557,4.603384,3205777,65.137786,46887,1.019448,0.966651,1.072245,51.702722,1957932,40.963183
2,01001,Alabama,Autauga,55,82.012893,76.58565,75.847961,77.323338,NaN,NaN,NaN,NaN,NaN,NaN,73.932611,72.072841,75.792382,94.103987,73.965892,114.242083,76.99087,76.171884,77.809856,836,427.073326,397.45877,456.687882,NaN,NaN,NaN,NaN,NaN,NaN,540.408635,462.46016,618.357111,NaN,NaN,NaN,408.338986,375.606137,441.071835,27,51.496252,33.936355,74.924343,NaN,NaN,NaN,NaN,NaN,NaN,83.64701,40.111992,153.829829,NaN,NaN,NaN,45.643711,26.589143,73.080002,30,6.877579,4.640274,9.818172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.2,12.9,15.5,17.1,15.6,18.4,11.2,10.4,11.9,104,222.1,8670,15.7,7105.688803,13.020998,14,8.352474,4.566375,14.014033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74,19.0096,14.926625,23.864812,NaN,NaN,NaN,NaN,NaN,NaN,22.004194,12.818254,35.230846,NaN,NaN,NaN,18.727357,14.108008,24.376229,38.443332,36.828131,39.877771,4050,11.960663,10.173429,13.747897,360,2.653106,1.819064,3.487149,44.52756,2246:1,655,89,NaN,NaN,NaN,3.126968,NaN,2.605717,NaN,3.328546,2.91728,NaN,2.353697,2.86518,3.09192,0.055262,8600,-2618.608,38702,53601,0.722039,0.643058,0.801019,67565,57517.170213,77612.829787,NaN,NaN,NaN,98953,43852.574468,154053.42553,30718,22774.340426,38661.659574,81185,76976.659574,85393.340426,65130,59239.276596,71020.723404,45.482456,28.204319,24.907957,17.526826,15,4.636785,5.908389,3.745412,8.865485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,17.737296,13.164963,23.384414,18.669108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,17.592044,13.014691,23.257615,NaN,NaN,NaN,NaN,NaN,NaN,17.866714,8.567784,32.857524,NaN,NaN,NaN,18.634876,13.251218,25.474489,5,45,6200,8.064516,155.095523,16088,74.623127,71.965655,77.280599,2862,13.832769,11.118387,16.547152,82.707918,17831,80.927943,84.487893,56145,23.184611,16.175973,11408,20.318817,266,0.473773,657,1.170184,61,0.108647,1741,3.100899,41079,73.16591,363,0.692695,0.170101,1.21529,51.507703,22921,42.002162
3,01003,Alabama,Baldwin,165,50.022799,77.724729,77.338977,78.110481,104.617932,67.626451,141.609412,82.540024,79.325296,85.754752,73.786584,72.427015,75.146154,86.639922,82.083075,91.19677,77.797175,77.376567,78.217782,3377,381.702031,367.834299,395.569764,NaN,NaN,NaN,NaN,NaN,NaN,560.657704,500.766197,620.549211,195.024232,143.795473,258.573838,377.14279,362.177821,392.107758,97,51.169783,41.495247,62.422796,NaN,NaN,NaN,NaN,NaN,NaN,60.574997,32.253634,103.585089,NaN,NaN,NaN,52.451079,41.460402,65.461321,84,5.27307,4.206007,6.528419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.5,11.3,13.9,16.1,14.5,17.6,9.4,8.8,10.2,328,172.9,28590,13.4,14465.970897,7.936779,118,17.597678,14.422483,20.772874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,252,16.849943,14.769508,18.930379,NaN,NaN,NaN,NaN,NaN,NaN,18.741035,12.242266,27.459958,NaN,NaN,NaN,17.315866,15.01722,19.614512,36.37796,34.797781,37.868229,17611,13.778292,12.110207,15.446378,1692,3.408198,2.455007,4.36139,69.78154,1433:1,2424,90,6.112303,3.262053,8.962553,3.192381,NaN,2.569884,2.685682,3.374601,3.037912,NaN,2.324328,2.746379,3.206116,0.090175,10046,333.9424,39434,52757,0.747465,0.700844,0.794086,71135,65660.106383,76609.893617,NaN,NaN,NaN,NaN,NaN,NaN,39500,32791.914894,46208.085106,54063,40335.851064,67790.148936,66695,64365.638298,69024.361702,46.132285,39.8413,28.948139,17.11675,66,5.518395,3.276378,2.423882,4.331545,NaN,NaN,NaN,NaN,NaN,NaN,10.091327,5.517022,16.931531,NaN,NaN,NaN,2.78007,1.936421,3.866405,214,19.645883,16.898047,22.393719,19.601844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153,14.014403,11.793728,16.235078,NaN,NaN,NaN,NaN,NaN,NaN,14.053121,7.682972,23.578749,NaN,NaN,NaN,14.7842,12.29944,17.26896,181,399,22400,25.892857,133.604842,64716,76.999774,75.60513,78.394417,9296,11.450814,9.802856,13.098772,85.069068,71498,83.483534,86.654603,229287,21.128542,21.582122,19441,8.478893,1788,0.779809,2529,1.102984,152,0.066292,10625,4.63393,191015,83.308256,1593,0.772068,0.491265,1.052871,51.589057,77060,42.279099

In [4]:
new_ala_subrank = alabama_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_ala_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
alabama_combined = alabama_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity', 'Access to exercise opportunities']]
alabama_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity', 'Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_bama = alabama_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_bama.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4120069918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_ala_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4120069918.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alabama_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity', 'Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4120069918.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_bama.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [5]:
alabama_half = pd.merge(new_ala_subrank, new_bama)

In [6]:
alabama_99 = pd.merge(alabama_half, alabama_combined)

In [7]:
alabama = alabama_99.drop(0)
alabama

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,01000,Alabama,NaN,NaN,4921532,74.835949,53958,61.575284,36.3,56.637061
2,01001,Alabama,Autauga,-0.469519,56145,76.58565,67565,60.721736,35.3,62.758608
3,01003,Alabama,Baldwin,-0.823064,229287,77.724729,71135,65.532108,29.6,74.507997
4,01005,Alabama,Barbour,0.538758,24589,72.86721,38866,38.355755,40.4,49.837928
5,01007,Alabama,Bibb,-0.037711,22136,73.609363,50907,37.770409,41.2,10.604408
...,...,...,...,...,...,...,...,...,...,...
64,01125,Alabama,Tuscaloosa,-0.333848,210758,75.826336,56610,64.565155,38.3,74.17701
65,01127,Alabama,Walker,0.093553,63143,69.629257,46519,56.180378,35.3,34.783582
66,01129,Alabama,Washington,0.3145,15976,75.287943,36346,57.585335,40.3,5.386497
67,01131,Alabama,Wilcox,0.869915,10206,69.845386,31909,41.256367,45.4,0.856898
68,01133,Alabama,Winston,0.155829,23508,74.823226,46453,51.272943,38.3,75.804607

In [8]:
alaska_subrank = pd.read_excel('2022 County Health Rankings Alaska Data - v1.xlsx', 2)
alaska_data = pd.read_excel('2022 County Health Rankings Alaska Data - v1.xlsx', 3)
alaska_data2 = pd.read_excel('2022 County Health Rankings Alaska Data - v1.xlsx', 4)

In [9]:
new_alas_subrank = alaska_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_alas_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
alaska_combined = alaska_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
alaska_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_alaska = alaska_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_alaska.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2301691963.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_alas_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2301691963.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alaska_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2301691963.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_alaska.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [10]:
alaska_half = pd.merge(new_alas_subrank, new_alaska)

In [11]:
alaska_99 = pd.merge(alaska_half, alaska_combined)

In [12]:
alaska = alaska_99.drop(0)
alaska

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,02000,Alaska,NaN,NaN,731158,78.615641,79961,65.097229,30.7,64.897759
2,02013,Alaska,Aleutians East,NaN,3401,112.503856,79128,50.842418,31.5,0.95511
3,02016,Alaska,Aleutians West,-0.060267,5680,91.478656,92216,52.864865,27.7,78.690883
4,02020,Alaska,Anchorage,-0.136584,287095,78.683915,84577,71.793924,30.7,81.996806
5,02050,Alaska,Bethel,0.695405,18437,70.71169,52214,32.8125,38.3,91.735731
6,02060,Alaska,Bristol Bay,NaN,788,NaN,87032,68.717949,34.1,5.416249
7,02068,Alaska,Denali,NaN,2081,89.085612,80192,63.51145,28.4,44.359255
8,02070,Alaska,Dillingham,0.284977,4833,70.240751,72334,47.784343,35.7,46.523623
9,02090,Alaska,Fairbanks North Star,-0.200446,95651,80.212593,76650,70.343706,30.4,47.134176
10,02100,Alaska,Haines,-0.193933,2614,84.359987,105044,72.639692,30.2,88.516746
11,02105,Alaska,Hoonah-Angoon,-0.008565,2141,84.327973,55593,46.563193,34.8,NaN
12,02110,Alaska,Juneau,-0.389011,31849,81.074346,89204,72.98629,27.5,100
13,02122,Alaska,Kenai Peninsula,-0.256026,59414,79.226274,68448,58.053134,27.4,58.608303
14,02130,Alaska,Ketchikan Gateway,0.106819,13747,80.19063,76780,61.103486,31.7,55.850709
15,02150,Alaska,Kodiak Island,-0.482035,12992,80.54596,72028,69.165886,29.2,98.616833
16,02158,Alaska,Kusilvak,1.031412,8328,67.687246,37566,22.298289,45.1,100
17,02164,Alaska,Lake and Peninsula,0.014005,1493,NaN,54386,61.077844,37.1,17.41263
18,02170,Alaska,Matanuska-Susitna,-0.164566,110213,78.991712,89502,58.316721,32,30.11967
19,02180,Alaska,Nome,0.428065,9909,70.318965,64309,40.148423,41.8,45.638432
20,02185,Alaska,North Slope,0.000561,9294,76.210448,94759,54.3058,35.1,6.436903
21,02188,Alaska,Northwest Arctic,0.75739,7644,71.252486,65194,33.316856,39.1,0.744384
22,02195,Alaska,Petersburg,-0.212118,3296,80.63892,66096,60.180995,28.2,NaN
23,02198,Alaska,Prince of Wales-Hyder,0.033191,6147,76.446953,53638,53.522099,37,NaN
24,02220,Alaska,Sitka,-0.346722,8405,80.913571,79363,73.073804,28.9,81.916451
25,02230,Alaska,Skagway,NaN,1179,NaN,78421,53.319058,30.7,100
26,02240,Alaska,Southeast Fairbanks,-0.525825,6957,77.236081,64544,52.055556,32.3,23.573766
27,02261,Alaska,Valdez-Cordova,-0.484645,9346,78.045021,NaN,65.139752,30.7,63.958074
28,02275,Alaska,Wrangell,-0.075229,2510,79.212161,64643,58.195212,30.5,99.831152
29,02282,Alaska,Yakutat,NaN,637,NaN,68352,68.844221,33.5,69.637462
30,02290,Alaska,Yukon-Koyukuk,0.184146,5077,72.49738,43060,43.517817,38.4,23.944166

In [13]:
arizona_subrank = pd.read_excel('2022 County Health Rankings Arizona Data - v1.xlsx', 2)
arizona_data = pd.read_excel('2022 County Health Rankings Arizona Data - v1.xlsx', 3)
arizona_data2 = pd.read_excel('2022 County Health Rankings Arizona Data - v1.xlsx', 4)

In [14]:
new_ari_subrank = arizona_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_ari_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
arizona_combined = arizona_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
arizona_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_arizona = arizona_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_arizona.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\549565211.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_ari_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\549565211.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arizona_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\549565211.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_arizona.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [15]:
arizona_half = pd.merge(new_ari_subrank, new_arizona)

In [16]:
arizona_99 = pd.merge(arizona_half, arizona_combined)

In [17]:
arizona = arizona_99.drop(0)
arizona

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,04000,Arizona,NaN,NaN,7421401,79.061023,64652,64.702323,31.9,81.909638
2,04001,Arizona,Apache,0.786613,71875,70.134961,36319,54.170325,36.9,15.815599
3,04003,Arizona,Cochise,-0.059317,127450,78.247948,51171,65.705117,33.9,57.408676
4,04005,Arizona,Coconino,-0.086696,142481,77.965251,57146,71.555556,27.6,77.272896
5,04007,Arizona,Gila,0.520551,54303,72.677026,49280,52.198681,31.2,82.474765
6,04009,Arizona,Graham,0.132656,39211,76.968322,55419,51.281814,36.8,45.478238
7,04011,Arizona,Greenlee,-0.141698,9341,79.922212,67530,54.531002,35.8,45.38343
8,04012,Arizona,La Paz,-0.046988,21480,77.70255,41637,37.428494,37,34.926058
9,04013,Arizona,Maricopa,-0.384237,4579081,79.637281,71799,66.60355,31,88.931437
10,04015,Arizona,Mohave,-0.111565,217206,75.467161,46678,51.304753,32.3,53.666091
11,04017,Arizona,Navajo,0.636973,112112,71.398138,46698,52.305021,37.8,54.658489
12,04019,Arizona,Pima,-0.251428,1061175,78.472346,56551,68.182957,30.8,84.056422
13,04021,Arizona,Pinal,-0.311135,480828,81.797806,66992,53.795512,34.6,59.444341
14,04023,Arizona,Santa Cruz,-0.024693,46808,81.185356,44402,56.173376,37.1,56.552088
15,04025,Arizona,Yavapai,-0.389108,240226,78.387383,58860,60.643654,27.8,83.711078
16,04027,Arizona,Yuma,-0.269929,217824,80.484503,54278,55.214549,38.4,82.438404

In [18]:
arkansas_subrank = pd.read_excel('2022 County Health Rankings Arkansas Data - v1.xlsx', 2)
arkansas_data = pd.read_excel('2022 County Health Rankings Arkansas Data - v1.xlsx', 3)
arkansas_data2 = pd.read_excel('2022 County Health Rankings Arkansas Data - v1.xlsx', 4)

In [19]:
new_ark_subrank = arkansas_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_ark_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
arkansas_combined = arkansas_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
arkansas_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_arkansas = arkansas_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_arkansas.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\253544629.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_ark_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\253544629.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arkansas_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\253544629.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_arkansas.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [20]:
arkansas_half = pd.merge(new_ark_subrank, new_arkansas)

In [21]:
arkansas_99 = pd.merge(arkansas_half, arkansas_combined)

In [22]:
arkansas = arkansas_99.drop(0)
arkansas

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,05000,Arkansas,NaN,NaN,3030522,75.488385,51146,58.984054,38,55.693953
2,05001,Arkansas,Arkansas,0.081614,17383,72.947023,51186,51.864245,36.8,54.598034
3,05003,Arkansas,Ashley,0.260875,19339,73.81421,44677,50.694112,39.1,37.335835
4,05005,Arkansas,Baxter,-0.534536,42242,76.058275,44833,62.619078,32,46.248163
5,05007,Arkansas,Benton,-0.976985,288774,79.471534,78678,64.284638,29.8,74.319935
...,...,...,...,...,...,...,...,...,...,...
72,05141,Arkansas,Van Buren,-0.002856,16541,76.962576,42345,38.533835,39.1,37.895345
73,05143,Arkansas,Washington,-0.613011,243216,77.984422,57712,64.003429,33.9,81.227193
74,05145,Arkansas,White,-0.256525,78729,75.157789,43765,51.440969,36.7,46.560538
75,05147,Arkansas,Woodruff,0.126315,6264,72.516375,37634,49.84127,41.3,45.110193
76,05149,Arkansas,Yell,0.062396,21181,75.22529,48728,38.752615,40.4,46.148298

In [23]:
california_subrank = pd.read_excel('2022 County Health Rankings California Data - v1.xlsx', 2)
california_data = pd.read_excel('2022 County Health Rankings California Data - v1.xlsx', 3)
california_data2 = pd.read_excel('2022 County Health Rankings California Data - v1.xlsx', 4)

In [24]:
new_ca_subrank = california_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_ca_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
california_combined = california_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
california_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_california = california_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_california.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3719995241.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_ca_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3719995241.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  california_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3719995241.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_california.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [25]:
california_half = pd.merge(new_ca_subrank, new_california)
california_99 = pd.merge(california_half, california_combined)
california = california_99.drop(0)
california

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,06000,California,NaN,NaN,39368078,81.007871,83001,66.850872,26.2,92.92724
2,06001,California,Alameda,-0.340775,1662323,82.7618,113518,77.368145,23.5,99.583916
3,06003,California,Alpine,0.160808,1119,NaN,64542,51.929825,29.9,76.425532
4,06005,California,Amador,-0.226803,40083,79.745224,68141,58.411528,29.4,70.74112
5,06007,California,Butte,-0.055954,212744,77.61454,54718,68.746036,31.7,81.630909
6,06009,California,Calaveras,-0.083928,46308,79.459326,66329,58.52226,30.1,64.412655
7,06011,California,Colusa,0.033333,21558,79.607079,59422,51.257463,32.3,71.847425
8,06013,California,Contra Costa,-0.309885,1152333,82.216435,106484,72.497182,23.9,98.019208
9,06015,California,Del Norte,0.202348,27968,76.288202,47442,41.764011,33.4,59.017826
10,06017,California,El Dorado,-0.278788,192925,81.910098,87792,69.934321,26,83.459996
11,06019,California,Fresno,0.479223,1000918,78.012762,61401,56.932657,37.6,80.120157
12,06021,California,Glenn,0.148482,28283,77.293534,57779,44.325109,32.3,58.690705
13,06023,California,Humboldt,-0.013282,134977,77.204362,56071,67.455277,28,81.333056
14,06025,California,Imperial,0.17925,180267,79.014442,47599,53.571429,35.9,81.137697
15,06027,California,Inyo,0.184614,18046,78.658645,55981,62.855753,28,49.347568
16,06029,California,Kern,0.533887,901362,76.530032,58583,49.273088,35.5,82.425375
17,06031,California,Kings,0.202393,152692,79.189812,60319,50.824698,35.3,60.074388
18,06033,California,Lake,0.319821,64479,74.828382,52345,53.580789,32.3,84.269698
19,06035,California,Lassen,0.498211,30016,78.315621,63803,38.068939,30.6,44.33873
20,06037,California,Los Angeles,0.084227,9943046,81.319598,75624,65.313971,27.8,96.799993
21,06039,California,Madera,0.269632,157761,79.083182,68744,48.956568,32.7,71.218639
22,06041,California,Marin,-0.81138,257332,85.249012,127601,79.10854,22.5,96.35433
23,06043,California,Mariposa,0.047282,17160,80.557062,56887,68.713956,27.7,42.786697
24,06045,California,Mendocino,0.122383,86061,78.518661,53176,57.665687,30.8,65.473981
25,06047,California,Merced,0.248215,279252,78.227613,58998,49.366951,34.6,76.038046
26,06049,California,Modoc,0.515423,8763,76.940118,46838,51.240506,31.2,29.05224
27,06051,California,Mono,0.104469,14534,103.309976,73204,62.167906,29,71.722293
28,06053,California,Monterey,-0.005722,430906,82.173488,85031,49.578023,32.1,88.853097
29,06055,California,Napa,-0.538679,135965,82.068965,92149,66.106565,28.6,89.50866
30,06057,California,Nevada,-0.404075,99606,80.823897,74158,73.590675,25.1,67.783808
31,06059,California,Orange,-0.403327,3166857,82.750378,98786,71.613228,24.5,99.340051
32,06061,California,Placer,-0.595859,402950,82.308898,100662,79.707561,24.6,90.727316
33,06063,California,Plumas,0.521233,18967,77.421129,58489,72.668113,28.9,92.327685
34,06065,California,Riverside,0.046498,2489188,79.997518,76409,57.29314,33.4,90.513102
35,06067,California,Sacramento,-0.008335,1559146,79.212908,72953,67.095679,27.8,97.998573
36,06069,California,San Benito,-0.106234,64055,81.930305,91185,57.206342,30.1,81.836111
37,06071,California,San Bernardino,0.296591,2189183,77.582043,65984,57.106944,33.3,82.142973
38,06073,California,San Diego,-0.263586,3332427,81.79197,87126,73.501168,24.1,96.134284
39,06075,California,San Francisco,-0.494223,866606,83.704198,121722,88.203655,16.4,100
40,06077,California,San Joaquin,0.264143,767967,77.711263,70685,52.169256,31.9,89.549194
41,06079,California,San Luis Obispo,-0.382743,282249,81.799766,79455,70.445738,26.2,83.54306
42,06081,California,San Mateo,-0.562797,758308,84.924265,132369,80.170621,20.6,98.659756
43,06083,California,Santa Barbara,-0.11185,444766,81.745288,86136,62.827372,27.3,93.383503
44,06085,California,Santa Clara,-0.528595,1907105,84.656577,139462,80.102374,21.3,98.380258
45,06087,California,Santa Cruz,-0.382585,269925,82.655353,93015,71.424637,29.3,94.960782
46,06089,California,Shasta,0.035274,179027,75.786246,59108,67.973856,27.8,67.930799
47,06091,California,Sierra,0.692087,2920,81.029421,59422,67.76699,29.6,6.882716
48,06093,California,Siskiyou,0.603944,43245,75.87801,49441,62.713591,31.3,69.178174
49,06095,California,Solano,-0.179959,446935,80.019089,83678,64.625398,30.7,95.42415
50,06097,California,Sonoma,-0.463874,489819,81.954942,87366,68.141152,27.1,91.162648
51,06099,California,Stanislaus,0.121123,550081,77.315198,64501,53.994246,30.8,92.375008
52,06101,California,Sutter,0.174745,96385,78.355482,65791,60.912785,29.1,78.167981
53,06103,California,Tehama,0.234592,64494,76.231223,61571,59.884147,35.1,51.077005
54,06105,California,Trinity,0.065569,12216,74.555257,45113,58.511051,30,85.768171
55,06107,California,Tulare,0.528568,468680,77.762354,62058,49.086699,35.7,68.591453
56,06109,California,Tuolumne,0.000858,54515,78.250967,63336,61.592602,28,73.822812
57,06111,California,Ventura,-0.374761,841387,82.266454,90961,65.620967,27.5,96.582001
58,06113,California,Yolo,-0.302937,219728,81.445085,80668,71.649383,29.9,94.18369
59,06115,California,Yuba,0.179289,80160,76.279362,56278,62.865497,31.3,75.84367

In [26]:
colorado_subrank = pd.read_excel('2022 County Health Rankings Colorado Data - v1.xlsx', 2)
colorado_data = pd.read_excel('2022 County Health Rankings Colorado Data - v1.xlsx', 3)
colorado_data2 = pd.read_excel('2022 County Health Rankings Colorado Data - v1.xlsx', 4)

In [27]:
new_col_subrank = colorado_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_col_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
colorado_combined = colorado_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
colorado_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_colorado = colorado_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_colorado.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2688729210.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_col_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2688729210.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colorado_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2688729210.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_colorado.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [28]:
colorado_half = pd.merge(new_col_subrank, new_colorado)
colorado_99 = pd.merge(colorado_half, colorado_combined)
colorado = colorado_99.drop(0)
colorado

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,08000,Colorado,NaN,NaN,5807719,79.97719,77688,72.238432,23.6,88.423478
2,08001,Colorado,Adams,-0.05458,519883,78.634829,73615,58.435638,30.9,92.420115
3,08003,Colorado,Alamosa,0.453693,16180,75.142668,50390,59.196365,29.2,76.607316
4,08005,Colorado,Arapahoe,-0.280499,657452,80.620197,82381,71.559445,24.6,96.823968
5,08007,Colorado,Archuleta,-0.290733,14196,82.572998,63961,60.949681,24.9,91.881827
...,...,...,...,...,...,...,...,...,...,...
61,08117,Colorado,Summit,-0.121919,30631,93.526868,91079,71.201336,20.9,99.985711
62,08119,Colorado,Teller,0.049765,25529,81.462736,62845,71.751299,24.3,79.72591
63,08121,Colorado,Washington,-0.01673,4875,76.715879,59174,64.365833,26.5,39.468218
64,08123,Colorado,Weld,-0.166372,333983,80.343726,77937,62.176211,28.2,78.329279
65,08125,Colorado,Yuma,-0.054111,10047,79.719435,82124,59.735833,25.3,67.15125

In [29]:
connecticut_subrank = pd.read_excel('2022 County Health Rankings Connecticut Data - v1.xlsx', 2)
connecticut_data = pd.read_excel('2022 County Health Rankings Connecticut Data - v1.xlsx', 3)
connecticut_data2 = pd.read_excel('2022 County Health Rankings Connecticut Data - v1.xlsx', 4)

In [30]:
new_conn_subrank = connecticut_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_conn_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
connecticut_combined = connecticut_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
connecticut_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_connecticut = connecticut_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_connecticut.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\413724086.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_conn_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\413724086.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  connecticut_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\413724086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_connecticut.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [31]:
connecticut_half = pd.merge(new_conn_subrank, new_connecticut)
connecticut_99 = pd.merge(connecticut_half, connecticut_combined)
connecticut = connecticut_99.drop(0)
connecticut

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,09000,Connecticut,NaN,NaN,3557006,80.107442,79723,70.118412,29.1,88.753327
2,09001,Connecticut,Fairfield,-0.328257,942426,82.057347,98828,72.148807,24.4,94.526787
3,09003,Connecticut,Hartford,0.327234,889226,79.42689,73476,70.87456,30.3,92.536135
4,09005,Connecticut,Litchfield,-0.378234,179610,79.190826,79512,69.92919,28,76.974311
5,09007,Connecticut,Middlesex,-0.429965,161657,80.812817,89970,76.430618,27.9,86.467563
6,09009,Connecticut,New Haven,0.368858,851948,79.189856,72517,66.816472,32.3,91.695315
7,09011,Connecticut,New London,-0.030903,264999,79.454798,77202,69.322845,30.8,83.961614
8,09013,Connecticut,Tolland,-0.229336,150600,81.323431,87247,76.948122,26.8,58.593499
9,09015,Connecticut,Windham,0.700603,116540,78.00408,66349,59.148817,30.9,66.137231

In [32]:
delaware_subrank = pd.read_excel('2022 County Health Rankings Delaware Data - v1.xlsx', 2)
delaware_data = pd.read_excel('2022 County Health Rankings Delaware Data - v1.xlsx', 3)
delaware_data2 = pd.read_excel('2022 County Health Rankings Delaware Data - v1.xlsx', 4)

In [33]:
new_del_subrank = delaware_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_del_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
delaware_combined = delaware_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
delaware_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_delaware = delaware_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_delaware.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\314298214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_del_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\314298214.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delaware_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\314298214.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_delaware.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [34]:
delaware_half = pd.merge(new_del_subrank, new_delaware)
delaware_99 = pd.merge(delaware_half, delaware_combined)
delaware = delaware_99.drop(0)
delaware

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,10000,Delaware,NaN,NaN,986809,78.009491,71335,62.188875,34.2,79.87959
2,10001,Delaware,Kent,0.427349,183643,77.106527,61538,60.658567,41.2,51.391781
3,10003,Delaware,New Castle,-0.221591,561531,77.935484,75145,64.741682,33,94.171732
4,10005,Delaware,Sussex,-0.205758,241635,78.411411,69829,55.256249,35.3,64.29633

In [35]:
florida_subrank = pd.read_excel('2022 County Health Rankings Florida Data - v1.xlsx', 2)
florida_data = pd.read_excel('2022 County Health Rankings Florida Data - v1.xlsx', 3)
florida_data2 = pd.read_excel('2022 County Health Rankings Florida Data - v1.xlsx', 4)

In [36]:
new_flo_subrank = florida_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_flo_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
florida_combined = florida_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
florida_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_florida = florida_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_florida.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3250552010.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_flo_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3250552010.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3250552010.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_florida.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [37]:
florida_half = pd.merge(new_flo_subrank, new_florida)
florida_99 = pd.merge(florida_half, florida_combined)
florida = florida_99.drop(0)
florida

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,12000,Florida,NaN,NaN,21733312,79.692946,61724,63.5574,26.3,86.944888
2,12001,Florida,Alachua,0.030735,271218,78.600527,51995,77.52084,32.4,87.302293
3,12003,Florida,Baker,0.237868,29566,75.486282,61514,48.037942,32.6,65.653697
4,12005,Florida,Bay,-0.158716,171322,76.065171,61332,65.01085,31.6,62.238528
5,12007,Florida,Bradford,0.609542,28593,75.494264,48260,33.279783,38.1,52.843619
...,...,...,...,...,...,...,...,...,...,...
64,12125,Florida,Union,0.47501,15182,67.238936,49313,32.667375,38.4,6.572256
65,12127,Florida,Volusia,-0.138197,561497,76.562362,55463,62.484423,29.1,82.775535
66,12129,Florida,Wakulla,-0.141809,34319,76.11615,64671,50.41792,34.5,76.471926
67,12131,Florida,Walton,-0.288035,76648,78.420628,74108,58.452197,31.7,64.600403
68,12133,Florida,Washington,0.464533,25932,72.782737,44661,39.819268,37.2,50.859576

In [38]:
georgia_subrank = pd.read_excel('2022 County Health Rankings Georgia Data - v1.xlsx', 2)
georgia_data = pd.read_excel('2022 County Health Rankings Georgia Data - v1.xlsx', 3)
georgia_data2 = pd.read_excel('2022 County Health Rankings Georgia Data - v1.xlsx', 4)

In [39]:
new_geo_subrank = georgia_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_geo_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
georgia_combined = georgia_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
georgia_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_georgia = georgia_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_georgia.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3902176058.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_geo_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3902176058.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  georgia_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3902176058.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_georgia.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [40]:
georgia_half = pd.merge(new_geo_subrank, new_georgia)
georgia_99 = pd.merge(georgia_half, georgia_combined)
georgia = georgia_99.drop(0)
georgia

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,13000,Georgia,NaN,NaN,10710017,77.309261,62800,64.27208,33.4,69.84059
2,13001,Georgia,Appling,0.286302,18325,73.87281,44871,49.354244,36.6,26.508006
3,13003,Georgia,Atkinson,0.213578,8393,73.076566,39633,34.270172,38.4,NaN
4,13005,Georgia,Bacon,0.277557,11036,72.45924,41756,35.644234,38.4,54.803533
5,13007,Georgia,Baker,0.063455,2971,79.801263,43696,55.03876,37.8,NaN
...,...,...,...,...,...,...,...,...,...,...
156,13313,Georgia,Whitfield,-0.220043,103837,77.172717,56249,43.131817,34.2,57.015176
157,13315,Georgia,Wilcox,0.320526,8502,75.170123,40856,36.275648,40.7,NaN
158,13317,Georgia,Wilkes,0.169948,9694,75.21437,42071,36.257877,38.3,59.057868
159,13319,Georgia,Wilkinson,0.373016,8812,73.225832,44068,46.878097,38.5,NaN
160,13321,Georgia,Worth,0.345965,19972,74.163735,47907,47.243243,37,44.162554

In [41]:
hawaii_subrank = pd.read_excel('2022 County Health Rankings Hawaii Data - v1.xlsx', 2)
hawaii_data = pd.read_excel('2022 County Health Rankings Hawaii Data - v1.xlsx', 3)
hawaii_data2 = pd.read_excel('2022 County Health Rankings Hawaii Data - v1.xlsx', 4)

In [42]:
new_haw_subrank = hawaii_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_haw_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
hawaii_combined = hawaii_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
hawaii_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_hawaii = hawaii_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_hawaii.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4042585419.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_haw_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4042585419.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hawaii_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4042585419.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_hawaii.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [43]:
hawaii_half = pd.merge(new_haw_subrank, new_hawaii)
hawaii_99 = pd.merge(hawaii_half, hawaii_combined)
hawaii = hawaii_99.drop(0)
hawaii

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,15000,Hawaii,NaN,NaN,1407006,82.258268,86878,69.015203,25.5,90.015372
2,15001,Hawaii,Hawaii,0.611951,203340,80.969821,70313,60.101063,25.2,66.374359
3,15003,Hawaii,Honolulu,-0.179389,963826,82.377942,89584,72.527376,25.4,95.054694
4,15005,Hawaii,Kalawao,NaN,87,NaN,NaN,67.078189,26.7,100
5,15007,Hawaii,Kauai,-0.075636,71851,82.347675,80517,61.435078,24.9,90.752858
6,15009,Hawaii,Maui,-0.356927,167902,82.89581,80763,59.727192,23.9,86.925352

In [44]:
idaho_subrank = pd.read_excel('2022 County Health Rankings Idaho Data - v1.xlsx', 2)
idaho_data = pd.read_excel('2022 County Health Rankings Idaho Data - v1.xlsx', 3)
idaho_data2 = pd.read_excel('2022 County Health Rankings Idaho Data - v1.xlsx', 4)

In [45]:
new_ida_subrank = idaho_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_ida_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
idaho_combined = idaho_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
idaho_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_idaho = idaho_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_idaho.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1931110833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_ida_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1931110833.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idaho_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1931110833.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_idaho.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [46]:
idaho_half = pd.merge(new_ida_subrank, new_idaho)
idaho_99 = pd.merge(idaho_half, idaho_combined)
idaho = idaho_99.drop(0)
idaho

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,16000,Idaho,NaN,NaN,1826913,79.185471,62603,65.824795,29.5,67.149087
2,16001,Idaho,Ada,-0.69904,494399,80.811283,73324,75.762122,28.4,80.724071
3,16003,Idaho,Adams,0.358905,4447,80.905483,49967,48.962656,30.3,10.261569
4,16005,Idaho,Bannock,0.128753,88795,76.942463,54538,65.516952,35.5,61.118555
5,16007,Idaho,Bear Lake,0.288773,6143,78.291622,55689,59.57121,30.2,54.928166
6,16009,Idaho,Benewah,0.341172,9430,74.750534,53014,49.236857,30,58.815293
7,16011,Idaho,Bingham,0.118704,47202,76.656259,65658,60.074729,34.4,30.686079
8,16013,Idaho,Blaine,-0.582795,23426,85.245953,76301,50.066578,28.1,74.040981
9,16015,Idaho,Boise,-0.383754,8065,81.793218,55583,63.457165,29.8,78.699488
10,16017,Idaho,Bonner,-0.198037,46817,79.626378,55241,57.941399,26.8,55.715928
11,16019,Idaho,Bonneville,-0.186032,122134,77.185665,67294,66.530521,31.1,73.658307
12,16021,Idaho,Boundary,-0.252698,12656,79.487004,52193,48.259958,30.7,36.24681
13,16023,Idaho,Butte,0.400617,2646,77.072937,52081,70.967742,34.1,40.954687
14,16025,Idaho,Camas,0.122362,1130,NaN,59409,46.103896,33,3.939123
15,16027,Idaho,Canyon,0.04849,237053,78.748244,57886,55.84451,36.6,71.007765
16,16029,Idaho,Caribou,0.169451,7123,78.688747,63719,61.836613,32.6,8.588252
17,16031,Idaho,Cassia,0.146423,24277,77.538348,64591,56.505017,35.3,57.062565
18,16033,Idaho,Clark,NaN,852,NaN,52182,42.487047,35.2,5.498982
19,16035,Idaho,Clearwater,-0.051272,8846,79.387969,45377,53.131635,30.5,48.761557
20,16037,Idaho,Custer,0.032121,4249,79.008822,53278,72.425249,29.7,55.837912
21,16039,Idaho,Elmore,0.193222,27448,78.111268,49450,65.228827,32.9,67.608551
22,16041,Idaho,Franklin,0.085153,14215,79.177611,65396,44.645597,30.4,55.107148
23,16043,Idaho,Fremont,-0.025582,13218,79.669682,58658,55.310301,32.7,51.623622
24,16045,Idaho,Gem,0.155657,18703,77.032369,60526,46.576118,34.7,68.281596
25,16047,Idaho,Gooding,0.24689,15618,78.481531,57728,42.247839,35.8,61.051474
26,16049,Idaho,Idaho,-0.194098,16823,80.022402,51201,58.599349,30.9,19.720907
27,16051,Idaho,Jefferson,-0.226265,30581,79.461843,66806,72.734617,32.3,51.025249
28,16053,Idaho,Jerome,0.330932,24578,79.432533,57342,44.26309,30.9,41.163851
29,16055,Idaho,Kootenai,-0.481624,170628,79.142621,66959,67.651316,30.6,77.058934
30,16057,Idaho,Latah,-0.631902,40830,82.795092,59834,82.285595,28.5,63.642466
31,16059,Idaho,Lemhi,-0.084343,8054,77.382452,48908,70.053121,33.2,72.353831
32,16061,Idaho,Lewis,0.479321,3838,76.312545,52255,61.204482,34.1,39.466108
33,16063,Idaho,Lincoln,0.149169,5358,76.165927,58806,42.119383,35.4,NaN
34,16065,Idaho,Madison,0.040002,40318,79.400034,53727,85.341214,36.1,82.435529
35,16067,Idaho,Minidoka,0.241515,21216,77.524544,56022,48.974308,33.6,50.640291
36,16069,Idaho,Nez Perce,-0.280627,40755,77.119113,57839,62.076229,32.9,59.651089
37,16071,Idaho,Oneida,0.169321,4520,78.440345,69357,57.775378,30.4,11.362576
38,16073,Idaho,Owyhee,0.451872,12133,77.694755,53910,45.107399,32.6,18.540691
39,16075,Idaho,Payette,0.111001,24771,77.195458,60177,51.574515,32.3,47.960041
40,16077,Idaho,Power,0.115623,7643,78.113893,45404,43.265793,36.6,65.549444
41,16079,Idaho,Shoshone,0.583699,12911,75.93386,44336,50.486891,33.3,89.847239
42,16081,Idaho,Teton,-0.582709,12501,83.478213,74935,76.548423,25.7,80.157325
43,16083,Idaho,Twin Falls,0.075312,88411,77.222109,54995,64.171288,34.1,63.347145
44,16085,Idaho,Valley,-0.753308,11792,84.968121,62600,62.589625,24.5,66.690327
45,16087,Idaho,Washington,0.029627,10360,78.225028,49186,53.197537,33.7,65.50304

In [47]:
illinois_subrank = pd.read_excel('2022 County Health Rankings Illinois Data - v1.xlsx', 2)
illinois_data = pd.read_excel('2022 County Health Rankings Illinois Data - v1.xlsx', 3)
illinois_data2 = pd.read_excel('2022 County Health Rankings Illinois Data - v1.xlsx', 4)

In [48]:
new_ill_subrank = illinois_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_ill_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
illinois_combined = illinois_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
illinois_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_illinois = illinois_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_illinois.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3294547052.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_ill_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3294547052.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  illinois_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3294547052.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_illinois.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [49]:
illinois_half = pd.merge(new_ill_subrank, new_illinois)
illinois_99 = pd.merge(illinois_half, illinois_combined)
illinois = illinois_99.drop(0)
illinois

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,17000,Illinois,NaN,NaN,12587530,78.615342,71243,70.580471,31.5,86.793004
2,17001,Illinois,Adams,-0.10857,64783,77.83136,57434,66.709404,33.2,73.995201
3,17003,Illinois,Alexander,0.887263,5497,70.483626,38315,44.96587,41.1,47.681476
4,17005,Illinois,Bond,-0.075943,16262,78.389115,58209,61.732322,36.5,54.384286
5,17007,Illinois,Boone,-0.331091,52777,79.254655,82318,59.928473,34.3,80.611096
...,...,...,...,...,...,...,...,...,...,...
99,17195,Illinois,Whiteside,-0.377573,54656,77.605918,64413,62.755642,35.9,58.868679
100,17197,Illinois,Will,-0.606105,688726,79.201645,90349,69.637192,32.7,91.053043
101,17199,Illinois,Williamson,0.106256,66415,77.28375,59174,68.14387,36.2,67.460856
102,17201,Illinois,Winnebago,0.271299,281295,76.16637,54971,60.292498,38,85.9696
103,17203,Illinois,Woodford,-0.755462,38091,79.133714,72980,76.420005,32,57.766915

In [50]:
indiana_subrank = pd.read_excel('2022 County Health Rankings Indiana Data - v1.xlsx', 2)
indiana_data = pd.read_excel('2022 County Health Rankings Indiana Data - v1.xlsx', 3)
indiana_data2 = pd.read_excel('2022 County Health Rankings Indiana Data - v1.xlsx', 4)

In [51]:
new_ind_subrank = indiana_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_ind_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
indiana_combined = indiana_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
indiana_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_indiana = indiana_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_indiana.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4238046021.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_ind_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4238046021.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indiana_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4238046021.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_indiana.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [52]:
indiana_half = pd.merge(new_ind_subrank, new_indiana)
indiana_99 = pd.merge(indiana_half, indiana_combined)
indiana = indiana_99.drop(0)
indiana

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,18000,Indiana,NaN,NaN,6754953,76.514893,60794,63.00064,35.4,68.409153
2,18001,Indiana,Adams,0.207644,35839,77.917169,58602,47.299027,37,45.848722
3,18003,Indiana,Allen,0.048466,382187,76.647795,61039,67.131066,38,75.248572
4,18005,Indiana,Bartholomew,-0.398707,84447,77.976867,70545,65.382742,36,59.632263
5,18007,Indiana,Benton,0.001018,8741,76.768566,59663,63.577154,37.1,37.621414
...,...,...,...,...,...,...,...,...,...,...
89,18175,Indiana,Washington,0.119887,28213,75.146774,49494,51.272342,33.5,33.490199
90,18177,Indiana,Wayne,0.442362,65778,72.941824,49798,56.099319,37.4,56.589811
91,18179,Indiana,Wells,-0.189534,28142,77.248031,66597,55.829355,35.8,37.063975
92,18181,Indiana,White,-0.230676,24165,75.759883,57787,60.493108,35.9,41.910482
93,18183,Indiana,Whitley,-0.229983,34378,78.831932,61841,62.638733,34,55.725099

In [53]:
iowa_subrank = pd.read_excel('2022 County Health Rankings Iowa Data - v1.xlsx', 2)
iowa_data = pd.read_excel('2022 County Health Rankings Iowa Data - v1.xlsx', 3)
iowa_data2 = pd.read_excel('2022 County Health Rankings Iowa Data - v1.xlsx', 4)

In [54]:
new_iowa_subrank = iowa_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_iowa_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
iowa_combined = iowa_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
iowa_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_iowa = iowa_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_iowa.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4080473511.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_iowa_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4080473511.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iowa_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\4080473511.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_iowa.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [55]:
iowa_half = pd.merge(new_iowa_subrank, new_iowa)
iowa_99 = pd.merge(iowa_half, iowa_combined)
iowa = iowa_99.drop(0)
iowa

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,19000,Iowa,NaN,NaN,3163561,78.743465,62362,70.616314,34.3,72.653647
2,19001,Iowa,Adair,-0.143509,7059,78.168987,55265,61.189258,37.8,31.918771
3,19003,Iowa,Adams,-0.3828,3588,79.746653,56291,66.841415,37.7,51.948374
4,19005,Iowa,Allamakee,-0.082269,13642,77.640865,55320,59.978655,35.6,60.38381
5,19007,Iowa,Appanoose,0.892733,12430,76.867942,49737,58.590657,38,50.787615
...,...,...,...,...,...,...,...,...,...,...
96,19189,Iowa,Winnebago,-0.016775,10277,79.032842,52706,71.090047,37,79.072336
97,19191,Iowa,Winneshiek,-0.602037,19862,83.471085,61813,78.322785,35.1,65.981193
98,19193,Iowa,Woodbury,0.208552,103138,76.265187,60553,62.588181,39.8,88.832557
99,19195,Iowa,Worth,0.021608,7359,80.104585,54474,65.348288,35.1,30.468544
100,19197,Iowa,Wright,-0.00806,12416,78.825302,57133,61.333333,43,77.246957

In [56]:
kansas_subrank = pd.read_excel('2022 County Health Rankings Kansas Data - v1.xlsx', 2)
kansas_data = pd.read_excel('2022 County Health Rankings Kansas Data - v1.xlsx', 3)
kansas_data2 = pd.read_excel('2022 County Health Rankings Kansas Data - v1.xlsx', 4)

In [57]:
new_kansas_subrank = kansas_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_kansas_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
kansas_combined = kansas_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
kansas_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_kansas = kansas_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_kansas.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3927764806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_kansas_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3927764806.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kansas_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3927764806.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_kansas.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [58]:
kansas_half = pd.merge(new_kansas_subrank, new_kansas)
kansas_99 = pd.merge(kansas_half, kansas_combined)
kansas = kansas_99.drop(0)
kansas

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,20000,Kansas,NaN,NaN,2913805,77.810874,63214,70.572911,35.6,73.273731
2,20001,Kansas,Allen,0.347029,12399,76.299846,48616,56.729323,37.8,58.970907
3,20003,Kansas,Anderson,0.138419,7949,76.498517,53936,57.354759,38.1,48.580597
4,20005,Kansas,Atchison,0.072999,16015,77.676637,56691,58.109652,36.6,67.265422
5,20007,Kansas,Barber,0.046114,4358,75.518934,52749,59.741658,36.6,45.422753
...,...,...,...,...,...,...,...,...,...,...
102,20201,Kansas,Washington,0.059877,5427,80.325503,51751,57.928506,34.3,31.608898
103,20203,Kansas,Wichita,-0.315714,2074,74.862458,61326,70.039683,39.6,73.142346
104,20205,Kansas,Wilson,0.328948,8362,75.61225,50472,67.322835,36.4,30.895951
105,20207,Kansas,Woodson,0.290517,3015,76.599285,45357,63.106796,37.4,11.604714
106,20209,Kansas,Wyandotte,0.82562,165265,74.65877,52223,51.878254,39.9,87.468969

In [59]:
kentucky_subrank = pd.read_excel('2022 County Health Rankings Kentucky Data - v1.xlsx', 2)
kentucky_data = pd.read_excel('2022 County Health Rankings Kentucky Data - v1.xlsx', 3)
kentucky_data2 = pd.read_excel('2022 County Health Rankings Kentucky Data - v1.xlsx', 4)

In [60]:
new_kentucky_subrank = kentucky_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_kentucky_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
kentucky_combined = kentucky_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
kentucky_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_kentucky = kentucky_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_kentucky.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1551640159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_kentucky_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1551640159.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kentucky_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1551640159.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_kentucky.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [61]:
kentucky_half = pd.merge(new_kentucky_subrank, new_kentucky)
kentucky_99 = pd.merge(kentucky_half, kentucky_combined)
kentucky = kentucky_99.drop(0)
kentucky

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,21000,Kentucky,NaN,NaN,4477251,75.081765,54074,62.7694,36.4,65.845157
2,21001,Kentucky,Adair,0.050222,19555,74.732248,42429,48.500114,38.6,45.524228
3,21003,Kentucky,Allen,0.246651,21303,74.731033,49980,54.51505,38,22.50451
4,21005,Kentucky,Anderson,-0.459468,22833,75.368695,65443,62.91123,37.6,65.431119
5,21007,Kentucky,Ballard,-0.247259,7769,76.500035,48623,59.616502,39.9,29.676324
...,...,...,...,...,...,...,...,...,...,...
117,21231,Kentucky,Wayne,0.219253,20209,75.759005,36628,37.19423,41,30.466535
118,21233,Kentucky,Webster,0.427558,12923,74.118069,52901,45.329053,40.9,28.015564
119,21235,Kentucky,Whitley,0.346145,36451,70.890733,34559,55.507024,36.7,76.616999
120,21237,Kentucky,Wolfe,0.660249,7106,67.960587,33757,29.00232,44.2,31.271244
121,21239,Kentucky,Woodford,-0.674633,26765,77.603074,69544,65.149983,36.3,68.443001

In [62]:
louisiana_subrank = pd.read_excel('2022 County Health Rankings Louisiana Data - v1.xlsx', 2)
louisiana_data = pd.read_excel('2022 County Health Rankings Louisiana Data - v1.xlsx', 3)
louisiana_data2 = pd.read_excel('2022 County Health Rankings Louisiana Data - v1.xlsx', 4)

In [63]:
new_louisiana_subrank = louisiana_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_louisiana_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
louisiana_combined = louisiana_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
louisiana_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_louisiana = louisiana_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_louisiana.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\25461114.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_louisiana_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\25461114.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  louisiana_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\25461114.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_louisiana.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [64]:
louisiana_half = pd.merge(new_louisiana_subrank, new_louisiana)
louisiana_99 = pd.merge(louisiana_half, louisiana_combined)
louisiana = louisiana_99.drop(0)
louisiana

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,22000,Louisiana,NaN,NaN,4645318,75.223197,51730,57.806324,36.2,71.90974
2,22001,Louisiana,Acadia,-0.084219,61918,73.59209,45183,40.594551,42.5,46.667638
3,22003,Louisiana,Allen,-0.34281,25440,73.834088,49671,41.702644,37.1,62.567924
4,22005,Louisiana,Ascension,-0.758001,128665,78.620137,88680,70.280347,37,70.020986
5,22007,Louisiana,Assumption,0.190035,21621,76.520684,52046,45.244166,39.3,32.944793
...,...,...,...,...,...,...,...,...,...,...
61,22119,Louisiana,Webster,0.463064,37943,72.893158,41747,53.540454,42.4,48.744145
62,22121,Louisiana,West Baton Rouge,-0.375091,26792,77.104442,62919,61.094104,37,72.154027
63,22123,Louisiana,West Carroll,-0.01374,10646,74.365224,38513,35.214364,38.4,28.533264
64,22125,Louisiana,West Feliciana,-0.701234,15465,77.850061,58499,47.971602,36.9,22.4384
65,22127,Louisiana,Winn,0.051034,13839,73.803363,42991,37.237314,38.8,78.978646

In [65]:
maine_subrank = pd.read_excel('2022 County Health Rankings Maine Data - v1.xlsx', 2)
maine_data = pd.read_excel('2022 County Health Rankings Maine Data - v1.xlsx', 3)
maine_data2 = pd.read_excel('2022 County Health Rankings Maine Data - v1.xlsx', 4)

In [66]:
new_maine_subrank = maine_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_maine_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
maine_combined = maine_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
maine_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_maine = maine_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_maine.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\178235122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_maine_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\178235122.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  maine_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\178235122.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_maine.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [67]:
maine_half = pd.merge(new_maine_subrank, new_maine)
maine_99 = pd.merge(maine_half, maine_combined)
maine = maine_99.drop(0)
maine

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,23000,Maine,NaN,NaN,1350141,78.562332,59145,68.914403,31.4,56.643488
2,23001,Maine,Androscoggin,0.1863,108547,76.807512,57723,67.575711,32.1,74.240033
3,23003,Maine,Aroostook,0.349717,66804,78.313734,45523,67.533129,37.8,47.064144
4,23005,Maine,Cumberland,-0.796439,298111,80.169038,75455,79.524654,25.3,72.735148
5,23007,Maine,Franklin,0.234241,29986,78.158969,49317,58.965897,32.4,33.183827
6,23009,Maine,Hancock,-0.251651,55088,79.493682,58466,64.498281,31.7,55.762799
7,23011,Maine,Kennebec,-0.192618,122955,77.901902,53876,66.131135,34,61.608992
8,23013,Maine,Knox,-0.50699,39951,79.287423,66058,58.977949,28,39.739783
9,23015,Maine,Lincoln,0.3176,34775,80.222855,64825,58.439654,26.5,42.676379
10,23017,Maine,Oxford,0.183333,58132,77.426504,47611,54.960866,33.5,21.345944
11,23019,Maine,Penobscot,0.040521,151655,77.118999,52079,68.370358,34.7,53.49298
12,23021,Maine,Piscataquis,0.636661,16996,77.167747,48769,49.032459,35.2,35.329341
13,23023,Maine,Sagadahoc,-0.453686,36044,80.469342,68433,67.31075,30.6,60.513416
14,23025,Maine,Somerset,0.529454,50635,76.602521,43694,55.654062,33.5,29.75224
15,23027,Maine,Waldo,-0.082208,39923,78.846266,56085,66.782824,30.3,32.39571
16,23029,Maine,Washington,0.283616,31473,75.515856,48582,57.622739,34.4,32.401997
17,23031,Maine,York,-0.477849,209066,79.126284,67965,70.989242,31.4,64.159873

In [68]:
maryland_subrank = pd.read_excel('2022 County Health Rankings Maryland Data - v1.xlsx', 2)
maryland_data = pd.read_excel('2022 County Health Rankings Maryland Data - v1.xlsx', 3)
maryland_data2 = pd.read_excel('2022 County Health Rankings Maryland Data - v1.xlsx', 4)

In [69]:
new_maryland_subrank = maryland_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_maryland_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
maryland_combined = maryland_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
maryland_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_maryland = maryland_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_maryland.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\779470393.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_maryland_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\779470393.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  maryland_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\779470393.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_maryland.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [70]:
maryland_half = pd.merge(new_maryland_subrank, new_maryland)
maryland_99 = pd.merge(maryland_half, maryland_combined)
maryland = maryland_99.drop(0)
maryland

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,24000,Maryland,NaN,NaN,6055802,78.576752,88589,70.591188,32,88.152025
2,24001,Maryland,Allegany,0.360849,70057,75.482068,53023,54.291464,38.5,63.742059
3,24003,Maryland,Anne Arundel,-0.345333,582777,79.094255,105979,76.151851,31.6,86.540279
4,24005,Maryland,Baltimore,-0.021833,826017,77.486107,79974,71.262075,32.9,92.397914
5,24009,Maryland,Calvert,-0.432066,93072,79.448764,111665,73.125916,36.2,66.231673
6,24011,Maryland,Caroline,0.300572,33492,76.203496,60617,46.855837,40.1,25.942055
7,24013,Maryland,Carroll,-0.501148,169092,78.480515,104817,72.381076,31.1,77.820192
8,24015,Maryland,Cecil,0.025422,103419,75.076286,84248,59.024719,36.7,71.245599
9,24017,Maryland,Charles,0.074416,164436,77.836945,102681,67.764153,43.6,63.771656
10,24019,Maryland,Dorchester,0.591683,31853,75.630354,54846,52.948557,36.5,60.031271
11,24021,Maryland,Frederick,-0.40721,265161,80.156749,99254,74.825748,29.3,90.549093
12,24023,Maryland,Garrett,0.226662,28852,77.693411,56929,54.924302,35,44.911453
13,24025,Maryland,Harford,-0.277429,256805,78.549245,102537,73.751507,34.4,87.080621
14,24027,Maryland,Howard,-0.586255,328200,82.716875,124042,85.828619,25.5,95.80194
15,24029,Maryland,Kent,0.261216,19192,77.896097,64437,63.776919,34.6,39.198891
16,24031,Maryland,Montgomery,-0.591307,1051816,83.974015,115394,78.331827,24.5,99.308278
17,24033,Maryland,Prince George's,0.043733,909612,78.511917,85246,63.318914,37.2,96.804452
18,24035,Maryland,Queen Anne's,-0.353291,51167,79.918977,93427,68.439455,31.4,59.839324
19,24037,Maryland,St. Mary's,-0.32203,114687,78.301977,105197,65.922968,36.5,63.733108
20,24039,Maryland,Somerset,0.904224,25453,75.7524,51787,43.677636,44.3,7.771062
21,24041,Maryland,Talbot,-0.297856,36972,79.302999,69311,69.29368,32.2,63.91668
22,24043,Maryland,Washington,0.337761,151146,75.910313,63237,57.222454,39,64.110425
23,24045,Maryland,Wicomico,0.394553,103990,76.090899,59387,57.821077,38.2,62.608246
24,24047,Maryland,Worcester,-0.225095,52403,79.850979,62481,66.39577,34,78.526451
25,24510,Maryland,Baltimore City,0.839762,586131,71.806218,51485,66.073229,37.5,98.169933

In [71]:
massachusetts_subrank = pd.read_excel('2022 County Health Rankings Massachusetts Data - v1.xlsx', 2)
massachusetts_data = pd.read_excel('2022 County Health Rankings Massachusetts Data - v1.xlsx', 3)
massachusetts_data2 = pd.read_excel('2022 County Health Rankings Massachusetts Data - v1.xlsx', 4)

In [72]:
new_massachusetts_subrank = massachusetts_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_massachusetts_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
massachusetts_combined = massachusetts_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
massachusetts_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_massachusetts = massachusetts_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_massachusetts.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\961403162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_massachusetts_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\961403162.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  massachusetts_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\961403162.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_massachusetts.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [73]:
massachusetts_half = pd.merge(new_massachusetts_subrank, new_massachusetts)
massachusetts_99 = pd.merge(massachusetts_half, massachusetts_combined)
massachusetts = massachusetts_99.drop(0)
massachusetts

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,25000,Massachusetts,NaN,NaN,6893574,80.185647,87288,74.295519,25.4,89.438772
2,25001,Massachusetts,Barnstable,-0.256756,213164,79.548847,76287,66.489725,24.3,82.018917
3,25003,Massachusetts,Berkshire,0.431841,124571,78.017427,65458,67.430571,25.8,73.88869
4,25005,Massachusetts,Bristol,0.554282,566765,78.303225,71998,63.318987,31.5,87.00694
5,25007,Massachusetts,Dukes,-0.490018,17461,81.346766,80459,65.413333,26.5,82.39492
6,25009,Massachusetts,Essex,0.091085,791263,79.851929,88269,68.133091,26.4,92.979026
7,25011,Massachusetts,Franklin,-0.096915,70267,79.591246,62920,68.008679,28.3,58.413664
8,25013,Massachusetts,Hampden,0.769798,463986,77.356165,61600,60.19425,30,89.627608
9,25015,Massachusetts,Hampshire,-0.078611,161401,80.215556,73864,76.535645,25.1,77.155238
10,25017,Massachusetts,Middlesex,-0.437318,1609379,81.92943,111158,82.621416,22.6,94.896363
11,25019,Massachusetts,Nantucket,-0.589315,11376,83.015553,95713,80.501089,26.6,93.226504
12,25021,Massachusetts,Norfolk,-0.448878,709409,81.504549,106348,83.823186,21.8,88.422449
13,25023,Massachusetts,Plymouth,-0.047808,523738,79.385157,88420,70.0198,27.1,79.999758
14,25025,Massachusetts,Suffolk,0.454467,801582,80.931808,85221,77.355457,25,99.669817
15,25027,Massachusetts,Worcester,0.144145,829212,79.062926,77931,69.292488,31.4,84.748144

In [74]:
michigan_subrank = pd.read_excel('2022 County Health Rankings Michigan Data - v1.xlsx', 2)
michigan_data = pd.read_excel('2022 County Health Rankings Michigan Data - v1.xlsx', 3)
michigan_data2 = pd.read_excel('2022 County Health Rankings Michigan Data - v1.xlsx', 4)

In [75]:
new_michigan_subrank = michigan_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_michigan_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
michigan_combined = michigan_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
michigan_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_michigan = michigan_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_michigan.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3955377740.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_michigan_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3955377740.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  michigan_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3955377740.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_michigan.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [76]:
michigan_half = pd.merge(new_michigan_subrank, new_michigan)
michigan_99 = pd.merge(michigan_half, michigan_combined)
michigan = michigan_99.drop(0)
michigan

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,26000,Michigan,NaN,NaN,9966555,77.484875,61352,68.672674,35.8,77.109881
2,26001,Michigan,Alcona,0.295515,10505,77.205962,45573,58.136394,36.4,66.89819
3,26003,Michigan,Alger,0.214716,9015,80.066949,51126,42.614514,37.9,80.710343
4,26005,Michigan,Allegan,-0.317683,118927,78.200851,63732,58.66395,36.1,46.458962
5,26007,Michigan,Alpena,0.024623,28238,77.816553,40442,67.428667,36.9,56.888979
...,...,...,...,...,...,...,...,...,...,...
80,26157,Michigan,Tuscola,0.133322,52289,75.963528,51940,56.468382,40.3,41.109656
81,26159,Michigan,Van Buren,-0.02707,75474,77.52838,56526,56.206837,36.5,51.732277
82,26161,Michigan,Washtenaw,-0.703105,366473,80.890781,77019,85.682792,29.4,87.08754
83,26163,Michigan,Wayne,0.832809,1740623,74.342407,51777,62.571878,40.1,91.422587
84,26165,Michigan,Wexford,0.102621,33743,76.939923,56550,58.003889,39.1,58.151825

In [77]:
minnesota_subrank = pd.read_excel('2022 County Health Rankings Minnesota Data - v1.xlsx', 2)
minnesota_data = pd.read_excel('2022 County Health Rankings Minnesota Data - v1.xlsx', 3)
minnesota_data2 = pd.read_excel('2022 County Health Rankings Minnesota Data - v1.xlsx', 4)

In [78]:
new_minnesota_subrank = minnesota_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_minnesota_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
minnesota_combined = minnesota_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
minnesota_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_minnesota = minnesota_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_minnesota.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2645922901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_minnesota_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2645922901.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  minnesota_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2645922901.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_minnesota.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [79]:
minnesota_half = pd.merge(new_minnesota_subrank, new_minnesota)
minnesota_99 = pd.merge(minnesota_half, minnesota_combined)
minnesota = minnesota_99.drop(0)
minnesota

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,27000,Minnesota,NaN,NaN,5657342,80.396039,75489,75.489831,30,80.735041
2,27001,Minnesota,Aitkin,-0.068993,15848,78.780242,49822,65.463297,33.5,46.043698
3,27003,Minnesota,Anoka,-0.323937,359921,80.954668,84779,72.937694,35,92.997304
4,27005,Minnesota,Becker,0.185798,34456,77.732413,60159,70.54482,34.1,43.809993
5,27007,Minnesota,Beltrami,0.531918,47442,76.483559,58138,67.597355,35.3,62.524189
...,...,...,...,...,...,...,...,...,...,...
84,27165,Minnesota,Watonwan,0.175722,10792,79.088969,60656,55.863808,34.8,64.062082
85,27167,Minnesota,Wilkin,-0.39569,6161,77.766866,65769,71.428571,31.9,45.985401
86,27169,Minnesota,Winona,0.082005,50485,80.907459,65302,74.832336,34,91.356561
87,27171,Minnesota,Wright,-0.615106,140249,81.02715,85855,73.867528,29.5,70.553328
88,27173,Minnesota,Yellow Medicine,-0.061104,9580,82.114662,62290,58.680715,35.5,23.433608

In [80]:
mississippi_subrank = pd.read_excel('2022 County Health Rankings Mississippi Data - v1.xlsx', 2)
mississippi_data = pd.read_excel('2022 County Health Rankings Mississippi Data - v1.xlsx', 3)
mississippi_data2 = pd.read_excel('2022 County Health Rankings Mississippi Data - v1.xlsx', 4)

In [81]:
new_mississippi_subrank = mississippi_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_mississippi_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
mississippi_combined = mississippi_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
mississippi_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_mississippi = mississippi_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_mississippi.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2046338960.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mississippi_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2046338960.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mississippi_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2046338960.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_mississippi.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [82]:
mississippi_half = pd.merge(new_mississippi_subrank, new_mississippi)
mississippi_99 = pd.merge(mississippi_half, mississippi_combined)
mississippi = mississippi_99.drop(0)
mississippi

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,28000,Mississippi,NaN,NaN,2966786,73.888294,47368,60.774082,41.2,51.620987
2,28001,Mississippi,Adams,0.085928,30275,72.47655,36519,41.183927,42.9,68.009413
3,28003,Mississippi,Alcorn,-0.171783,36889,73.462643,46368,53.332602,40.4,26.537496
4,28005,Mississippi,Amite,-0.038591,12205,75.871747,42649,39.722864,41.6,24.049958
5,28007,Mississippi,Attala,0.245187,18004,73.724446,40985,55.405066,45,30.346555
...,...,...,...,...,...,...,...,...,...,...
79,28155,Mississippi,Webster,-0.162953,9676,72.325828,51351,59.078467,38.2,NaN
80,28157,Mississippi,Wilkinson,0.485855,8351,69.918216,35394,32.77972,50.1,9.627455
81,28159,Mississippi,Winston,0.095962,17845,73.281467,44029,55.871212,43.8,32.868007
82,28161,Mississippi,Yalobusha,-0.143722,11982,70.267927,42532,44.869942,42.6,25.067045
83,28163,Mississippi,Yazoo,0.219598,26982,72.993426,37367,36.382931,47.1,59.223232

In [83]:
missouri_subrank = pd.read_excel('2022 County Health Rankings Missouri Data - v1.xlsx', 2)
missouri_data = pd.read_excel('2022 County Health Rankings Missouri Data - v1.xlsx', 3)
missouri_data2 = pd.read_excel('2022 County Health Rankings Missouri Data - v1.xlsx', 4)

In [84]:
new_missouri_subrank = missouri_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_missouri_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
missouri_combined = missouri_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
missouri_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_missouri = missouri_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_missouri.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2474797544.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_missouri_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2474797544.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missouri_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2474797544.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_missouri.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [85]:
missouri_half = pd.merge(new_missouri_subrank, new_missouri)
missouri_99 = pd.merge(missouri_half, missouri_combined)
missouri = missouri_99.drop(0)
missouri

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,29000,Missouri,NaN,NaN,6151548,76.635512,58812,67.29913,34.6,70.49408
2,29001,Missouri,Adair,-0.012289,25399,77.339521,49175,63.217213,37.2,75.955793
3,29003,Missouri,Andrew,-0.532668,17586,79.069337,69387,67.696836,34.8,54.427159
4,29005,Missouri,Atchison,-0.882525,5096,76.638225,53603,54.296161,36.2,35.883905
5,29007,Missouri,Audrain,0.24891,24835,75.200046,48258,49.837386,38.6,52.559834
...,...,...,...,...,...,...,...,...,...,...
112,29223,Missouri,Wayne,0.6741,12769,74.448721,43848,39.041361,38.4,53.783004
113,29225,Missouri,Webster,-0.114092,39859,76.661016,55431,56.097561,38.6,50.24308
114,29227,Missouri,Worth,0.00778,1953,80.239027,44361,54.878049,35.7,2.118839
115,29229,Missouri,Wright,0.444002,18325,74.065264,39521,41.798393,37.6,30.72017
116,29510,Missouri,St. Louis City,0.520679,297645,73.149596,45773,74.284255,36.3,97.579347

In [86]:
montana_subrank = pd.read_excel('2022 County Health Rankings Montana Data - v1.xlsx', 2)
montana_data = pd.read_excel('2022 County Health Rankings Montana Data - v1.xlsx', 3)
montana_data2 = pd.read_excel('2022 County Health Rankings Montana Data - v1.xlsx', 4)

In [87]:
new_montana_subrank = montana_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_montana_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
montana_combined = montana_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
montana_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_montana = montana_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_montana.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\18191674.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_montana_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\18191674.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  montana_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\18191674.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_montana.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [88]:
montana_half = pd.merge(new_montana_subrank, new_montana)
montana_99 = pd.merge(montana_half, montana_combined)
montana = montana_99.drop(0)
montana

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,30000,Montana,NaN,NaN,1080577,78.36984,57730,69.539808,28,66.919543
2,30001,Montana,Beaverhead,-0.296342,9483,81.571432,52613,72.843287,29.8,62.53515
3,30003,Montana,Big Horn,0.93116,13063,66.185033,42823,54.265403,38.8,48.270501
4,30005,Montana,Blaine,0.787325,6568,70.167188,45936,60.872236,38,38.545679
5,30007,Montana,Broadwater,-0.527785,6444,81.333729,61641,63.839286,29,44.672131
6,30009,Montana,Carbon,-0.633278,10921,81.591515,62465,64.222738,28.8,41.218496
7,30011,Montana,Carter,NaN,1235,NaN,48286,73.275862,30.2,20.948276
8,30013,Montana,Cascade,0.02588,81346,77.092734,53357,65.995289,32.3,77.698673
9,30015,Montana,Chouteau,0.229546,5699,79.078878,50607,59.018868,31.3,32.341304
10,30017,Montana,Custer,-0.253727,11292,77.458885,59804,69.574621,30.9,63.919993
11,30019,Montana,Daniels,NaN,1638,82.264337,50312,63.939394,30.9,NaN
12,30021,Montana,Dawson,-0.257263,8555,79.253437,55845,60.935577,32.2,62.547401
13,30023,Montana,Deer Lodge,0.439629,9204,74.822853,47362,54.900181,32.7,77.532803
14,30025,Montana,Fallon,-0.27637,2826,78.996464,62597,73.651961,29.4,2.214533
15,30027,Montana,Fergus,-0.294083,11104,77.740378,49576,76.438779,31.2,65.699983
16,30029,Montana,Flathead,-0.380819,105851,79.144025,58959,67.187188,28.3,69.189908
17,30031,Montana,Gallatin,-0.453868,116806,82.645186,70029,82.888054,22.9,76.398959
18,30033,Montana,Garfield,NaN,1268,NaN,45892,73.12253,29.8,8.623549
19,30035,Montana,Glacier,1.05995,13594,70.817479,40817,53.481735,39.5,52.727816
20,30037,Montana,Golden Valley,NaN,827,NaN,42741,42.465753,31.9,1.244344
21,30039,Montana,Granite,-0.196541,3317,85.464588,53407,62.725451,28.8,32.672946
22,30041,Montana,Hill,0.155789,16358,76.386647,49734,65.851833,33.1,68.998509
23,30043,Montana,Jefferson,-0.467909,12360,78.276111,80071,72.905983,29.7,42.205857
24,30045,Montana,Judith Basin,-0.17928,1994,82.521412,50610,79.874214,28.8,7.866795
25,30047,Montana,Lake,0.332402,30986,77.08549,52493,64.491393,33.6,49.488625
26,30049,Montana,Lewis and Clark,-0.357861,70229,79.236313,60664,74.805442,27.5,68.606357
27,30051,Montana,Liberty,NaN,2369,89.685995,53415,52.39521,33.4,37.024369
28,30053,Montana,Lincoln,-0.101197,20343,78.669531,42501,52.413596,33.7,43.429674
29,30055,Montana,McCone,-0.131794,1648,NaN,46755,65.691489,31.3,5.882353
30,30057,Montana,Madison,-0.515557,8959,81.435195,58201,73.130194,27.6,26.108438
31,30059,Montana,Meagher,-0.096022,1831,82.519444,43666,55.629139,30,13.432047
32,30061,Montana,Mineral,0.333325,4544,80.074871,57169,58.386684,33.2,85.555292
33,30063,Montana,Missoula,-0.343213,121630,79.769861,63409,76.750773,26.4,86.31003
34,30065,Montana,Musselshell,0.316082,4669,77.167209,50533,49.259259,31.3,50.881446
35,30067,Montana,Park,-0.052105,16760,79.874412,56657,74.545013,28.6,54.380916
36,30069,Montana,Petroleum,NaN,500,NaN,38661,78.125,29.8,5.465587
37,30071,Montana,Phillips,-0.034115,3919,76.036382,46821,61.82048,31.6,62.802727
38,30073,Montana,Pondera,0.268847,5782,76.776376,49447,64.77007,33.8,45.993824
39,30075,Montana,Powder River,NaN,1681,83.363184,60462,66.349206,29.7,16.408491
40,30077,Montana,Powell,-0.141771,6817,76.666531,52904,41.798643,33.4,80.034154
41,30079,Montana,Prairie,0.046845,1067,NaN,48577,32.54717,31.1,NaN
42,30081,Montana,Ravalli,-0.115593,45002,79.672445,58781,66.573427,28.9,55.34915
43,30083,Montana,Richland,-0.628691,11043,77.181913,69169,63.278576,34.5,46.213831
44,30085,Montana,Roosevelt,1.017061,10964,64.484296,43256,57.173834,39,29.199041
45,30087,Montana,Rosebud,0.320163,8836,70.255085,54991,68.139293,35.2,50.005415
46,30089,Montana,Sanders,0.505852,12157,77.348893,45805,54.979879,29.9,71.882941
47,30091,Montana,Sheridan,-0.2154,3261,80.867695,50658,61.586902,32.2,64.420804
48,30093,Montana,Silver Bow,0.308026,35180,76.253697,54324,61.787234,33.3,76.254386
49,30095,Montana,Stillwater,0.06885,9888,81.570508,73044,70.894677,33.6,31.611276
50,30097,Montana,Sweet Grass,-0.443744,3684,83.672504,58746,54.172367,29.4,65.680635
51,30099,Montana,Teton,0.213973,6249,78.745307,55399,69.943136,30.4,21.192162
52,30101,Montana,Toole,0.396017,4686,78.24771,49568,52.29202,31.6,66.528926
53,30103,Montana,Treasure,NaN,695,NaN,56919,82.142857,31.7,NaN
54,30105,Montana,Valley,-0.216988,7359,78.017862,46766,66.563467,33.5,52.245895
55,30107,Montana,Wheatland,-0.003593,2157,74.671632,39462,42.723005,32.5,64.575646
56,30109,Montana,Wibaux,NaN,939,NaN,51368,52.739726,30,NaN
57,30111,Montana,Yellowstone,-0.145619,162990,77.304159,58374,68.050027,31.9,78.50269

In [89]:
nebraska_subrank = pd.read_excel('2022 County Health Rankings Nebraska Data - v1.xlsx', 2)
nebraska_data = pd.read_excel('2022 County Health Rankings Nebraska Data - v1.xlsx', 3)
nebraska_data2 = pd.read_excel('2022 County Health Rankings Nebraska Data - v1.xlsx', 4)

In [90]:
new_nebraska_subrank = nebraska_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_nebraska_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
nebraska_combined = nebraska_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
nebraska_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_nebraska = nebraska_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_nebraska.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3184877164.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nebraska_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3184877164.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nebraska_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3184877164.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nebraska.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [91]:
nebraska_half = pd.merge(new_nebraska_subrank, new_nebraska)
nebraska_99 = pd.merge(nebraska_half, nebraska_combined)
nebraska = nebraska_99.drop(0)
nebraska

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,31000,Nebraska,NaN,NaN,1937552,79.015864,64735,72.421337,34.3,78.181293
2,31001,Nebraska,Adams,-0.003258,31321,77.863713,54445,72.060287,36.7,75.318837
3,31003,Nebraska,Antelope,-0.209523,6264,82.662863,54136,74.327628,35.2,8.990277
4,31005,Nebraska,Arthur,NaN,466,NaN,52500,76.923077,37.2,NaN
5,31007,Nebraska,Banner,NaN,786,NaN,59511,89.256198,36.4,4.347826
...,...,...,...,...,...,...,...,...,...,...
90,31177,Nebraska,Washington,-0.384298,20901,80.956918,78844,71.835304,35.7,45.270337
91,31179,Nebraska,Wayne,-0.341043,9492,83.217758,64569,71.583851,38,33.194372
92,31181,Nebraska,Webster,0.164553,3419,76.965504,52115,75.787966,38,39.270724
93,31183,Nebraska,Wheeler,NaN,790,NaN,52154,65.891473,38.4,4.400978
94,31185,Nebraska,York,-0.37365,13511,79.726758,63249,79.655172,36.6,66.161727

In [92]:
nevada_subrank = pd.read_excel('2022 County Health Rankings Nevada Data - v1.xlsx', 2)
nevada_data = pd.read_excel('2022 County Health Rankings Nevada Data - v1.xlsx', 3)
nevada_data2 = pd.read_excel('2022 County Health Rankings Nevada Data - v1.xlsx', 4)

In [93]:
new_nevada_subrank = nevada_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_nevada_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
nevada_combined = nevada_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
nevada_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_nevada = nevada_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_nevada.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3051495814.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nevada_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3051495814.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nevada_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3051495814.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nevada.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [94]:
nevada_half = pd.merge(new_nevada_subrank, new_nevada)
nevada_99 = pd.merge(nevada_half, nevada_combined)
nevada = nevada_99.drop(0)
nevada

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,32000,Nevada,NaN,NaN,3138259,78.109184,64608,59.022704,30.5,90.269208
2,32001,Nevada,Churchill,-0.180166,25363,74.179542,61650,65.558152,34.1,80.311131
3,32003,Nevada,Clark,-0.032114,2315963,78.409531,62496,58.389679,30.1,95.562221
4,32005,Nevada,Douglas,-0.381857,49088,81.110153,84317,67.715531,31.3,75.879311
5,32007,Nevada,Elko,-0.163714,53006,78.483466,73914,52.527397,35.1,65.912164
6,32009,Nevada,Esmeralda,NaN,886,NaN,35395,51.020408,36.6,4.980843
7,32011,Nevada,Eureka,-0.040774,2065,79.000961,68806,38.655462,33,32.561651
8,32013,Nevada,Humboldt,-0.011135,16962,76.984826,72907,49.558724,36.2,52.553243
9,32015,Nevada,Lander,0.759057,5514,75.552398,80894,55.62579,35,84.138528
10,32017,Nevada,Lincoln,-0.287746,5159,81.765779,60180,43.985953,30.6,52.666043
11,32019,Nevada,Lyon,0.229582,58319,76.200114,63162,52.658509,36.2,54.232397
12,32021,Nevada,Mineral,0.595026,4518,71.614511,50069,42.332896,37,76.445935
13,32023,Nevada,Nye,0.565727,48054,74.097546,52783,48.216467,35.9,16.217631
14,32027,Nevada,Pershing,-0.256674,6573,77.694773,65000,40.270401,34.2,22.567748
15,32029,Nevada,Storey,-0.621953,4207,82.871253,73271,75.108538,28.9,16.982544
16,32031,Nevada,Washoe,-0.343442,477082,78.160184,75232,64.489745,30.2,87.854497
17,32033,Nevada,White Pine,0.207986,9466,79.723765,57923,40.4811,34,51.385842
18,32510,Nevada,Carson City,-0.037802,56034,74.409476,58382,61.064672,31.2,93.494229

In [95]:
newhampshire_subrank = pd.read_excel('2022 County Health Rankings New Hampshire Data - v1.xlsx', 2)
newhampshire_data = pd.read_excel('2022 County Health Rankings New Hampshire Data - v1.xlsx', 3)
newhampshire_data2 = pd.read_excel('2022 County Health Rankings New Hampshire Data - v1.xlsx', 4)

In [96]:
new_newhampshire_subrank = newhampshire_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_newhampshire_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
newhampshire_combined = newhampshire_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
newhampshire_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_newhampshire = newhampshire_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_newhampshire.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3587282912.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_newhampshire_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3587282912.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newhampshire_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3587282912.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_newhampshire.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [97]:
newhampshire_half = pd.merge(new_newhampshire_subrank, new_newhampshire)
newhampshire_99 = pd.merge(newhampshire_half, newhampshire_combined)
newhampshire = newhampshire_99.drop(0)
newhampshire

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,33000,New Hampshire,NaN,NaN,1366275,79.589043,81415,70.903558,32.1,73.891847
2,33001,New Hampshire,Belknap,0.235979,61551,77.070992,76105,64.748366,30.3,64.507056
3,33003,New Hampshire,Carroll,-0.260646,49167,79.706625,73073,69.774201,28.9,64.827053
4,33005,New Hampshire,Cheshire,-0.324123,76228,79.559125,66398,66.882582,30.3,57.700637
5,33007,New Hampshire,Coos,0.884315,31174,77.230641,49465,51.252159,34,59.848737
6,33009,New Hampshire,Grafton,0.001879,90691,80.666413,77022,69.486345,27.2,78.299558
7,33011,New Hampshire,Hillsborough,-0.097448,418735,79.419881,79222,72.193192,32.2,77.583406
8,33013,New Hampshire,Merrimack,-0.260541,152622,79.472618,81132,70.004981,30.1,77.346444
9,33015,New Hampshire,Rockingham,-0.598918,311307,80.786546,96775,75.438838,27.4,77.216545
10,33017,New Hampshire,Strafford,0.022014,131533,78.207029,72817,71.731471,31.6,72.109661
11,33019,New Hampshire,Sullivan,0.397491,43267,79.697995,65881,56.715494,31.2,64.064286

In [98]:
newjersey_subrank = pd.read_excel('2022 County Health Rankings New Jersey Data - v1.xlsx', 2)
newjersey_data = pd.read_excel('2022 County Health Rankings New Jersey Data - v1.xlsx', 3)
newjersey_data2 = pd.read_excel('2022 County Health Rankings New Jersey Data - v1.xlsx', 4)

In [99]:
new_newjersey_subrank = newjersey_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_newjersey_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
newjersey_combined = newjersey_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
newjersey_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_newjersey = newjersey_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_newjersey.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3754790464.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_newjersey_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3754790464.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newjersey_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3754790464.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_newjersey.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [100]:
newjersey_half = pd.merge(new_newjersey_subrank, new_newjersey)
newjersey_99 = pd.merge(newjersey_half, newjersey_combined)
newjersey = newjersey_99.drop(0)
newjersey

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,34000,New Jersey,NaN,NaN,8882371,79.488449,87095,70.922918,25.5,91.27742
2,34001,New Jersey,Atlantic,0.253805,262945,76.680523,61377,62.188094,30.2,86.288422
3,34003,New Jersey,Bergen,-0.360073,930394,82.142488,107114,79.805751,21.6,98.060359
4,34005,New Jersey,Burlington,0.022551,446596,79.124622,92471,73.423164,30.4,80.862827
5,34007,New Jersey,Camden,0.372229,506809,76.692071,71718,68.430821,29.2,83.985227
6,34009,New Jersey,Cape May,-0.081993,91546,76.872813,75829,66.489101,31.6,83.604585
7,34011,New Jersey,Cumberland,1.000078,147008,74.602311,60352,40.563731,39.7,69.249449
8,34013,New Jersey,Essex,0.519773,800501,78.022446,65528,63.639504,30,99.361327
9,34015,New Jersey,Gloucester,0.081585,293245,77.22681,87220,72.830116,34.4,78.440657
10,34017,New Jersey,Hudson,0.197371,671666,80.480667,77323,74.375187,24.1,100
11,34019,New Jersey,Hunterdon,-0.621681,124797,83.169787,113611,81.195568,28,82.04427
12,34021,New Jersey,Mercer,0.053081,367239,79.325416,87581,66.303243,30.8,96.985646
13,34023,New Jersey,Middlesex,-0.20836,822736,80.590686,95610,75.026251,25.5,91.104243
14,34025,New Jersey,Monmouth,-0.289055,618381,79.848582,104219,77.98934,29.3,90.13246
15,34027,New Jersey,Morris,-0.679342,491087,81.808386,114103,81.814366,25.4,93.774834
16,34029,New Jersey,Ocean,-0.226055,614237,78.512501,78181,68.914468,27.7,84.29532
17,34031,New Jersey,Passaic,0.519652,500382,78.906689,64422,56.037809,31.1,97.787824
18,34033,New Jersey,Salem,0.463755,62451,74.038533,65563,59.152017,31,51.052464
19,34035,New Jersey,Somerset,-0.543832,329331,81.945326,115573,80.013959,25.7,89.443922
20,34037,New Jersey,Sussex,-0.486582,140002,78.766105,92739,72.875411,25.7,85.69926
21,34039,New Jersey,Union,0.011943,555394,79.829534,83189,64.957096,27.6,99.305684
22,34041,New Jersey,Warren,0.001149,105624,79.148051,80412,70.678986,31.8,81.592021

In [101]:
newmexico_subrank = pd.read_excel('2022 County Health Rankings New Mexico Data - v1.xlsx', 2)
newmexico_data = pd.read_excel('2022 County Health Rankings New Mexico Data - v1.xlsx', 3)
newmexico_data2 = pd.read_excel('2022 County Health Rankings New Mexico Data - v1.xlsx', 4)

In [102]:
new_newmexico_subrank = newmexico_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_newmexico_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
newmexico_combined = newmexico_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
newmexico_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_newmexico = newmexico_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_newmexico.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3998082122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_newmexico_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3998082122.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newmexico_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3998082122.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_newmexico.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [103]:
newmexico_half = pd.merge(new_newmexico_subrank, new_newmexico)
newmexico_99 = pd.merge(newmexico_half, newmexico_combined)
newmexico = newmexico_99.drop(0)
newmexico

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,35000,New Mexico,NaN,NaN,2106319,76.881751,52285,62.130378,32.2,72.015157
2,35001,New Mexico,Bernalillo,-0.266189,681666,77.395743,56632,69.954065,28.6,93.891156
3,35003,New Mexico,Catron,0.030744,3623,80.352121,27423,27.848101,30.1,66.120805
4,35005,New Mexico,Chaves,-0.002055,64711,74.535654,51441,53.432108,35.6,55.972275
5,35006,New Mexico,Cibola,0.430258,26354,74.411339,42705,51.152757,38.9,57.465182
6,35007,New Mexico,Colfax,0.501847,11927,76.944853,43265,54.527403,33.7,68.385455
7,35009,New Mexico,Curry,-0.044353,48793,76.065209,53864,62.028025,34.9,71.23367
8,35011,New Mexico,De Baca,0.078503,1673,77.250439,42319,54.385965,34,83.432245
9,35013,New Mexico,Dona Ana,-0.092463,221262,78.624438,46547,65.344356,34.7,68.894486
10,35015,New Mexico,Eddy,-0.247197,58418,74.338706,66199,56.233983,34.2,69.700347
11,35017,New Mexico,Grant,-0.026526,27007,76.784768,43557,53.176106,32.9,56.637528
12,35019,New Mexico,Guadalupe,-0.282092,4275,75.655569,38903,47.772657,33,44.65543
13,35021,New Mexico,Harding,NaN,638,NaN,39913,94.53125,32.8,0.719424
14,35023,New Mexico,Hidalgo,0.398686,4106,75.59398,41858,42.588727,33.8,20.576216
15,35025,New Mexico,Lea,-0.04521,71830,74.424967,66780,46.077669,36.3,77.190353
16,35027,New Mexico,Lincoln,-0.25393,19939,78.784655,49115,55.303811,30,85.01732
17,35028,New Mexico,Los Alamos,-1.009156,19462,83.868708,111724,85.321101,24.4,97.994429
18,35029,New Mexico,Luna,0.191132,23905,74.948462,39233,33.992095,35.5,64.379358
19,35031,New Mexico,McKinley,0.825764,70824,67.940805,35659,47.948558,38.8,39.468752
20,35033,New Mexico,Mora,-0.251298,4478,79.168047,40618,57.878788,33.3,17.53739
21,35035,New Mexico,Otero,-0.080974,67967,77.097881,46735,63.651906,31.3,49.099487
22,35037,New Mexico,Quay,-0.299944,8197,73.362198,38389,42.821535,33.1,69.583011
23,35039,New Mexico,Rio Arriba,0.363684,38521,72.577509,47400,51.177214,33,52.581623
24,35041,New Mexico,Roosevelt,-0.105218,18350,76.370767,46351,54.393974,32.9,75.325003
25,35043,New Mexico,Sandoval,-0.280612,148904,78.542319,71991,63.736807,30.6,79.110071
26,35045,New Mexico,San Juan,0.096768,123312,74.036869,44261,59.029061,35.5,40.91692
27,35047,New Mexico,San Miguel,0.320631,27144,77.001003,40804,60.075546,33.3,55.217229
28,35049,New Mexico,Santa Fe,-0.266207,151946,80.982259,58898,59.174935,24.9,73.366165
29,35051,New Mexico,Sierra,0.04853,10867,72.099646,36823,52.657974,31,86.695028
30,35053,New Mexico,Socorro,0.116804,16541,75.513229,39478,50.028637,32.7,45.320721
31,35055,New Mexico,Taos,0.049931,32593,79.389272,43230,64.710155,28.4,73.255002
32,35057,New Mexico,Torrance,0.300914,15486,76.544995,47266,50.931298,32.5,8.191418
33,35059,New Mexico,Union,-0.111966,4026,76.923223,42676,38.565401,31.5,70.850736
34,35061,New Mexico,Valencia,-0.048053,77574,76.482561,51564,53.903447,34,37.274876

In [104]:
newyork_subrank = pd.read_excel('2022 County Health Rankings New York Data - v1.xlsx', 2)
newyork_data = pd.read_excel('2022 County Health Rankings New York Data - v1.xlsx', 3)
newyork_data2 = pd.read_excel('2022 County Health Rankings New York Data - v1.xlsx', 4)

In [105]:
new_newyork_subrank = newyork_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_newyork_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
newyork_combined = newyork_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
newyork_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_newyork = newyork_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_newyork.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2012402608.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_newyork_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2012402608.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newyork_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2012402608.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_newyork.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [106]:
newyork_half = pd.merge(new_newyork_subrank, new_newyork)
newyork_99 = pd.merge(newyork_half, newyork_combined)
newyork = newyork_99.drop(0)
newyork

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,36000,New York,NaN,NaN,19336776,80.2606,73354,69.690791,27.2,88.178115
2,36001,New York,Albany,-0.136827,303654,79.423543,70629,77.917481,30.4,84.334526
3,36003,New York,Allegany,0.131427,45587,77.886721,53371,64.942218,32.1,41.163731
4,36005,New York,Bronx,1.298329,1401142,77.995462,44906,52.829416,33.7,99.714607
5,36007,New York,Broome,0.209314,189420,78.079695,52510,66.521771,31.5,78.662512
...,...,...,...,...,...,...,...,...,...,...
59,36115,New York,Washington,0.149529,60606,78.283916,60973,55.338078,31.5,57.895153
60,36117,New York,Wayne,0.031202,89339,78.65462,62329,63.344788,31.7,54.262466
61,36119,New York,Westchester,-0.338233,965802,82.405727,103340,73.973701,26.2,97.822809
62,36121,New York,Wyoming,-0.056481,39465,78.880361,59612,56.901029,32.8,54.77642
63,36123,New York,Yates,-0.497995,24780,77.723896,57057,50.690335,29.5,42.906738

In [107]:
northcarolina_subrank = pd.read_excel('2022 County Health Rankings North Carolina Data - v1.xlsx', 2)
northcarolina_data = pd.read_excel('2022 County Health Rankings North Carolina Data - v1.xlsx', 3)
northcarolina_data2 = pd.read_excel('2022 County Health Rankings North Carolina Data - v1.xlsx', 4)

In [108]:
new_northcarolina_subrank = northcarolina_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_northcarolina_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
northcarolina_combined = northcarolina_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
northcarolina_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_northcarolina = northcarolina_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_northcarolina.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2004901127.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_northcarolina_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2004901127.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  northcarolina_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2004901127.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_northcarolina.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [109]:
northcarolina_half = pd.merge(new_northcarolina_subrank, new_northcarolina)
northcarolina_99 = pd.merge(northcarolina_half, northcarolina_combined)
northcarolina = northcarolina_99.drop(0)
northcarolina

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,37000,North Carolina,NaN,NaN,10600823,77.677785,59616,68.227131,34,67.630628
2,37001,North Carolina,Alamance,-0.080483,171346,76.804357,53220,61.660258,37.9,73.096188
3,37003,North Carolina,Alexander,-0.108315,37441,76.950638,53523,45.779993,33.3,18.544008
4,37005,North Carolina,Alleghany,0.174189,11194,77.311391,39916,51.235955,35,16.93411
5,37007,North Carolina,Anson,0.723335,24097,73.445692,40818,46.870588,39.5,18.075553
...,...,...,...,...,...,...,...,...,...,...
97,37191,North Carolina,Wayne,0.087287,123967,74.672446,52906,62.068293,35.1,38.946201
98,37193,North Carolina,Wilkes,0.23083,68043,75.960097,46830,56.746297,33,64.675512
99,37195,North Carolina,Wilson,0.455813,81979,75.2164,44089,53.433039,38.9,66.574341
100,37197,North Carolina,Yadkin,0.107082,37625,75.747119,53154,57.377825,35.3,27.191064
101,37199,North Carolina,Yancey,-0.067434,18099,77.939966,48662,53.871055,34,100

In [110]:
northdakota_subrank = pd.read_excel('2022 County Health Rankings North Dakota Data - v1.xlsx', 2)
northdakota_data = pd.read_excel('2022 County Health Rankings North Dakota Data - v1.xlsx', 3)
northdakota_data2 = pd.read_excel('2022 County Health Rankings North Dakota Data - v1.xlsx', 4)

In [111]:
new_northdakota_subrank = northdakota_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_northdakota_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
northdakota_combined = northdakota_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
northdakota_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_northdakota = northdakota_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_northdakota.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3306719259.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_northdakota_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3306719259.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  northdakota_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3306719259.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_northdakota.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [112]:
northdakota_half = pd.merge(new_northdakota_subrank, new_northdakota)
northdakota_99 = pd.merge(northdakota_half, northdakota_combined)
northdakota = northdakota_99.drop(0)
northdakota

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,38000,North Dakota,NaN,NaN,765309,78.768227,64289,73.473597,35.8,64.459828
2,38001,North Dakota,Adams,-0.136597,2188,81.109816,50673,63.023256,33.9,1.792574
3,38003,North Dakota,Barnes,-0.212316,10402,77.028414,52327,71.952259,37.8,47.695644
4,38005,North Dakota,Benson,1.003887,6762,68.358323,51189,53.091398,42.2,48.678679
5,38007,North Dakota,Billings,NaN,890,NaN,76478,67.521368,35.5,27.713921
6,38009,North Dakota,Bottineau,-0.290052,6287,77.323395,61841,74.629196,34.4,56.680666
7,38011,North Dakota,Bowman,-0.105999,2986,78.790117,67067,71.068249,36,62.392891
8,38013,North Dakota,Burke,-0.142098,2118,83.344547,73567,76.181102,38.4,28.20122
9,38015,North Dakota,Burleigh,-0.278369,96212,80.307501,72170,77.860526,32.3,69.945147
10,38017,North Dakota,Cass,-0.235827,183904,79.922493,61338,80.33242,34.3,81.125399
11,38019,North Dakota,Cavalier,0.431132,3713,81.033214,54270,81.845688,35.1,61.006762
12,38021,North Dakota,Dickey,-0.474588,4705,77.876375,60682,77.310062,34.2,42.29533
13,38023,North Dakota,Divide,-0.110456,2277,81.237119,64594,60,37.3,53.259295
14,38025,North Dakota,Dunn,-0.26325,4465,80.335417,73722,62.997225,37.6,31.75905
15,38027,North Dakota,Eddy,0.022132,2179,73.431806,54285,66.982922,35,61.802935
16,38029,North Dakota,Emmons,-0.170126,3187,78.315388,49972,74.151858,36.2,1.380282
17,38031,North Dakota,Foster,-0.385081,3165,78.262067,63234,85.774059,35.3,67.932994
18,38033,North Dakota,Golden Valley,-0.107051,1737,91.383249,57596,76.488095,35.7,NaN
19,38035,North Dakota,Grand Forks,-0.003458,69481,78.605423,55495,80.43088,35.7,76.869924
20,38037,North Dakota,Grant,-0.031831,2215,75.835628,48063,75.784753,38.3,30.075188
21,38039,North Dakota,Griggs,-0.05847,2207,79.402292,53751,80.165289,36.9,43.264463
22,38041,North Dakota,Hettinger,0.334733,2438,77.885477,53222,53.12,37.7,NaN
23,38043,North Dakota,Kidder,0.305473,2458,84.404158,49386,60.933661,40,7.268994
24,38045,North Dakota,LaMoure,-0.275355,4033,80.832271,58302,74.774775,38.1,48.900701
25,38047,North Dakota,Logan,NaN,1880,80.691281,47908,80.921053,34.1,2.361809
26,38049,North Dakota,McHenry,-0.420541,5695,77.489925,59052,76.281561,35.4,24.856348
27,38051,North Dakota,McIntosh,0.559038,2440,79.864335,48839,64.417178,37.5,33.784265
28,38053,North Dakota,McKenzie,0.056783,15242,77.985564,84705,61.274141,39.4,35.91195
29,38055,North Dakota,McLean,-0.188065,9416,78.248995,70835,68.213228,37.7,26.891319
30,38057,North Dakota,Mercer,-0.179915,8174,81.911074,79608,75.932203,35.4,65.337132
31,38059,North Dakota,Morton,-0.184299,31503,78.029751,71928,73.106364,35.7,70.794656
32,38061,North Dakota,Mountrail,0.000409,10502,70.422494,68465,59.628154,43,70.572136
33,38063,North Dakota,Nelson,-0.105322,2789,78.4887,53008,75.415282,38,32.853487
34,38065,North Dakota,Oliver,-0.129928,1926,87.108282,66708,76.839237,37,37.973998
35,38067,North Dakota,Pembina,-0.052122,6658,79.50001,61595,66.845999,37.9,57.64198
36,38069,North Dakota,Pierce,0.535772,3928,80.877831,50827,71.806674,40.4,68.739959
37,38071,North Dakota,Ramsey,0.12777,11388,76.848033,57984,75.880971,37.9,63.889617
38,38073,North Dakota,Ransom,-0.288076,5173,76.644831,65039,57.771788,35.1,64.19278
39,38075,North Dakota,Renville,-0.151129,2283,78.595926,67054,56.529517,39.6,47.935223
40,38077,North Dakota,Richland,-0.074939,16156,80.246677,65530,72.320675,34.9,54.126585
41,38079,North Dakota,Rolette,1.121491,14165,71.413316,45178,68.946895,48.4,42.720815
42,38081,North Dakota,Sargent,-0.331898,3913,80.49037,68769,66.371681,35.6,58.683729
43,38083,North Dakota,Sheridan,NaN,1275,NaN,46424,61.574074,36.9,39.288418
44,38085,North Dakota,Sioux,1.149965,4173,65.221722,36182,45.454545,48.6,21.333975
45,38087,North Dakota,Slope,NaN,747,NaN,53330,67.065868,37.2,3.576341
46,38089,North Dakota,Stark,-0.054768,32107,79.808497,66105,64.485565,38,41.381875
47,38091,North Dakota,Steele,NaN,1890,85.998878,68163,75.277778,34.8,33.21519
48,38093,North Dakota,Stutsman,-0.010631,20498,78.940223,59948,67.797631,35.4,73.208531
49,38095,North Dakota,Towner,0.02126,2108,77.368546,57509,67.889908,37.8,52.760463
50,38097,North Dakota,Traill,-0.292209,7959,79.305104,70384,77.088036,38.3,53.737224
51,38099,North Dakota,Walsh,0.158643,10437,78.383739,57557,58.611599,39.5,41.163774
52,38101,North Dakota,Ward,-0.230444,68466,78.710493,64346,68.856378,38.3,72.669639
53,38103,North Dakota,Wells,-0.057541,3709,79.3553,56827,70.113314,35.8,NaN
54,38105,North Dakota,Williams,-0.312337,38700,77.882748,79483,61.128631,37.5,72.533262

In [113]:
ohio_subrank = pd.read_excel('2022 County Health Rankings Ohio Data - v1.xlsx', 2)
ohio_data = pd.read_excel('2022 County Health Rankings Ohio Data - v1.xlsx', 3)
ohio_data2 = pd.read_excel('2022 County Health Rankings Ohio Data - v1.xlsx', 4)

In [114]:
new_ohio_subrank = ohio_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_ohio_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
ohio_combined = ohio_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
ohio_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_ohio = ohio_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_ohio.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3821953881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_ohio_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3821953881.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ohio_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3821953881.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_ohio.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [115]:
ohio_half = pd.merge(new_ohio_subrank, new_ohio)
ohio_99 = pd.merge(ohio_half, ohio_combined)
ohio = ohio_99.drop(0)
ohio

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,39000,Ohio,NaN,NaN,11693217,76.523935,60360,65.860058,34.6,77.22238
2,39001,Ohio,Adams,0.892017,27531,73.524077,42342,49.08183,40,22.823117
3,39003,Ohio,Allen,0.323063,101980,76.254724,52558,61.279461,39.3,73.511017
4,39005,Ohio,Ashland,-0.283653,53362,77.286224,55699,56.046691,34.1,53.956604
5,39007,Ohio,Ashtabula,0.462957,96513,75.22431,51252,48.359396,43,63.301378
...,...,...,...,...,...,...,...,...,...,...
85,39167,Ohio,Washington,-0.082501,59652,76.703839,53450,58.09854,38.6,55.022824
86,39169,Ohio,Wayne,-0.293689,115694,77.520723,67708,53.972448,38.4,58.341774
87,39171,Ohio,Williams,-0.424923,36565,77.126836,52458,60.187086,37.5,51.075926
88,39173,Ohio,Wood,-0.459511,131113,78.252789,67865,72.391511,39.2,61.216212
89,39175,Ohio,Wyandot,-0.096743,21711,76.665792,63516,58.34959,40.7,41.808534

In [116]:
oklahoma_subrank = pd.read_excel('2022 County Health Rankings Oklahoma Data - v1.xlsx', 2)
oklahoma_data = pd.read_excel('2022 County Health Rankings Oklahoma Data - v1.xlsx', 3)
oklahoma_data2 = pd.read_excel('2022 County Health Rankings Oklahoma Data - v1.xlsx', 4)

In [117]:
new_oklahoma_subrank = oklahoma_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_oklahoma_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
oklahoma_combined = oklahoma_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
oklahoma_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_oklahoma = oklahoma_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_oklahoma.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1936907431.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_oklahoma_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1936907431.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oklahoma_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1936907431.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_oklahoma.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [118]:
oklahoma_half = pd.merge(new_oklahoma_subrank, new_oklahoma)
oklahoma_99 = pd.merge(oklahoma_half, oklahoma_combined)
oklahoma = oklahoma_99.drop(0)
oklahoma

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,40000,Oklahoma,NaN,NaN,3980783,75.536413,54512,59.741019,37.1,65.220423
2,40001,Oklahoma,Adair,0.771279,21955,73.3526,36749,35.827146,44.2,15.707799
3,40003,Oklahoma,Alfalfa,-0.836289,5718,77.012707,51157,47.528016,36.6,29.88302
4,40005,Oklahoma,Atoka,0.506822,13912,75.28843,42618,44.98861,40.4,24.49584
5,40007,Oklahoma,Beaver,-0.565913,5207,77.397245,61477,50.959133,38.6,0.390348
...,...,...,...,...,...,...,...,...,...,...
74,40145,Oklahoma,Wagoner,-0.348091,82925,78.755871,66375,63.054472,37.2,48.280769
75,40147,Oklahoma,Washington,-0.353969,52222,75.979413,48144,56.350235,37.9,45.50769
76,40149,Oklahoma,Washita,-0.334426,10830,73.864816,51270,48.711043,36.1,38.636168
77,40151,Oklahoma,Woods,-0.56688,8687,75.416777,52504,60.632689,36,27.720207
78,40153,Oklahoma,Woodward,-0.134182,19812,76.071002,54328,42.926407,37.2,70.280365

In [119]:
oregon_subrank = pd.read_excel('2022 County Health Rankings Oregon Data - v1.xlsx', 2)
oregon_data = pd.read_excel('2022 County Health Rankings Oregon Data - v1.xlsx', 3)
oregon_data2 = pd.read_excel('2022 County Health Rankings Oregon Data - v1.xlsx', 4)

In [120]:
new_oregon_subrank = oregon_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_oregon_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
oregon_combined = oregon_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
oregon_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_oregon = oregon_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_oregon.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3210799540.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_oregon_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3210799540.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oregon_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3210799540.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_oregon.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [121]:
oregon_half = pd.merge(new_oregon_subrank, new_oregon)
oregon_99 = pd.merge(oregon_half, oregon_combined)
oregon = oregon_99.drop(0)
oregon

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,41000,Oregon,NaN,NaN,4241507,79.701586,67832,70.189394,28.8,83.804411
2,41001,Oregon,Baker,0.247222,16284,76.598802,44872,64.043342,29.8,71.662328
3,41003,Oregon,Benton,-0.711415,93239,83.088542,66378,83.862361,28.1,87.221164
4,41005,Oregon,Clackamas,-0.710691,421596,80.872278,82539,74.418057,28.4,87.906658
5,41007,Oregon,Clatsop,-0.14265,40423,79.570382,63238,65.375612,29.8,83.868355
6,41009,Oregon,Columbia,-0.112019,52876,79.462158,73023,58.415524,34.1,52.298839
7,41011,Oregon,Coos,0.216168,64711,77.456497,50848,56.235431,33.9,64.25297
8,41013,Oregon,Crook,0.189474,25105,79.259491,68598,59.24251,30.6,72.647536
9,41015,Oregon,Curry,-0.124659,23305,76.96983,48377,50.632307,29.8,89.653014
10,41017,Oregon,Deschutes,-0.391117,201769,81.688506,66467,72.882757,25.3,88.443129
11,41019,Oregon,Douglas,0.261255,111364,76.77817,52355,56.064633,34.5,45.188405
12,41021,Oregon,Gilliam,0.693973,1975,84.810572,63088,64.244186,30.8,76.429717
13,41023,Oregon,Grant,0.368039,7180,80.132388,50819,53.669065,30.9,51.887173
14,41025,Oregon,Harney,-0.057602,7373,77.739191,48790,67.241379,31,62.988413
15,41027,Oregon,Hood River,-0.500835,23280,81.199414,81718,59.659376,30.7,70.01253
16,41029,Oregon,Jackson,-0.048601,221844,78.958401,57334,65.761022,28.3,78.934677
17,41031,Oregon,Jefferson,0.329998,24856,76.015039,63683,57.684876,33.2,48.618785
18,41033,Oregon,Josephine,0.349634,88053,76.415696,47740,60.230625,32.8,69.002454
19,41035,Oregon,Klamath,0.537929,68739,75.521611,49675,56.972187,32,53.043085
20,41037,Oregon,Lake,0.958945,7949,76.396596,48669,61.904762,33.5,24.749842
21,41039,Oregon,Lane,-0.063318,382986,78.965833,58818,69.95804,29.3,88.705912
22,41041,Oregon,Lincoln,0.14562,50583,77.982148,53883,61.846939,33.5,85.221793
23,41043,Oregon,Linn,-0.08425,131054,77.651918,65516,61.242248,35,73.468356
24,41045,Oregon,Malheur,0.56527,30983,77.374696,46278,49.842668,37.2,36.943123
25,41047,Oregon,Marion,-0.052773,349204,79.434849,64990,58.103352,36.9,81.460352
26,41049,Oregon,Morrow,0.407985,11700,79.097009,59956,41.858708,35.4,48.545601
27,41051,Oregon,Multnomah,-0.490205,815637,79.397451,74707,78.191072,26.6,98.662921
28,41053,Oregon,Polk,-0.339957,87744,80.396051,66973,67.409836,31,83.287137
29,41055,Oregon,Sherman,0.001238,1801,81.746032,62271,61.218837,31.6,4.305949
30,41057,Oregon,Tillamook,-0.309346,27442,78.831998,57533,56.605744,29.4,78.217822
31,41059,Oregon,Umatilla,0.163245,77752,77.703991,62560,55.53241,34.7,56.833006
32,41061,Oregon,Union,0.087213,26551,78.264826,58779,61.766645,32,84.091968
33,41063,Oregon,Wallowa,-0.440525,7181,82.003816,51506,62.4,28.6,54.08105
34,41065,Oregon,Wasco,-0.015618,26403,77.614669,55519,57.426954,33.7,59.818348
35,41067,Oregon,Washington,-0.71838,603514,82.646252,85385,75.549107,27,95.877556
36,41069,Oregon,Wheeler,NaN,1387,NaN,43367,72.614108,33.3,12.491325
37,41071,Oregon,Yamhill,-0.225759,107664,79.968625,68266,64.719644,32.4,72.184529

In [122]:
pennsylvania_subrank = pd.read_excel('2022 County Health Rankings Pennsylvania Data - v1.xlsx', 2)
pennsylvania_data = pd.read_excel('2022 County Health Rankings Pennsylvania Data - v1.xlsx', 3)
pennsylvania_data2 = pd.read_excel('2022 County Health Rankings Pennsylvania Data - v1.xlsx', 4)

In [123]:
new_pennsylvania_subrank = pennsylvania_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_pennsylvania_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
pennsylvania_combined = pennsylvania_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
pennsylvania_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_pennsylvania = pennsylvania_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_pennsylvania.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1321949202.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pennsylvania_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1321949202.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pennsylvania_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1321949202.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pennsylvania.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [124]:
pennsylvania_half = pd.merge(new_pennsylvania_subrank, new_pennsylvania)
pennsylvania_99 = pd.merge(pennsylvania_half, pennsylvania_combined)
pennsylvania = pennsylvania_99.drop(0)
pennsylvania

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,42000,Pennsylvania,NaN,NaN,12783254,78.016447,64898,66.681453,33.1,78.412131
2,42001,Pennsylvania,Adams,-0.201002,102742,79.60585,70470,59.805266,35.8,44.272092
3,42003,Pennsylvania,Allegheny,-0.290436,1211358,77.859285,64236,80.854771,28.7,90.027776
4,42005,Pennsylvania,Armstrong,0.091243,64162,76.767346,52958,55.126039,35.6,71.490115
5,42007,Pennsylvania,Beaver,-0.183337,162575,76.46275,56649,70.627633,37.3,78.155143
...,...,...,...,...,...,...,...,...,...,...
64,42125,Pennsylvania,Washington,-0.300194,206803,77.092135,65808,70.563377,34.8,72.183139
65,42127,Pennsylvania,Wayne,-0.013726,51163,78.219093,55627,51.942044,35.2,47.173526
66,42129,Pennsylvania,Westmoreland,-0.337555,347087,77.633178,59349,72.210214,35.5,79.61793
67,42131,Pennsylvania,Wyoming,-0.213452,26557,76.139524,59305,53.824027,35.4,50.031829
68,42133,Pennsylvania,York,-0.034627,450448,78.595325,71655,61.042648,34.4,61.853866

In [125]:
rhodeisland_subrank = pd.read_excel('2022 County Health Rankings Rhode Island Data - v1.xlsx', 2)
rhodeisland_data = pd.read_excel('2022 County Health Rankings Rhode Island Data - v1.xlsx', 3)
rhodeisland_data2 = pd.read_excel('2022 County Health Rankings Rhode Island Data - v1.xlsx', 4)

In [126]:
new_rhodeisland_subrank = rhodeisland_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_rhodeisland_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
rhodeisland_combined = rhodeisland_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
rhodeisland_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_rhodeisland = rhodeisland_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_rhodeisland.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\173125715.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_rhodeisland_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\173125715.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rhodeisland_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\173125715.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_rhodeisland.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [127]:
rhodeisland_half = pd.merge(new_rhodeisland_subrank, new_rhodeisland)
rhodeisland_99 = pd.merge(rhodeisland_half, rhodeisland_combined)
rhodeisland = rhodeisland_99.drop(0)
rhodeisland

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,44000,Rhode Island,NaN,NaN,1057125,79.371068,73919,67.975447,30.1,87.503028
2,44001,Rhode Island,Bristol,-0.343176,48350,81.154968,94591,82.305914,26.8,88.208521
3,44003,Rhode Island,Kent,0.025501,164646,78.963427,82413,69.627146,29.6,78.097955
4,44005,Rhode Island,Newport,-0.274409,81836,82.019912,81218,78.426102,28.2,75.330567
5,44007,Rhode Island,Providence,0.794388,636547,78.674091,67752,64.34245,32.8,92.398993
6,44009,Rhode Island,Washington,-0.202304,125746,80.782324,83925,77.243953,25.6,83.316139

In [128]:
southcarolina_subrank = pd.read_excel('2022 County Health Rankings South Carolina Data - v1.xlsx', 2)
southcarolina_data = pd.read_excel('2022 County Health Rankings South Carolina Data - v1.xlsx', 3)
southcarolina_data2 = pd.read_excel('2022 County Health Rankings South Carolina Data - v1.xlsx', 4)

In [129]:
new_southcarolina_subrank = southcarolina_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_southcarolina_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
southcarolina_combined = southcarolina_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
southcarolina_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_southcarolina = southcarolina_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_southcarolina.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1137020497.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_southcarolina_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1137020497.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  southcarolina_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1137020497.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_southcarolina.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [130]:
southcarolina_half = pd.merge(new_southcarolina_subrank, new_southcarolina)
southcarolina_99 = pd.merge(southcarolina_half, southcarolina_combined)
southcarolina = southcarolina_99.drop(0)
southcarolina

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,45000,South Carolina,NaN,NaN,5218040,76.43653,57216,63.915555,35.5,65.340176
2,45001,South Carolina,Abbeville,-0.015061,24404,74.963829,47219,55.487805,38.3,59.751348
3,45003,South Carolina,Aiken,-0.335371,172895,75.830489,57128,57.988166,37.2,67.104729
4,45005,South Carolina,Allendale,0.820685,8331,71.170099,32701,39.722992,46.4,65.217391
5,45007,South Carolina,Anderson,-0.287628,204353,75.110441,52667,62.38369,37.4,52.196381
6,45009,South Carolina,Bamberg,0.290042,13906,72.25104,39969,61.549346,41,16.288234
7,45011,South Carolina,Barnwell,0.401313,20805,72.039733,41717,51.174645,41.9,53.101101
8,45013,South Carolina,Beaufort,-0.912631,195656,82.575936,76515,62.750959,27.8,79.708197
9,45015,South Carolina,Berkeley,-0.526554,235987,78.34626,70371,65.076428,35.4,67.407207
10,45017,South Carolina,Calhoun,-0.101177,14554,74.376803,50977,60.204696,37.3,4.803954
11,45019,South Carolina,Charleston,-0.70847,417981,78.771635,72451,75.400843,30.3,82.987873
12,45021,South Carolina,Cherokee,0.306957,57316,72.667174,45085,51.794764,36.9,63.805067
13,45023,South Carolina,Chester,0.203764,32232,70.775488,45366,51.777808,38.3,49.399517
14,45025,South Carolina,Chesterfield,0.308121,45606,73.179325,44792,44.947867,39.8,53.361578
15,45027,South Carolina,Clarendon,0.223029,33415,74.430838,52983,46.761694,41,38.243116
16,45029,South Carolina,Colleton,0.334679,37481,70.65843,44399,51.898297,35.7,37.65813
17,45031,South Carolina,Darlington,0.306861,66509,72.747458,42082,54.869693,38.2,50.912188
18,45033,South Carolina,Dillon,0.799538,30367,70.561074,40930,48.25518,44.1,24.904872
19,45035,South Carolina,Dorchester,-0.63776,165737,77.803256,62928,65.865047,38.5,69.087913
20,45037,South Carolina,Edgefield,-0.206629,27120,79.000321,55005,45.570736,38.3,50.309431
21,45039,South Carolina,Fairfield,0.22352,22059,72.500346,45648,49.696576,42.5,11.462682
22,45041,South Carolina,Florence,0.18905,137588,72.524911,47429,61.655925,35.5,40.21624
23,45043,South Carolina,Georgetown,-0.148428,63353,75.251674,57991,60.057133,37.8,69.575119
24,45045,South Carolina,Greenville,-0.735958,532486,77.971133,62475,70.008881,33.1,82.226827
25,45047,South Carolina,Greenwood,-0.060389,71074,74.912864,43711,56.2606,38.9,60.889163
26,45049,South Carolina,Hampton,0.664633,18053,71.473165,43614,39.020863,45.1,42.100522
27,45051,South Carolina,Horry,-0.362305,365449,76.467965,55055,58.991104,31.8,80.859739
28,45053,South Carolina,Jasper,0.061184,31588,77.205593,48988,50.263763,39.3,38.333939
29,45055,South Carolina,Kershaw,-0.312422,67472,75.725026,60397,59.867415,36.1,45.169133
30,45057,South Carolina,Lancaster,-0.411359,100926,77.123498,63019,63.815598,34.7,53.082764
31,45059,South Carolina,Laurens,0.175283,67883,73.342417,43766,52.082671,39.6,56.281467
32,45061,South Carolina,Lee,0.732955,16701,70.396426,40400,42.574747,41.6,36.004162
33,45063,South Carolina,Lexington,-0.636282,303946,77.712209,62839,64.946485,31.3,62.58332
34,45065,South Carolina,McCormick,-0.139825,9430,72.567417,50698,40.370977,40.5,60.177856
35,45067,South Carolina,Marion,0.714373,30158,70.687307,38498,41.449972,43.1,39.955236
36,45069,South Carolina,Marlboro,0.666035,25581,71.409751,38877,38.081603,41.6,17.640756
37,45071,South Carolina,Newberry,0.136368,38445,75.350825,52202,51.87463,36.2,50.530553
38,45073,South Carolina,Oconee,-0.413394,80015,76.424795,58061,61.493491,31.6,54.286214
39,45075,South Carolina,Orangeburg,0.367116,85343,72.644316,41335,57.371878,40.5,34.66449
40,45077,South Carolina,Pickens,-0.490819,127983,76.321532,54588,64.22679,31.9,59.298463
41,45079,South Carolina,Richland,-0.392573,419051,77.036613,56993,71.553312,33.6,76.476188
42,45081,South Carolina,Saluda,0.016679,20315,77.187742,46216,50.930481,38.8,44.060377
43,45083,South Carolina,Spartanburg,-0.409891,326205,75.459142,53485,62.075223,36.1,72.787867
44,45085,South Carolina,Sumter,0.034106,106360,74.270835,45724,65.10565,39.8,69.077576
45,45087,South Carolina,Union,0.45358,26991,72.211725,46567,50.740132,37.6,59.825282
46,45089,South Carolina,Williamsburg,0.57667,29825,71.164361,38186,45.217148,45.7,37.129245
47,45091,South Carolina,York,-0.761613,289105,77.856329,72579,71.470552,36.8,69.667762

In [131]:
southdakota_subrank = pd.read_excel('2022 County Health Rankings South Dakota Data - v1.xlsx', 2)
southdakota_data = pd.read_excel('2022 County Health Rankings South Dakota Data - v1.xlsx', 3)
southdakota_data2 = pd.read_excel('2022 County Health Rankings South Dakota Data - v1.xlsx', 4)

In [132]:
new_southdakota_subrank = southdakota_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_southdakota_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
southdakota_combined = southdakota_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
southdakota_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_southdakota = southdakota_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_southdakota.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3527605505.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_southdakota_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3527605505.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  southdakota_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3527605505.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_southdakota.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [133]:
southdakota_half = pd.merge(new_southdakota_subrank, new_southdakota)
southdakota_99 = pd.merge(southdakota_half, southdakota_combined)
southdakota = southdakota_99.drop(0)
southdakota

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,46000,South Dakota,NaN,NaN,892717,78.194909,61149,68.500326,33.1,66.042398
2,46003,South Dakota,Aurora,-0.155105,2730,78.316554,54916,70,32.2,2.361624
3,46005,South Dakota,Beadle,0.070428,18513,77.954087,54033,57.315436,33,48.988389
4,46007,South Dakota,Bennett,0.371518,3399,71.081746,45478,53.818182,42.2,2.011075
5,46009,South Dakota,Bon Homme,-0.282614,6848,80.047593,52890,48.518726,33.5,22.673267
...,...,...,...,...,...,...,...,...,...,...
63,46125,South Dakota,Turner,-0.319137,8368,78.035418,62754,69.099627,30,30.6098
64,46127,South Dakota,Union,-0.221924,16192,79.960197,82574,68.72428,31.8,65.664282
65,46129,South Dakota,Walworth,-0.176479,5336,79.144475,45288,65.393795,31.5,1.45274
66,46135,South Dakota,Yankton,-0.047302,22742,79.098605,57075,65.245283,34.7,80.105179
67,46137,South Dakota,Ziebach,1.095433,2656,76.884793,31599,43.41534,44.9,53.623706

In [134]:
tennessee_subrank = pd.read_excel('2022 County Health Rankings Tennessee Data - v1.xlsx', 2)
tennessee_data = pd.read_excel('2022 County Health Rankings Tennessee Data - v1.xlsx', 3)
tennessee_data2 = pd.read_excel('2022 County Health Rankings Tennessee Data - v1.xlsx', 4)

In [135]:
new_tennessee_subrank = tennessee_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_tennessee_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
tennessee_combined = tennessee_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
tennessee_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_tennessee = tennessee_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_tennessee.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\911814634.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_tennessee_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\911814634.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tennessee_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\911814634.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_tennessee.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [136]:
tennessee_half = pd.merge(new_tennessee_subrank, new_tennessee)
tennessee_99 = pd.merge(tennessee_half, tennessee_combined)
tennessee = tennessee_99.drop(0)
tennessee

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,47000,Tennessee,NaN,NaN,6886834,75.328809,56962,62.433618,36.6,62.248545
2,47001,Tennessee,Anderson,-0.094491,77558,74.660459,53002,61.523212,34.9,63.659838
3,47003,Tennessee,Bedford,-0.027905,50179,74.09879,58593,46.945107,39.6,50.983177
4,47005,Tennessee,Benton,0.142,16131,72.033756,44759,50.324174,36.6,41.348778
5,47007,Tennessee,Bledsoe,0.140049,15223,77.40541,45780,29.310345,38.4,20.394532
...,...,...,...,...,...,...,...,...,...,...
92,47181,Tennessee,Wayne,0.106037,16524,75.266324,42754,45.14197,40,42.382939
93,47183,Tennessee,Weakley,-0.388549,33334,75.311017,46979,52.760821,39.8,20.00514
94,47185,Tennessee,White,0.028249,27707,74.484976,46475,50.211632,39,29.731822
95,47187,Tennessee,Williamson,-1.676745,245348,81.513946,118257,85.323142,28.5,78.936795
96,47189,Tennessee,Wilson,-0.760349,148130,77.542994,77822,72.240124,32,52.742712

In [137]:
texas_subrank = pd.read_excel('2022 County Health Rankings Texas Data - v1.xlsx', 2)
texas_data = pd.read_excel('2022 County Health Rankings Texas Data - v1.xlsx', 3)
texas_data2 = pd.read_excel('2022 County Health Rankings Texas Data - v1.xlsx', 4)

In [138]:
new_texas_subrank = texas_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_texas_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
texas_combined = texas_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
texas_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_texas = texas_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_texas.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2493709765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_texas_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2493709765.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  texas_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\2493709765.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_texas.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [139]:
texas_half = pd.merge(new_texas_subrank, new_texas)
texas_99 = pd.merge(texas_half, texas_combined)
texas = texas_99.drop(0)
texas

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,48000,Texas,NaN,NaN,29360759,78.394109,66048,63.05686,34.1,80.055919
2,48001,Texas,Anderson,-0.030041,57805,73.165774,50879,39.622642,38.9,26.492525
3,48003,Texas,Andrews,-0.221081,18879,76.393609,76600,40.467955,37,93.148925
4,48005,Texas,Angelina,0.290697,86796,75.090795,49943,58.465084,39.3,61.822498
5,48007,Texas,Aransas,0.255289,23814,74.928827,51461,49.965792,36.3,77.057604
...,...,...,...,...,...,...,...,...,...,...
251,48499,Texas,Wood,-0.261947,46291,76.205906,61886,47.68562,35.9,25.307406
252,48501,Texas,Yoakum,-0.260268,8702,75.645036,67132,46.511628,38.6,79.109024
253,48503,Texas,Young,-0.481062,17904,73.955599,54569,63.390313,35.7,67.633423
254,48505,Texas,Zapata,0.531282,14172,77.803871,39876,39.810563,43.4,25.131973
255,48507,Texas,Zavala,0.703061,11840,73.886628,34898,50.370132,46,NaN

In [140]:
utah_subrank = pd.read_excel('2022 County Health Rankings Utah Data - v1.xlsx', 2)
utah_data = pd.read_excel('2022 County Health Rankings Utah Data - v1.xlsx', 3)
utah_data2 = pd.read_excel('2022 County Health Rankings Utah Data - v1.xlsx', 4)

In [141]:
new_utah_subrank = utah_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_utah_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
utah_combined = utah_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
utah_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_utah = utah_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_utah.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1356830921.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_utah_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1356830921.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  utah_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1356830921.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_utah.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [142]:
utah_half = pd.merge(new_utah_subrank, new_utah)
utah_99 = pd.merge(utah_half, utah_combined)
utah = utah_99.drop(0)
utah

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,49000,Utah,NaN,NaN,3249879,79.717238,77785,71.500987,29.9,82.860864
2,49001,Utah,Beaver,0.151575,6761,78.493493,61858,69.98739,31.2,75.471413
3,49003,Utah,Box Elder,-0.085197,57007,78.763827,73926,62.588905,34.2,71.181591
4,49005,Utah,Cache,-0.257755,130004,81.271397,65391,75.686056,33.8,80.734271
5,49007,Utah,Carbon,0.649537,20760,75.614803,51902,69.167831,34.2,51.801149
6,49009,Utah,Daggett,NaN,1026,NaN,63461,80.451128,29.8,97.450425
7,49011,Utah,Davis,-0.470286,359232,80.236491,92253,76.0243,33.9,85.497864
8,49013,Utah,Duchesne,0.210131,19894,76.21183,61709,52.559092,33.4,50.137045
9,49015,Utah,Emery,-0.085309,10147,76.66676,64144,66.85369,34.5,38.575073
10,49017,Utah,Garfield,0.003383,5050,77.729074,47638,63.548951,31.3,22.312452
11,49019,Utah,Grand,-0.300553,9796,79.393422,58852,62.508143,29,94.95935
12,49021,Utah,Iron,0.289221,56814,79.310442,52942,68.668407,32.9,62.058358
13,49023,Utah,Juab,-0.082896,12122,77.710251,70086,50.632911,34.7,56.2073
14,49025,Utah,Kane,-0.151788,7914,79.714672,58352,68.956995,30.5,47.25614
15,49027,Utah,Millard,0.237497,13327,79.696976,60316,52.350784,32.3,53.243222
16,49029,Utah,Morgan,-0.609026,12462,80.686913,103746,83.209233,29.3,87.707255
17,49031,Utah,Piute,0.219763,1473,NaN,47206,48.58156,33.5,8.547558
18,49033,Utah,Rich,-0.203025,2452,85.012715,75531,75.308642,31.3,40.812721
19,49035,Utah,Salt Lake,-0.226134,1165517,79.323476,79294,70.452361,30.8,91.639918
20,49037,Utah,San Juan,0.714578,15278,75.154572,50686,57.01897,38.4,17.618337
21,49039,Utah,Sanpete,0.314203,31393,79.760233,55033,58.735375,32.4,42.95881
22,49041,Utah,Sevier,0.310702,21780,76.849246,56318,61.078524,33.7,49.956735
23,49043,Utah,Summit,-0.443806,42499,85.546181,115756,74.955081,21.8,94.474727
24,49045,Utah,Tooele,-0.06449,74512,78.351921,79101,62.158648,34.1,83.75073
25,49047,Utah,Uintah,0.471414,35970,75.690716,63282,52.872192,36.1,55.185958
26,49049,Utah,Utah,-0.449956,651059,80.23018,81804,80.273263,29.6,79.781015
27,49051,Utah,Wasatch,-0.556565,35300,81.675194,87098,75.952045,28.7,66.40459
28,49053,Utah,Washington,-0.195923,184913,81.817146,71904,71.61971,30.4,82.185136
29,49055,Utah,Wayne,0.61072,2759,77.044636,54790,65.69873,32.5,43.844492
30,49057,Utah,Weber,-0.028267,262658,78.102697,72091,61.154224,36,84.407272

In [143]:
vermont_subrank = pd.read_excel('2022 County Health Rankings Vermont Data - v1.xlsx', 2)
vermont_data = pd.read_excel('2022 County Health Rankings Vermont Data - v1.xlsx', 3)
vermont_data2 = pd.read_excel('2022 County Health Rankings Vermont Data - v1.xlsx', 4)

In [144]:
new_vermont_subrank = vermont_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_vermont_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
vermont_combined = vermont_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
vermont_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_vermont = vermont_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_vermont.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3363112582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_vermont_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3363112582.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vermont_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\3363112582.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_vermont.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [145]:
vermont_half = pd.merge(new_vermont_subrank, new_vermont)
vermont_99 = pd.merge(vermont_half, vermont_combined)
vermont = vermont_99.drop(0)
vermont

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,50000,Vermont,NaN,NaN,623347,79.673415,67717,70.489678,27.1,62.507012
2,50001,Vermont,Addison,-0.440005,36851,81.344859,73049,67.653523,25.2,55.856712
3,50003,Vermont,Bennington,0.386722,35338,77.72194,65528,68.831901,25.7,74.704377
4,50005,Vermont,Caledonia,0.260101,29705,78.403966,52203,63.321641,28.7,56.428732
5,50007,Vermont,Chittenden,-0.536684,164306,81.721401,80539,81.469424,23.1,77.908589
6,50009,Vermont,Essex,0.19601,6123,79.801557,50956,53.85289,29.8,24.294323
7,50011,Vermont,Franklin,-0.009042,49685,78.789052,62763,62.889496,32.4,45.396473
8,50013,Vermont,Grand Isle,-0.517742,7169,80.490816,79994,66.419919,25.7,30.444763
9,50015,Vermont,Lamoille,-0.217867,25341,80.361833,57909,69.788797,26.8,60.044944
10,50017,Vermont,Orange,0.268037,28837,79.822668,60624,61.734932,32,41.930467
11,50019,Vermont,Orleans,0.633342,26897,77.941831,56721,57.313182,32.7,39.076787
12,50021,Vermont,Rutland,0.084697,57764,77.21817,62289,64.227709,32.4,69.549982
13,50023,Vermont,Washington,-0.068468,58328,79.75155,70061,72.123795,27.2,60.462929
14,50025,Vermont,Windham,0.082687,42015,78.81594,59017,61.519397,22.8,58.919866
15,50027,Vermont,Windsor,-0.121789,54988,79.137074,60842,71.197358,27.3,62.385742

In [146]:
virginia_subrank = pd.read_excel('2022 County Health Rankings Virginia Data - v1.xlsx', 2)
virginia_data = pd.read_excel('2022 County Health Rankings Virginia Data - v1.xlsx', 3)
virginia_data2 = pd.read_excel('2022 County Health Rankings Virginia Data - v1.xlsx', 4)

In [147]:
new_virginia_subrank = virginia_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_virginia_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
virginia_combined = virginia_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
virginia_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_virginia = virginia_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_virginia.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1202796158.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_virginia_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1202796158.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  virginia_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1202796158.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_virginia.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [148]:
virginia_half = pd.merge(new_virginia_subrank, new_virginia)
virginia_99 = pd.merge(virginia_half, virginia_combined)
virginia = virginia_99.drop(0)
virginia

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,51000,Virginia,NaN,NaN,8590563,79.066032,79154,71.800204,31.8,77.814602
2,51001,Virginia,Accomack,0.395506,32238,75.339708,44127,44.612371,40,32.079966
3,51003,Virginia,Albemarle,-0.657005,110652,82.247063,79708,79.86077,27.7,71.149843
4,51005,Virginia,Alleghany,0.165697,14701,75.468018,52281,51.057502,36.4,100
5,51007,Virginia,Amelia,-0.092701,13014,74.758968,70511,44.209394,35.2,1.252955
...,...,...,...,...,...,...,...,...,...,...
130,51800,Virginia,Suffolk City,-0.078065,93913,77.205894,72264,71.573709,35.4,71.323521
131,51810,Virginia,Virginia Beach City,-0.393688,451231,80.179529,73961,76.864846,30.7,93.68279
132,51820,Virginia,Waynesboro City,0.098481,22741,75.534343,53635,59.597137,35.4,72.779206
133,51830,Virginia,Williamsburg City,-0.439904,15259,82.168829,60655,72.639044,33.6,99.502417
134,51840,Virginia,Winchester City,-0.064209,27700,77.028988,58295,61.348253,34.7,100

In [149]:
washington_subrank = pd.read_excel('2022 County Health Rankings Washington Data - v1.xlsx', 2)
washington_data = pd.read_excel('2022 County Health Rankings Washington Data - v1.xlsx', 3)
washington_data2 = pd.read_excel('2022 County Health Rankings Washington Data - v1.xlsx', 4)

In [150]:
new_washington_subrank = washington_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_washington_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
washington_combined = washington_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
washington_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_washington = washington_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_washington.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1592469028.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_washington_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1592469028.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  washington_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1592469028.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_washington.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [151]:
washington_half = pd.merge(new_washington_subrank, new_washington)
washington_99 = pd.merge(washington_half, washington_combined)
washington = washington_99.drop(0)
washington

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,53000,Washington,NaN,NaN,7693612,80.214177,80319,71.653567,28.2,78.819295
2,53001,Washington,Adams,0.666247,20027,80.047712,56421,31.684211,38.9,62.809697
3,53003,Washington,Asotin,0.134266,22820,78.215659,53377,62.298987,31.3,86.74097
4,53005,Washington,Benton,-0.179994,206426,79.882642,75882,67.232272,31.2,66.955137
5,53007,Washington,Chelan,-0.077317,77574,80.34142,61546,55.643801,27.7,71.914206
6,53009,Washington,Clallam,0.010132,78067,78.69164,54712,58.90343,28.5,63.308778
7,53011,Washington,Clark,-0.249632,496865,79.606591,76929,67.997977,33.1,89.202164
8,53013,Washington,Columbia,0.631644,4048,78.969093,58220,86.039886,30.6,5.272192
9,53015,Washington,Cowlitz,0.128216,111371,77.33585,64357,59.213211,36.9,62.817108
10,53017,Washington,Douglas,-0.054378,43560,82.436174,64768,54.056912,37.4,56.51167
11,53019,Washington,Ferry,0.575278,7759,77.750637,47722,49.41967,32.9,60.190703
12,53021,Washington,Franklin,0.12035,97075,80.324596,73656,52.805305,34.2,38.291775
13,53023,Washington,Garfield,0.371817,2290,78.051352,56804,69.879518,30.6,44.704325
14,53025,Washington,Grant,0.230183,99377,78.668034,54753,50.382307,38.8,55.218806
15,53027,Washington,Grays Harbor,0.391077,75950,76.678826,54034,51.591588,36,66.703298
16,53029,Washington,Island,-0.547326,86014,81.424539,76965,70.771951,26.7,74.547168
17,53031,Washington,Jefferson,-0.623226,32700,80.881063,66386,66.910584,27.4,78.655597
18,53033,Washington,King,-0.624429,2274315,82.276207,102620,82.11084,22.3,95.289629
19,53035,Washington,Kitsap,-0.331056,272787,80.140924,76814,72.866217,31.2,77.936392
20,53037,Washington,Kittitas,0.017641,49204,81.295109,64727,70.555714,31.9,56.179885
21,53039,Washington,Klickitat,0.268599,22697,81.522011,57476,64.91193,33.3,59.725367
22,53041,Washington,Lewis,0.144344,82109,77.01924,54578,58.591185,31.6,48.028626
23,53043,Washington,Lincoln,-0.13492,11090,80.770892,61332,71.08674,34.4,38.855251
24,53045,Washington,Mason,-0.012067,68224,79.163789,63785,48.805574,35.8,50.480239
25,53047,Washington,Okanogan,0.542268,42620,78.110297,48979,50.949062,30.6,51.590467
26,53049,Washington,Pacific,0.348859,22984,78.165519,53319,52.839806,34.2,46.276291
27,53051,Washington,Pend Oreille,0.304228,14144,76.655344,57212,45.682002,30.5,57.803246
28,53053,Washington,Pierce,-0.107781,913890,78.873465,80236,66.199899,32.1,75.118614
29,53055,Washington,San Juan,-1.047957,17492,86.272055,74533,68.533931,25.5,80.867525
30,53057,Washington,Skagit,-0.256254,130789,80.235011,78798,61.819755,30,63.502451
31,53059,Washington,Skamania,-0.007194,12107,82.602555,68501,58.955513,33.1,72.185071
32,53061,Washington,Snohomish,-0.427597,830393,80.29718,93589,70.848341,30,78.66262
33,53063,Washington,Spokane,0.075363,528225,78.316203,60827,71.706631,31.5,77.986125
34,53065,Washington,Stevens,0.15101,46360,79.506554,50958,53.905176,31.3,39.512072
35,53067,Washington,Thurston,-0.317831,294074,80.057926,79769,72.314236,33.3,68.118717
36,53069,Washington,Wahkiakum,-0.12084,4498,78.804041,62099,60.02845,34.6,0
37,53071,Washington,Walla Walla,-0.1607,61292,80.166676,61281,66.313618,30.2,80.651911
38,53073,Washington,Whatcom,-0.252562,231016,81.015818,70463,72.342425,32.6,76.332405
39,53075,Washington,Whitman,-0.161769,49500,80.575807,52066,86.244151,29.3,68.342416
40,53077,Washington,Yakima,0.491417,251879,76.9544,56353,46.862479,37.1,62.526981

In [152]:
westvirginia_subrank = pd.read_excel('2022 County Health Rankings West Virginia Data - v1.xlsx', 2)
westvirginia_data = pd.read_excel('2022 County Health Rankings West Virginia Data - v1.xlsx', 3)
westvirginia_data2 = pd.read_excel('2022 County Health Rankings West Virginia Data - v1.xlsx', 4)

In [153]:
new_westvirginia_subrank = westvirginia_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_westvirginia_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
westvirginia_combined = westvirginia_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
westvirginia_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_westvirginia = westvirginia_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_westvirginia.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\367486102.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_westvirginia_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\367486102.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westvirginia_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\367486102.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_westvirginia.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [154]:
westvirginia_half = pd.merge(new_westvirginia_subrank, new_westvirginia)
westvirginia_99 = pd.merge(westvirginia_half, westvirginia_combined)
westvirginia = westvirginia_99.drop(0)
westvirginia

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,54000,West Virginia,NaN,NaN,1784787,74.262671,49202,56.50673,39.7,49.85796
2,54001,West Virginia,Barbour,-0.178447,16444,75.047056,43773,39.143816,35.5,12.671047
3,54003,West Virginia,Berkeley,-0.548836,122125,74.876759,67163,59.054654,37.5,37.538999
4,54005,West Virginia,Boone,0.717353,21055,71.102585,49076,48.931496,43.7,1.477933
5,54007,West Virginia,Braxton,0.248157,13702,76.273068,47959,37.333333,40.4,NaN
6,54009,West Virginia,Brooke,-0.406799,21674,75.834645,50381,66.480207,37.6,57.850347
7,54011,West Virginia,Cabell,0.138884,91589,71.311645,44161,64.988285,37.5,76.287129
8,54013,West Virginia,Calhoun,0.400459,6945,76.547629,41726,47.498332,42.4,NaN
9,54015,West Virginia,Clay,0.378365,8341,71.409323,36537,29.009009,40.7,NaN
10,54017,West Virginia,Doddridge,-0.195424,8368,79.812131,50445,43.007519,39.9,34.613509
11,54019,West Virginia,Fayette,0.212798,42062,72.688842,41964,51.207443,39.1,47.355503
12,54021,West Virginia,Gilmer,-0.545695,7811,76.755688,41579,44.305622,42.7,29.598528
13,54023,West Virginia,Grant,0.013988,11510,76.574332,45624,53.737942,41.8,52.140404
14,54025,West Virginia,Greenbrier,-0.125581,34319,74.442633,40016,57.905363,40.6,46.386697
15,54027,West Virginia,Hampshire,-0.075709,23190,75.229628,53333,47.750154,39.9,23.97346
16,54029,West Virginia,Hancock,-0.217826,28571,74.441474,52305,57.388925,37.3,76.916808
17,54031,West Virginia,Hardy,-0.051205,13633,75.471902,47469,37.726524,37.2,59.864528
18,54033,West Virginia,Harrison,-0.222896,66870,75.168062,52075,56.063088,35.8,65.611659
19,54035,West Virginia,Jackson,-0.29106,28453,76.054076,52123,55.758128,41.5,33.38126
20,54037,West Virginia,Jefferson,-0.883047,57486,77.404841,85779,67.38957,35.6,36.560245
21,54039,West Virginia,Kanawha,-0.073645,176253,72.539393,47830,60.483688,39.4,63.07164
22,54041,West Virginia,Lewis,0.119342,15805,73.03894,53471,51.399076,41,11.354752
23,54043,West Virginia,Lincoln,0.546742,20043,70.795279,40741,50.607966,42.1,3.158379
24,54045,West Virginia,Logan,0.722885,31688,68.507468,38571,42.247332,44.8,15.09131
25,54047,West Virginia,McDowell,1.116628,16916,67.658594,26582,26.782693,46.2,22.801067
26,54049,West Virginia,Marion,-0.089269,55962,75.633227,58878,61.523953,40.2,55.721578
27,54051,West Virginia,Marshall,-0.203154,30103,75.718719,54028,54.329347,41.1,55.51696
28,54053,West Virginia,Mason,0.111713,26335,73.616381,44307,55.171863,43,22.222222
29,54055,West Virginia,Mercer,0.384456,58258,71.795067,42095,55.413116,39.5,49.486059
30,54057,West Virginia,Mineral,-0.364766,26722,75.506808,50300,55.385128,39.7,45.459379
31,54059,West Virginia,Mingo,0.999749,22951,70.067366,32955,36.829961,47.4,31.584634
32,54061,West Virginia,Monongalia,-0.660073,106819,79.263959,55836,74.38459,39.9,72.864881
33,54063,West Virginia,Monroe,-0.232926,13229,76.465453,46879,43.122807,41.1,26.996001
34,54065,West Virginia,Morgan,-0.189918,17873,75.513228,57432,49.516129,38.6,32.32997
35,54067,West Virginia,Nicholas,0.173243,24340,74.760906,42725,47.909221,39.3,45.823962
36,54069,West Virginia,Ohio,-0.611922,41182,74.716777,41312,66.424992,37.7,81.414396
37,54071,West Virginia,Pendleton,-0.117096,6932,76.715446,47167,47.081712,41.2,87.48538
38,54073,West Virginia,Pleasants,-0.562461,7438,76.568249,55313,47.733961,39.9,62.419461
39,54075,West Virginia,Pocahontas,-0.403913,8190,75.256773,41173,38.533627,40,92.900562
40,54077,West Virginia,Preston,-0.129375,33380,76.394099,51757,45.022954,42.7,24.349642
41,54079,West Virginia,Putnam,-0.817008,56428,76.236071,69175,67.169729,39,68.318134
42,54081,West Virginia,Raleigh,0.171491,72920,71.514889,44526,57.235307,41.1,52.127214
43,54083,West Virginia,Randolph,-0.157634,28387,76.428045,48306,39.288373,36.8,76.660432
44,54085,West Virginia,Ritchie,-0.10787,9499,76.186884,45066,44.752775,40.2,29.151115
45,54087,West Virginia,Roane,0.387553,13482,72.839771,42379,52.507677,40.4,39.300549
46,54089,West Virginia,Summers,0.144331,12444,74.131629,38692,45.56962,44.3,47.756157
47,54091,West Virginia,Taylor,0.144371,16699,75.972289,53587,47.474747,38.8,52.411956
48,54093,West Virginia,Tucker,-0.308969,6816,75.515538,44461,50.067204,40,98.543621
49,54095,West Virginia,Tyler,-0.132314,8533,77.134961,46693,50.47726,41.2,71.42702
50,54097,West Virginia,Upshur,-0.197445,24230,77.750098,46171,45.953594,39.3,57.483302
51,54099,West Virginia,Wayne,0.358434,39054,73.307054,45507,54.021112,39.6,21.265978
52,54101,West Virginia,Webster,0.557788,8058,74.30385,34396,41.885144,43.6,31.833078
53,54103,West Virginia,Wetzel,0.020755,14904,75.233092,47322,42.143306,42.7,51.305554
54,54105,West Virginia,Wirt,0.339763,5705,76.483498,49504,46.360424,41.5,33.933881
55,54107,West Virginia,Wood,-0.179335,82938,74.736933,47019,61.580298,40.2,62.646626
56,54109,West Virginia,Wyoming,0.753067,20123,71.326733,39143,42.486828,42.3,16.641452

In [155]:
wisconsin_subrank = pd.read_excel('2022 County Health Rankings Wisconsin Data - v1.xlsx', 2)
wisconsin_data = pd.read_excel('2022 County Health Rankings Wisconsin Data - v1.xlsx', 3)
wisconsin_data2 = pd.read_excel('2022 County Health Rankings Wisconsin Data - v1.xlsx', 4)

In [156]:
new_wisconsin_subrank = wisconsin_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_wisconsin_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
wisconsin_combined = wisconsin_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
wisconsin_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_wisconsin = wisconsin_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_wisconsin.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\397703690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_wisconsin_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\397703690.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wisconsin_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\397703690.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_wisconsin.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [157]:
wisconsin_half = pd.merge(new_wisconsin_subrank, new_wisconsin)
wisconsin_99 = pd.merge(wisconsin_half, wisconsin_combined)
wisconsin = wisconsin_99.drop(0)
wisconsin

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,55000,Wisconsin,NaN,NaN,5832655,78.868517,64901,69.985961,34.3,77.814698
2,55001,Wisconsin,Adams,0.516768,20498,76.882304,52060,50.699024,37.9,36.244311
3,55003,Wisconsin,Ashland,0.368311,15415,75.7875,52115,66.067747,36.7,57.813951
4,55005,Wisconsin,Barron,-0.023295,45090,78.486159,54963,60.867794,35.1,59.208633
5,55007,Wisconsin,Bayfield,-0.350954,15242,79.696285,58218,75.324675,37.5,38.597309
...,...,...,...,...,...,...,...,...,...,...
69,55133,Wisconsin,Waukesha,-0.738489,406172,81.095703,92359,82.419709,30,91.430169
70,55135,Wisconsin,Waupaca,-0.107245,50664,77.127021,67078,60.143072,38.4,69.574509
71,55137,Wisconsin,Waushara,0.228589,24326,79.133681,58929,45.564516,37.8,15.398432
72,55139,Wisconsin,Winnebago,-0.027305,171631,79.075133,64653,68.362343,33.4,80.201085
73,55141,Wisconsin,Wood,0.062983,72560,78.223786,54154,62.188904,36.4,65.701213

In [158]:
wyoming_subrank = pd.read_excel('2022 County Health Rankings Wyoming Data - v1.xlsx', 2)
wyoming_data = pd.read_excel('2022 County Health Rankings Wyoming Data - v1.xlsx', 3)
wyoming_data2 = pd.read_excel('2022 County Health Rankings Wyoming Data - v1.xlsx', 4)

In [159]:
new_wyoming_subrank = wyoming_subrank[['Unnamed: 0','Unnamed: 1','Unnamed: 2','Quality of Life']]
new_wyoming_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
wyoming_combined = wyoming_data[['Unnamed: 1', 'Unnamed: 2','Unnamed: 155','Adult obesity','Access to exercise opportunities']]
wyoming_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
new_wyoming = wyoming_data2[['Unnamed: 1', 'Unnamed: 2', 'Population', 'Life expectancy','Median household income']]
new_wyoming.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1326731830.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_wyoming_subrank.rename(columns = {'Unnamed: 0':'STCOU','Unnamed: 1':'State', 'Unnamed: 2':'County'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1326731830.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wyoming_combined.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Unnamed: 155':'Percent Some College','Adult obesity':'Adult Obesity','Access to exercise opportunities':' Percent Exercise'}, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_20140\1326731830.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_wyoming.rename(columns = {'Unnamed: 1':'State', 'Unnamed: 2':'County', 'Population':'Population', 'Life expectancy':'Life Expectancy', 'Median household income':'Median Household Income'}, inplace = True)

In [160]:
wyoming_half = pd.merge(new_wyoming_subrank, new_wyoming)
wyoming_99 = pd.merge(wyoming_half, wyoming_combined)
wyoming = wyoming_99.drop(0)
wyoming

,STCOU,State,County,Quality of Life,Population,Life Expectancy,Median Household Income,Percent Some College,Adult Obesity,Percent Exercise
1,56000,Wyoming,NaN,NaN,582328,78.083662,67284,67.26551,29.6,73.113199
2,56001,Wyoming,Albany,-0.01187,38950,80.779392,59179,84.762641,29.7,86.214496
3,56003,Wyoming,Big Horn,0.053413,11575,76.436483,54684,64.149475,31.7,45.98903
4,56005,Wyoming,Campbell,0.305343,46676,77.443823,85022,59.602896,32.1,79.28381
5,56007,Wyoming,Carbon,0.470491,14711,78.491099,66589,57.336401,32,64.96695
6,56009,Wyoming,Converse,0.197008,13804,79.102088,79304,65.633546,29.2,68.929372
7,56011,Wyoming,Crook,-0.131795,7593,78.782302,67443,62.459124,29.1,64.054779
8,56013,Wyoming,Fremont,0.341674,39317,73.027828,52010,63.250241,27.8,59.088303
9,56015,Wyoming,Goshen,-0.072094,13235,77.884951,51398,70.346021,31.2,66.057816
10,56017,Wyoming,Hot Springs,0.045245,4425,72.29892,48864,73.219979,30.2,76.641729
11,56019,Wyoming,Johnson,-0.231616,8588,79.900213,62671,66.267123,29.4,62.049247
12,56021,Wyoming,Laramie,0.115149,100595,77.954066,69450,72.123501,28.7,66.095838
13,56023,Wyoming,Lincoln,-0.008891,20253,79.039542,73062,61.147903,27,68.281233
14,56025,Wyoming,Natrona,0.173142,80815,76.570673,65901,65.707974,31.1,83.480451
15,56027,Wyoming,Niobrara,0.310259,2275,78.67473,52837,59.118541,34,70.169082
16,56029,Wyoming,Park,-0.452745,29331,80.495632,63093,73.987304,27.5,63.995745
17,56031,Wyoming,Platte,0.103488,8578,76.71552,60178,54.655445,31.1,74.316372
18,56033,Wyoming,Sheridan,-0.496258,30863,79.077952,59947,66.030856,27.9,82.466685
19,56035,Wyoming,Sublette,-0.241652,9856,81.225276,82442,65.630324,25.7,45.086367
20,56037,Wyoming,Sweetwater,0.216082,42673,76.454661,70583,61.926416,33.5,83.073095
21,56039,Wyoming,Teton,-0.814625,23497,86.714291,92488,76.039794,22.2,96.496666
22,56041,Wyoming,Uinta,0.399957,20215,77.001445,71246,57.703349,29.8,78.880576
23,56043,Wyoming,Washakie,-0.138308,7760,78.762004,58532,62.403952,28.9,76.292043
24,56045,Wyoming,Weston,-0.131395,6743,80.669458,58901,58.281829,33.4,28.232519

In [161]:
lllll. alas = pd.DataFrame(alaska). hawa = pd.DataFrame(hawaii). PACIFIC = pd.concat([alas, cali, hawa, oreg, wash])

NameError: name 'alas' is not defined

In [ ]:
wash = pd.DataFrame(washington)
oreg = pd.DataFrame(oregon)
cali = pd.DataFrame(california)
PACIFIC = pd.concat([cali, oreg, wash])
PACIFIC

In [ ]:
mont = pd.DataFrame(montana)
wyom = pd.DataFrame(wyoming)
colo = pd.DataFrame(colorado)
uta = pd.DataFrame(utah)
idah = pd.DataFrame(idaho)
neva = pd.DataFrame(nevada)
ROCKIES = pd.concat([colo, idah, mont, neva, uta, wyom])
ROCKIES

In [ ]:
ariz = pd.DataFrame(arizona)
newm = pd.DataFrame(newmexico)
okla = pd.DataFrame(oklahoma)
texa = pd.DataFrame(texas)
SOUTHWEST = pd.concat([ariz, newm, okla, texa])
SOUTHWEST

In [ ]:
illi = pd.DataFrame(illinois)
indi = pd.DataFrame(indiana)
iow = pd.DataFrame(iowa)
kans = pd.DataFrame(kansas)
mich = pd.DataFrame(michigan)
minn = pd.DataFrame(minnesota)
misso = pd.DataFrame(missouri)
nebr = pd.DataFrame(nebraska)
northd = pd.DataFrame(northdakota)
ohi = pd.DataFrame(ohio)
southd = pd.DataFrame(southdakota)
wisc = pd.DataFrame(wisconsin)
MIDWEST = pd.concat([illi, indi, iow, kans, mich, minn, misso, nebr, northd, ohi, southd, wisc])
MIDWEST

In [ ]:
alab = pd.DataFrame(alabama)
arka = pd.DataFrame(arkansas)
flor = pd.DataFrame(florida)
geor = pd.DataFrame(georgia)
kent = pd.DataFrame(kentucky)
loui = pd.DataFrame(louisiana)
missi = pd.DataFrame(mississippi)
northc = pd.DataFrame(northcarolina)
southc = pd.DataFrame(southcarolina)
tenn = pd.DataFrame(tennessee)
virg = pd.DataFrame(virginia)
west = pd.DataFrame(westvirginia)
SOUTHEAST = pd.concat([alab, arka, flor, geor, kent, loui, missi, northc, southc, tenn, virg, west])
SOUTHEAST

In [ ]:
dela = pd.DataFrame(delaware)
mary = pd.DataFrame(maryland)
newj = pd.DataFrame(newjersey)
newy = pd.DataFrame(newyork)
penn = pd.DataFrame(pennsylvania)
MIDATLANTIC = pd.concat([dela, mary, newj, newy, penn])
MIDATLANTIC

In [ ]:
conn = pd.DataFrame(connecticut)
main = pd.DataFrame(maine)
mass = pd.DataFrame(massachusetts)
newh = pd.DataFrame(newhampshire)
rhod = pd.DataFrame(rhodeisland)
verm = pd.DataFrame(vermont)
NORTHEAST = pd.concat([conn, main, mass, newh, rhod, verm])
NORTHEAST

In [ ]:
PACI = pd.DataFrame(PACIFIC)
ROCK = pd.DataFrame(ROCKIES)
SOUTHW = pd.DataFrame(SOUTHWEST)
MIDW = pd.DataFrame(MIDWEST)
SOUTHE = pd.DataFrame(SOUTHEAST)
MIDA = pd.DataFrame(MIDATLANTIC)
NORT = pd.DataFrame(NORTHEAST)
USA_FULL = pd.concat([PACI, ROCK, SOUTHW, MIDW, SOUTHE, MIDA, NORT])
USA_FULL

In [ ]:
sort_usa = USA_FULL.sort_values(['State','County'])
sort_usa

In [ ]:
sort_county=USA_FULL.sort_values('County')
sort_county.tail(50)

In [ ]:
new_counties = sort_county.reset_index(drop=True)
new_counties.tail(51)

In [ ]:
counties2 = new_counties.drop([3107, 3108, 3109, 3110, 3111, 3112, 3113, 3114, 3115, 3116, 3117, 3118, 3119, 3120, 3121, 3122, 3123, 3124, 3125, 3126, 3127, 3128, 3128, 3129, 3130, 3131, 3132, 3133, 3134, 3135, 3136, 3137, 3138, 3139, 3140, 3141, 3142, 3143, 3144, 3145, 3146, 3147, 3148, 3149, 3150, 3151, 3152, 3153, 3154])
counties2

In [ ]:
counties2.index = np.arange(1, len(counties2) + 1)
counties2

In [ ]:
COUNTIES99 = counties2.sort_values(['State','County'])
COUNTIES99

In [ ]:
COUNTIES = COUNTIES99.reset_index(drop=True)
COUNTIES.index = np.arange(1, len(COUNTIES) + 1)
COUNTIES

In [ ]:
COUNTIES.to_csv('../data/usa_counties_contiguous.csv')

In [ ]:
all50 = sort_county.tail(50)
all50

In [ ]:
states_area = pd.read_csv('STATES_AREA_FIXED.csv')
states_area.head()

In [ ]:
STATES = all50.sort_values('State')
STATES

In [ ]:
STATES['State'] = STATES['State'].str.upper()
STATES

In [ ]:
STATES_FULLISH = pd.merge(STATES, states_area, on = ['State', 'County'], how = "inner")
STATES_FULLISH

In [ ]:
STATES_FULLISH.drop('Unnamed: 0', inplace=True, axis=1)
STATES_FULLISH

In [ ]:
STATES_FULLISH['Density'] = STATES_FULLISH['Population'] / STATES_FULLISH['sq_miles']
STATES_FULLISH

In [ ]:
STATES_FULLISH.describe()

In [ ]:
top_QOL_county = COUNTIES.sort_values("Quality of Life", axis=0, ascending=True)
top_QOL_county

In [ ]:
bottom_QOL_county = COUNTIES.sort_values("Quality of Life", axis=0, ascending=False)
bottom_QOL_county

In [ ]:
low_POP_county = COUNTIES.sort_values("Population", axis=0, ascending=True)
low_POP_county

In [ ]:
high_POP_county = COUNTIES.sort_values("Population", axis=0, ascending=False)
high_POP_county

In [ ]:
AVG = COUNTIES.mean()
AVG

In [ ]:
top_LIFE_county = COUNTIES.sort_values("Life Expectancy", axis=0, ascending=False)
top_LIFE_county

In [ ]:
bottom_LIFE_county = COUNTIES.sort_values("Life Expectancy", axis=0, ascending=True)
bottom_LIFE_county

In [ ]:
top_MHI_county = COUNTIES.sort_values("Median Household Income", axis=0, ascending=False)
top_MHI_county

In [ ]:
bottom_MHI_county = COUNTIES.sort_values("Median Household Income", axis=0, ascending=True)
bottom_MHI_county

In [ ]:
top_PSC_county = COUNTIES.sort_values("Percent Some College", axis=0, ascending=False)
top_PSC_county

In [ ]:
bottom_PSC_county = COUNTIES.sort_values("Percent Some College", axis=0, ascending=True)
bottom_PSC_county

In [ ]:
high_AO_county = COUNTIES.sort_values("Adult Obesity", axis=0, ascending=False)
high_AO_county

In [ ]:
low_AO_county = COUNTIES.sort_values("Adult Obesity", axis=0, ascending=True)
low_AO_county

In [ ]:
COUNTIES

In [ ]:
geo = pd.read_csv("../data/geometry_counties.csv")
geo

In [ ]:
geo.rename(columns = {'Unnamed: 0':'Number', 'NAME':'County', 'STATE_NAME' : 'State'}, inplace = True)
geo

In [ ]:
geo.drop('Number', inplace=True, axis=1)
geo

In [ ]:
work = pd.merge(COUNTIES, geo, on = ["County",'State'], how = "inner")

In [ ]:
work

In [ ]:
work.to_csv('../data/countiesgeo.csv')